<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Qk {% block html_title %}{% end %}</title>
<meta name="description" content="Organize and Share Knowledges.">
<meta name="author" content="viirak">
{% block extra_css_00 %}{% end %}
</head>
<body>
<div id="page" class="page {% block page_classes %}{% end %}">
{% block body %}{% end %}
</div>
<script src="{{ static_url("js/lib/jquery-1.10.2.min.js") }}"></script>
{% block extra_js_00 %}{% end %}
</body>
</html>