<div style="">
    <div id="page" style="width:99%;background:#fff;border:1px solid #ccc">
        <div id="page_header" style="background:rgb(136, 255, 174);border-bottom:1px solid #ccc;">
            <h1 class="title" style="padding: 8px 0px; margin: 0px 20px; font-size: 18px;">Qakara</h1>
        </div>
        <div id="page_body" style="padding:20px 30px;">
            <p>Hi {{ first_name }},</p>
            <p>Please confirm your email account by clicking on the following link:</p>
            <div style="border: 1px solid #ccc;font-size:18px;padding: 5px 20px;background: #f5f5f5;">
            <a href="https://qakara.com/confirm_email/{{ token }}">https://qakara.com/confirm_email/{{ token }}</a></div>
            <p>Once you confirm, you will have full access and all future notifications will be sent to this email address.</p>
            <p>{{ app_name }} team</p>
            <div style="font-size:11px; color:#999; margin-top:20px; border-top:1px solid #ddd; padding-top:10px;">
                This message was sent to {{ email }} at your request.<br />{{ app_name }}
            </div>
        </div>
    </div>
</div>
