<div style="">
    <div id="page" style="width:99%;background:#fff;border:1px solid #ccc">
        <div id="page_header" style="background:rgb(136, 255, 174);border-bottom:1px solid #ccc;">
            <h1 class="title" style="padding: 8px 0px; margin: 0px 20px; font-size: 18px;">Qakara</h1>
        </div>
        <div id="page_body" style="padding:20px 30px;">
            <p>Hi {{ first_name }},</p>
            <p>Welcome to {{ app_name }} and thanks for signing up! There is just one more step to activate your registration, please click on the link bellow to complete:</p>
            <div style="border: 1px solid #ccc;font-size:18px;padding: 5px 20px;background: #f5f5f5;">
            <a href="https://qakara.com/confirm_email/{{ token }}">Confirm Email</a></div>
            <p>Thanks for joining us.</p>
            <p>{{ app_name }} team.</p>
            <div style="font-size:11px; color:#999; margin-top:20px; border-top:1px solid #ddd; padding-top:10px;">
                This message was sent to {{ email }} at your request.<br />{{ app_name }}
            </div>
        </div>
    </div>
</div>
