// out: auth.css, sourcemap: false, compress: false

@import "base";

div#centerCol {
  width: 500px;
  margin: 100px 0 0 200px;
}
div#page-header {
  height: 42px;
  line-height: 42px;
  padding-left: 16px;

  h2#site-name {
    float: left;
    margin-right: 10px;
    a{
      color: #d3d3d3;
      &:hover{
        color: #0000ff;
        text-decoration: none;
      }
    }
    a.active{
      color: #000000;
    }
    
  }

  #authmenu{
    margin: 0;
    padding: 0;
    .item{
      display: inline;
      .lnk{
        padding: 0 10px;
        color: #d3d3d3;
        &:hover{
          color: blue;
        }
      }
      .active{
        color: #000000;
      }
    }
    .item.qkr{
      font-size: 20px;
    }
  }
}

.submitError{
  margin-bottom: 10px;
}

// AUTH FORM
// -------------
.authForm{
  max-width: 300px;
  min-width: 200px;
  .inpBdr{ margin-bottom: 8px; }
  .fieldError { display: block; margin:0 8px 8px; font-size: 11px; }
}
