/* fonts */
.verdana {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.arial {
  font-family: Arial, Helvetica, sans-serif;
}
.centuryGothic {
  font-family: 'century gothic', verdana, arial, helvetica, sans-serif;
}
/**
 *
 * HTML ELEMENTS
 *
 */
/* You can put your HTML reset declarations in here if you like */
/**
 *
 * BORDER RADIUS
 *
 */
/* clears the border radius from an element */
.noBorderRadius {
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}
/**
 *
 * BOX SHADOWS
 *
 */
/* same as above, except with spread. not sure what uses above so i may screw it up */
.noBoxShadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/**
 *
 * GRADIENTS
 *
 */
/**
 *
 * TRANSITIONS
 *
 */
.noTransition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/**
 *
 * REUSABLE ELEMENTS
 *
 */
/* simple table */
.simpleTable th,
.simpleTable td,
.simpleTable tr,
.simpleTable tbody {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
/* disables selection */
.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* enables selection */
.select {
  -moz-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
}
/* overflow ellipsis */
.overflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* opacity */
/* clearfix */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
body {
  font-size: 14px;
  line-height: 16px;
  font-family: 'PT Serif Caption', serif;
}
body {
  margin: 0;
  background-color: #ECECEC;
  color: #000000;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.disabled {
  cursor: default;
  color: #BBB;
  pointer-events: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
hr {
  border: none;
  font-size: 1px;
  border-top: 1px ridge #DDD;
}
abbr[title] {
  border-bottom: none;
}
.hide {
  display: none;
}
.right {
  float: right;
}
.clear {
  clear: left;
  font-size: 1px;
}
.gray {
  color: gray;
}
.gray-text {
  color: #999;
}
.dBlock {
  display: block;
}
.small {
  font-size: 11px;
}
.smallHintText {
  font-size: 11px;
  color: #999;
}
.row {
  display: block;
  margin-bottom: 5px;
}
.error,
.fieldError,
.submitError {
  color: red;
}
button,
.uiBtn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #CCC;
  border-bottom-color: #AAA;
  border-right-color: #AAA;
  padding: 6px 10px;
  margin: 0;
  font-family: 'PT Serif Caption', serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: black;
  background-color: #DDD;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset;
  outline: none;
  border-radius: 0px;
}
button:active,
.uiBtn:active {
  background-color: darkslategray;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  top: 1px;
}
button:hover,
.uiBtn:hover {
  text-decoration: none;
  border-color: darkslategray;
}
button .icon,
.uiBtn .icon {
  float: left;
  width: 16px;
  height: 16px;
  background: #CCC;
  margin-right: 5px;
}
.uiBtnOrange {
  background-color: orange;
  color: white;
}
.uiBtnDark {
  background: #333;
  border-color: #222;
  color: white;
  -moz-box-shadow: 1px 1px 0 rgba(150, 150, 150, 0.7) inset;
  -webkit-box-shadow: 1px 1px 0 rgba(150, 150, 150, 0.7) inset;
  box-shadow: 1px 1px 0 rgba(150, 150, 150, 0.7) inset;
}
.uiBtnDelete {
  background-color: red;
  color: white;
  border-color: #666;
}
.inpBdr {
  position: relative;
  border: 1px solid #DDDDDD;
  background-color: white;
  -moz-box-shadow: inset 0 0 3px #f2f2f2;
  -webkit-box-shadow: inset 0 0 3px #f2f2f2;
  box-shadow: inset 0 0 3px #f2f2f2;
  padding: 6px 8px;
}
.inpBdr:hover {
  border-color: darkslategray;
}
.uiTextInp {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'PT serif caption', serif;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  width: 99%;
  outline: none;
  border: none;
  background: none;
}
.uiTextInp:focus {
  background-color: #FFFFED;
}
.uiTextArea {
  height: 50px;
}
.uiTextareaNoResize {
  resize: none;
}
.uiTextInputNoOutline {
  outline: none;
}
.uiTextareaAutogrow {
  overflow: hidden;
}
.uiDisabled,
.uiBtnDisabled {
  pointer-events: none;
  opacity: 0.2;
  background: none;
  color: #999;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #999;
}
.profileImg {
  float: left;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid #FFF;
  background-color: #DDD;
  box-shadow: 1px 1px 3px #CCC;
  -moz-box-shadow: 1px 1px 3px #CCC;
  -webkit-box-shadow: 1px 1px 3px #CCC;
  position: relative;
  top: -3px;
}
.profileName {
  margin-left: 5px;
}
.box .title,
.box .boxTitle {
  margin-bottom: 10px;
}
a.tag {
  margin-left: 5px;
}
a.tag:first-child {
  margin-left: 0;
}
h1.pageTitle {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}
h1.pageTitle .titleVar {
  color: #cccccc;
}
#flashbar {
  position: relative;
  background-color: deepskyblue;
  color: white;
  border-bottom: 1px solid #888;
  width: 100%;
}
#flashbar .message {
  line-height: 40px;
  text-align: center;
}
#flashbar .xbt {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
}
#flashbar .xbt:hover {
  background-color: #69D9FF;
  text-decoration: none;
}
#flashbar.fixedtop {
  position: fixed;
  top: 0;
  z-index: 10;
}
div#centerCol {
  width: 500px;
  margin: 100px 0 0 200px;
}
div#page-header {
  height: 42px;
  line-height: 42px;
  padding-left: 16px;
}
div#page-header h2#site-name {
  float: left;
  margin-right: 10px;
}
div#page-header h2#site-name a {
  color: #d3d3d3;
}
div#page-header h2#site-name a:hover {
  color: #0000ff;
  text-decoration: none;
}
div#page-header h2#site-name a.active {
  color: #000000;
}
div#page-header #authmenu {
  margin: 0;
  padding: 0;
}
div#page-header #authmenu .item {
  display: inline;
}
div#page-header #authmenu .item .lnk {
  padding: 0 10px;
  color: #d3d3d3;
}
div#page-header #authmenu .item .lnk:hover {
  color: blue;
}
div#page-header #authmenu .item .active {
  color: #000000;
}
div#page-header #authmenu .item.qkr {
  font-size: 20px;
}
.submitError {
  margin-bottom: 10px;
}
.authForm {
  max-width: 300px;
  min-width: 200px;
}
.authForm .inpBdr {
  margin-bottom: 8px;
}
.authForm .fieldError {
  display: block;
  margin: 0 8px 8px;
  font-size: 11px;
}
