// out: base.css, sourcemap: false, compress: false

@import "lib/common";
//@import "lib/normalize.min.css";
//@import "lib/nprogress.min.css";
//@import "lib/perfect-scrollbar.min.css";
//@import "lib/popModal.min.css";

// ------------------------------------
//    FONTS
// ------------------------------------

body{
  font-size: 14px;
  line-height: 16px;
  font-family: 'PT Serif Caption', serif;
}

// ------------------------------------
//    COMPONENT
// ------------------------------------

body {
  margin: 0;
  background-color: #ECECEC;
  color: #000000;
}
a{
  &:link{ text-decoration: none; }
  &:hover { text-decoration: underline; }
}
a.disabled {
  cursor: default;
  color: #BBB;
  pointer-events: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
hr {
  border: none;
  font-size: 1px;
  border-top: 1px ridge #DDD;
}
abbr[title] { border-bottom: none; }
.hide { display: none; }
.right { float: right; }
.clear { clear: left; font-size: 1px; }
.gray { color: gray; }
.gray-text { color: #999; }
.dBlock { display: block; }
.small { font-size: 11px; }
.smallHintText { font-size: 11px; color: #999; }
.row { display: block; margin-bottom: 5px; }
.error, .fieldError, .submitError { color: red; }

// BUTTONS
button,
.uiBtn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #CCC;
  border-bottom-color: #AAA;
  border-right-color: #AAA;
  padding: 6px 10px;
  margin: 0;
  font-family: 'PT Serif Caption', serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: black;
  background-color: #DDD;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset;
  outline: none;
  border-radius: 0px;

  &:active {
    background-color: darkslategray;
    color: white;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    top: 1px;
  }
  &:hover {
    text-decoration: none;
    border-color: darkslategray;
  }
  .icon {
    float: left;
    width: 16px;
    height: 16px;
    background: #CCC;
    margin-right: 5px;
  }
}
.uiBtnOrange {
  background-color: orange;
  color: white;
}
.uiBtnDark {
  background: #333;
  border-color: #222;
  color: white;
  -moz-box-shadow: 1px 1px 0 rgba(150, 150, 150, 0.7) inset;
  -webkit-box-shadow: 1px 1px 0 rgba(150, 150, 150, 0.7) inset;
  box-shadow: 1px 1px 0 rgba(150, 150, 150, 0.7) inset;
}
.uiBtnDelete {
  background-color: red;
  color: white;
  border-color: #666;
}

// TEXTFIELD TEXTAREA

.inpBdr{
  position: relative;
  border: 1px solid #DDDDDD;
  background-color: white;
  -moz-box-shadow: inset 0 0 3px #f2f2f2;
  -webkit-box-shadow: inset 0 0 3px #f2f2f2;
  box-shadow: inset 0 0 3px #f2f2f2;
  padding: 6px 8px;
  &:hover{
    border-color: darkslategray;
  }
}
.uiTextInp{
  display: block;
  margin: 0; padding: 0;
  font-family: 'PT serif caption', serif;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  width: 99%;
  outline: none;
  border: none;
  background: none;
  &:focus{
    background-color: #FFFFED;
  }
}

.uiTextArea{
  height: 50px;
}
.uiTextareaNoResize { resize: none; }
.uiTextInputNoOutline { outline: none; }
.uiTextareaAutogrow { overflow: hidden; }

.uiDisabled, .uiBtnDisabled {
  pointer-events: none;
  opacity: 0.2;
  background: none;
  color: #999;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #999;
}

// PROFILE IMG & NAMES
.profileImg {
  float: left;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid #FFF;
  background-color: #DDD;
  box-shadow: 1px 1px 3px #CCC;
  -moz-box-shadow: 1px 1px 3px #CCC;
  -webkit-box-shadow: 1px 1px 3px #CCC;
  position:relative;
  top: -3px;
}
.profileName {
  margin-left: 5px;
}

// Block Box ------------
.box{
  .title, .boxTitle{
    margin-bottom: 10px;
  }
}

// Tag link
a.tag {
  margin-left: 5px;
  &:first-child{ margin-left: 0; }
  &:hover{}
}

// Page title
h1.pageTitle{
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
  .titleVar{
    color: #cccccc;
  }
}

// Flash message
#flashbar{
  position:relative;
  background-color: deepskyblue;
  color:white;
  border-bottom: 1px solid #888;
  width: 100%;
  .message{
    line-height: 40px;
    text-align: center;
  }
  .xbt{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    &:hover{
      background-color: #69D9FF;
      text-decoration: none;
    }
  }
}

#flashbar.fixedtop{
  position: fixed;
  top: 0;
  z-index: 10;
}
