/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */
/* fonts */
.verdana {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.arial {
  font-family: Arial, Helvetica, sans-serif;
}
.centuryGothic {
  font-family: 'century gothic', verdana, arial, helvetica, sans-serif;
}
/**
 *
 * HTML ELEMENTS
 *
 */
/* You can put your HTML reset declarations in here if you like */
/**
 *
 * BORDER RADIUS
 *
 */
/* clears the border radius from an element */
.noBorderRadius {
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}
/**
 *
 * BOX SHADOWS
 *
 */
/* same as above, except with spread. not sure what uses above so i may screw it up */
.noBoxShadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/**
 *
 * GRADIENTS
 *
 */
/**
 *
 * TRANSITIONS
 *
 */
.noTransition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/**
 *
 * REUSABLE ELEMENTS
 *
 */
/* simple table */
.simpleTable th,
.simpleTable td,
.simpleTable tr,
.simpleTable tbody {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
/* disables selection */
.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* enables selection */
.select {
  -moz-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
}
/* overflow ellipsis */
.overflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* opacity */
/* clearfix */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
body {
  font-size: 14px;
  line-height: 16px;
  font-family: 'PT Serif Caption', serif;
}
body {
  margin: 0;
  background-color: #ECECEC;
  color: #000000;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.disabled {
  cursor: default;
  color: #BBB;
  pointer-events: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
hr {
  border: none;
  font-size: 1px;
  border-top: 1px ridge #DDD;
}
abbr[title] {
  border-bottom: none;
}
.hide {
  display: none;
}
.right {
  float: right;
}
.clear {
  clear: left;
  font-size: 1px;
}
.gray {
  color: gray;
}
.gray-text {
  color: #999;
}
.dBlock {
  display: block;
}
.small {
  font-size: 11px;
}
.smallHintText {
  font-size: 11px;
  color: #999;
}
.row {
  display: block;
  margin-bottom: 5px;
}
.error,
.fieldError,
.submitError {
  color: red;
}
button,
.uiBtn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #CCC;
  border-bottom-color: #AAA;
  border-right-color: #AAA;
  padding: 6px 10px;
  margin: 0;
  font-family: 'PT Serif Caption', serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: black;
  background-color: #DDD;
  cursor: pointer;
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset;
  outline: none;
  border-radius: 0px;
}
button:active,
.uiBtn:active {
  background-color: darkslategray;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  top: 1px;
}
button:hover,
.uiBtn:hover {
  text-decoration: none;
  border-color: darkslategray;
}
button .icon,
.uiBtn .icon {
  float: left;
  width: 16px;
  height: 16px;
  background: #CCC;
  margin-right: 5px;
}
.uiBtnOrange {
  background-color: orange;
  color: white;
}
.uiBtnDark {
  background: #333;
  border-color: #222;
  color: white;
  -moz-box-shadow: 1px 1px 0 rgba(150, 150, 150, 0.7) inset;
  -webkit-box-shadow: 1px 1px 0 rgba(150, 150, 150, 0.7) inset;
  box-shadow: 1px 1px 0 rgba(150, 150, 150, 0.7) inset;
}
.uiBtnDelete {
  background-color: red;
  color: white;
  border-color: #666;
}
.inpBdr {
  position: relative;
  border: 1px solid #DDDDDD;
  background-color: white;
  -moz-box-shadow: inset 0 0 3px #f2f2f2;
  -webkit-box-shadow: inset 0 0 3px #f2f2f2;
  box-shadow: inset 0 0 3px #f2f2f2;
  padding: 6px 8px;
}
.inpBdr:hover {
  border-color: darkslategray;
}
.uiTextInp {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'PT serif caption', serif;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  width: 99%;
  outline: none;
  border: none;
  background: none;
}
.uiTextInp:focus {
  background-color: #FFFFED;
}
.uiTextArea {
  height: 50px;
}
.uiTextareaNoResize {
  resize: none;
}
.uiTextInputNoOutline {
  outline: none;
}
.uiTextareaAutogrow {
  overflow: hidden;
}
.uiDisabled,
.uiBtnDisabled {
  pointer-events: none;
  opacity: 0.2;
  background: none;
  color: #999;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #999;
}
.profileImg {
  float: left;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid #FFF;
  background-color: #DDD;
  box-shadow: 1px 1px 3px #CCC;
  -moz-box-shadow: 1px 1px 3px #CCC;
  -webkit-box-shadow: 1px 1px 3px #CCC;
  position: relative;
  top: -3px;
}
.profileName {
  margin-left: 5px;
}
.box .title,
.box .boxTitle {
  margin-bottom: 10px;
}
a.tag {
  margin-left: 5px;
}
a.tag:first-child {
  margin-left: 0;
}
h1.pageTitle {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}
h1.pageTitle .titleVar {
  color: #cccccc;
}
#flashbar {
  position: relative;
  background-color: deepskyblue;
  color: white;
  border-bottom: 1px solid #888;
  width: 100%;
}
#flashbar .message {
  line-height: 40px;
  text-align: center;
}
#flashbar .xbt {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
}
#flashbar .xbt:hover {
  background-color: #69D9FF;
  text-decoration: none;
}
#flashbar.fixedtop {
  position: fixed;
  top: 0;
  z-index: 10;
}
#topbar {
  background: #F5F5F5;
  border-bottom: 1px solid #DEDEDE;
  height: 42px;
  line-height: 42px;
  width: 100%;
  position: fixed;
  z-index: 10;
}
#topbar .wpr {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 42px;
}
#topbar #uiIptSearch {
  font-family: 'PT serif caption', serif;
  width: 478px;
  padding: 6px 10px;
  height: 18px;
  line-height: 20px;
  font-size: 16px;
  float: left;
  margin-top: 8px;
  outline: none;
  margin-left: 70px;
  border: 1px solid #DDD;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#topbar #um {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 42px;
}
#topbar #um .umitem {
  display: inline;
  float: left;
  overflow: hidden;
  height: 42px;
  width: 40px;
  position: relative;
  text-align: center;
}
#topbar #um .umitem .logo {
  font-size: 22px;
  color: #cccccc;
  text-decoration: none;
}
#topbar #um .umitem .logo:hover {
  color: black;
}
#topbar #um .umitem .umlnk {
  width: 32px;
  height: 42px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  text-indent: 136px;
  opacity: 0.3;
}
#topbar #um .umitem .umlnk:hover {
  opacity: 1;
  text-decoration: none;
}
#topbar #um .umitem .umlnk.on {
  opacity: 1;
}
#topbar #um #uimg {
  overflow: visible;
}
#topbar #um #uimg .umlnk {
  cursor: pointer;
  opacity: 1;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  top: 5px;
  left: 0;
  width: 32px;
  height: 32px;
  background: #CCCCCC;
  vertical-align: middle;
  text-indent: 0;
}
#topbar #um #uimg .popModal {
  max-width: 200px;
}
#topbar #um #unotif {
  width: 32px;
  overflow: visible;
}
#topbar #um #unotif .umlnk {
  background: url("../images/qkico16.png") 1px 9px transparent no-repeat;
}
#topbar #um #unotif .count {
  position: absolute;
  top: 3px;
  left: 15px;
  background: red;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: white;
  padding: 0 2px;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #AAA;
}
#topbar #um #unotif .popModal {
  max-width: 452px;
}
#topbar #um #uplus {
  width: 32px;
  overflow: visible;
}
#topbar #um #uplus .umlnk {
  text-indent: 110px;
  line-height: 42px;
  font-size: 28px;
  background: url("../images/qkico16.png") -27px 8px transparent no-repeat;
}
#topbar #um .umitem.search {
  width: 552px;
  margin-left: 67px;
  text-align: left;
}
#topbar #um .umitem.search .inpBdr {
  top: 5px;
}
#topbar #topmenu {
  position: relative;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  height: 42px;
  background: #F0F0F0;
}
#topbar #topmenu .leaf.logo a {
  text-transform: none;
  font-size: 22px;
  line-height: 36px;
}
#topbar #topmenu .leaf {
  display: inline;
}
#topbar #topmenu .leaf .ma {
  float: left;
  font-size: 13px;
  margin-right: 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: lightgray;
}
#topbar #topmenu .leaf .ma:hover {
  color: blue;
}
#topbar #topmenu .leaf .active {
  border-bottom: 2px solid red;
  color: black;
  font-weight: bold;
}
#topbar.hasflash {
  top: 41px;
}
.stream,
.postSoloView {
  position: relative;
}
.stream .list,
.postSoloView .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post,
.postView,
#postSolo {
  margin-bottom: 30px;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-family: 'PT Serif Caption', serif;
}
.post .sublist,
.postView .sublist,
#postSolo .sublist {
  margin: 0;
  padding: 0;
}
.post .postdate,
.postView .postdate,
#postSolo .postdate {
  position: absolute;
  top: 28px;
  left: -60px;
  text-align: right;
  color: #DDDDDD;
  text-transform: uppercase;
  font-weight: bold;
}
.post .postdate span,
.postView .postdate span,
#postSolo .postdate span {
  display: block;
}
.post .postdate .daynum,
.postView .postdate .daynum,
#postSolo .postdate .daynum {
  font-size: 40px;
  line-height: 38px;
  font-weight: bold;
  font-family: sans-serif;
}
.post .postdate .monthname,
.postView .postdate .monthname,
#postSolo .postdate .monthname {
  font-size: 9px;
  line-height: 11px;
}
.post .header,
.postView .header,
#postSolo .header {
  margin: 0 5px;
  background: #FAFAFA;
  border: 1px solid #DDD;
  border-bottom: none;
  color: #CCC;
}
.post .header .wpr,
.postView .header .wpr,
#postSolo .header .wpr {
  padding: 5px 10px 5px 60px;
}
.post .header .pimgbox,
.postView .header .pimgbox,
#postSolo .header .pimgbox {
  position: absolute;
  left: 18px;
  top: -8px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 2px solid #FFFFFF;
  background: #E6E6E6;
  z-index: 1;
}
.post .main,
.postView .main,
#postSolo .main {
  position: relative;
}
.post .main .wpr,
.postView .main .wpr,
#postSolo .main .wpr {
  border: 1px solid #DADADA;
  background: #fff;
}
.post .main .wpr .pictures,
.postView .main .wpr .pictures,
#postSolo .main .wpr .pictures {
  font-size: 0;
  line-height: 0;
  margin: 0;
  overflow: hidden;
}
.post .main .wpr .pictures .thumb,
.postView .main .wpr .pictures .thumb,
#postSolo .main .wpr .pictures .thumb {
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  font-size: 0;
  line-height: 0;
}
.post .main .wpr .pictures .thumb:last-child,
.postView .main .wpr .pictures .thumb:last-child,
#postSolo .main .wpr .pictures .thumb:last-child {
  margin-right: 0;
}
.post .main .wpr .pictures .thumb a.uiPostPhoto,
.postView .main .wpr .pictures .thumb a.uiPostPhoto,
#postSolo .main .wpr .pictures .thumb a.uiPostPhoto {
  outline: none;
}
.post .main .wpr .pictures .thumb.c1,
.postView .main .wpr .pictures .thumb.c1,
#postSolo .main .wpr .pictures .thumb.c1 {
  width: 100%;
}
.post .main .wpr .pictures .thumb.c2,
.postView .main .wpr .pictures .thumb.c2,
#postSolo .main .wpr .pictures .thumb.c2 {
  width: 49.8%;
}
.post .main .wpr .pictures .thumb.c3,
.postView .main .wpr .pictures .thumb.c3,
#postSolo .main .wpr .pictures .thumb.c3 {
  width: 33.1%;
}
.post .main .wpr .pictures .thumb.c4,
.postView .main .wpr .pictures .thumb.c4,
#postSolo .main .wpr .pictures .thumb.c4 {
  width: 24.7%;
}
.post .main .wpr .pictures .small,
.postView .main .wpr .pictures .small,
#postSolo .main .wpr .pictures .small {
  margin-left: 20px;
  margin-top: 20px;
}
.post .main .wpr .layoutH .thumb:first-child,
.postView .main .wpr .layoutH .thumb:first-child,
#postSolo .main .wpr .layoutH .thumb:first-child {
  margin-bottom: 2px;
}
.post .main .wpr .layoutH .thumb.c2,
.postView .main .wpr .layoutH .thumb.c2,
#postSolo .main .wpr .layoutH .thumb.c2 {
  width: 100%;
}
.post .main .wpr .layoutH .thumb.c3,
.postView .main .wpr .layoutH .thumb.c3,
#postSolo .main .wpr .layoutH .thumb.c3 {
  width: 49.8%;
}
.post .main .wpr .layoutH .thumb.c3:first-child,
.postView .main .wpr .layoutH .thumb.c3:first-child,
#postSolo .main .wpr .layoutH .thumb.c3:first-child {
  width: 99.9%;
  margin-right: 0;
}
.post .main .wpr .layoutH .thumb.c4,
.postView .main .wpr .layoutH .thumb.c4,
#postSolo .main .wpr .layoutH .thumb.c4 {
  width: 33%;
}
.post .main .wpr .layoutH .thumb.c4:first-child,
.postView .main .wpr .layoutH .thumb.c4:first-child,
#postSolo .main .wpr .layoutH .thumb.c4:first-child {
  width: 99.8%;
  margin-right: 0;
}
.post .main .wpr .layoutV .thumb,
.postView .main .wpr .layoutV .thumb,
#postSolo .main .wpr .layoutV .thumb {
  float: left;
  margin-right: 0;
  margin-bottom: 2px;
}
.post .main .wpr .layoutV .thumb.c3:first-child,
.postView .main .wpr .layoutV .thumb.c3:first-child,
#postSolo .main .wpr .layoutV .thumb.c3:first-child {
  width: 66.5%;
  margin-right: 2px;
}
.post .main .wpr .layoutV .thumb.c4,
.postView .main .wpr .layoutV .thumb.c4,
#postSolo .main .wpr .layoutV .thumb.c4 {
  width: 32.6%;
}
.post .main .wpr .layoutV .thumb.c4:first-child,
.postView .main .wpr .layoutV .thumb.c4:first-child,
#postSolo .main .wpr .layoutV .thumb.c4:first-child {
  width: 67%;
  margin-right: 2px;
}
.post .main .wpr .attLink,
.postView .main .wpr .attLink,
#postSolo .main .wpr .attLink {
  margin-top: 10px;
  border: 1px solid #DDDDDD;
  display: block;
}
.post .main .wpr .attLink:hover,
.postView .main .wpr .attLink:hover,
#postSolo .main .wpr .attLink:hover {
  text-decoration: none;
}
.post .main .wpr .attLink .row,
.postView .main .wpr .attLink .row,
#postSolo .main .wpr .attLink .row {
  margin: 0 10px 10px 10px;
}
.post .main .wpr .attLink .row:first-child,
.postView .main .wpr .attLink .row:first-child,
#postSolo .main .wpr .attLink .row:first-child {
  margin: 0 0 10px 0;
}
.post .main .wpr .attLink .row:last-child,
.postView .main .wpr .attLink .row:last-child,
#postSolo .main .wpr .attLink .row:last-child {
  margin-bottom: 0;
}
.post .main .wpr .attLink .image,
.postView .main .wpr .attLink .image,
#postSolo .main .wpr .attLink .image {
  overflow: hidden;
  position: relative;
}
.post .main .wpr .attLink .image #ximg,
.postView .main .wpr .attLink .image #ximg,
#postSolo .main .wpr .attLink .image #ximg {
  right: -1px;
  top: -1px;
  border: 1px solid #FBFBFB;
}
.post .main .wpr .attLink .title,
.postView .main .wpr .attLink .title,
#postSolo .main .wpr .attLink .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.post .main .wpr .attLink .description,
.postView .main .wpr .attLink .description,
#postSolo .main .wpr .attLink .description {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.post .main .wpr .attLink .source,
.postView .main .wpr .attLink .source,
#postSolo .main .wpr .attLink .source {
  color: #999;
  font-size: 12px;
}
.post .main .wpr .attLink .source .domain,
.postView .main .wpr .attLink .source .domain,
#postSolo .main .wpr .attLink .source .domain {
  font-weight: bold;
}
.post .main .wpr .content,
.postView .main .wpr .content,
#postSolo .main .wpr .content {
  padding: 20px;
  line-height: 26px;
  font-size: 18px;
  font-family: 'PT Serif Caption', serif;
  clear: left;
}
.post .main .wpr .content h2.title,
.postView .main .wpr .content h2.title,
#postSolo .main .wpr .content h2.title {
  margin-bottom: 10px;
  font-size: 22px;
}
.post .main .wpr .content .text,
.postView .main .wpr .content .text,
#postSolo .main .wpr .content .text {
  overflow: hidden;
  white-space: normal;
}
.post .main .wpr .content .source,
.postView .main .wpr .content .source,
#postSolo .main .wpr .content .source {
  font-size: 12px;
  color: #cccccc;
  margin-top: 5px;
}
.post .main .wpr .content p:first-child,
.postView .main .wpr .content p:first-child,
#postSolo .main .wpr .content p:first-child {
  margin-top: 0;
}
.post .main .wpr .content p:last-child,
.postView .main .wpr .content p:last-child,
#postSolo .main .wpr .content p:last-child {
  margin-bottom: 0;
}
.post .main .wpr .content .contentText,
.postView .main .wpr .content .contentText,
#postSolo .main .wpr .content .contentText {
  margin-bottom: 20px;
}
.post .main .wpr .content .pshared,
.postView .main .wpr .content .pshared,
#postSolo .main .wpr .content .pshared {
  padding: 20px;
  border: 1px solid #EEEEEE;
}
.post .main .wpr .content .pshared .profileLink,
.postView .main .wpr .content .pshared .profileLink,
#postSolo .main .wpr .content .pshared .profileLink {
  position: relative;
  font-size: 14px;
}
.post .main .wpr .content .pshared .profileLink .profileImg,
.postView .main .wpr .content .pshared .profileLink .profileImg,
#postSolo .main .wpr .content .pshared .profileLink .profileImg {
  position: absolute;
  top: -10px;
  display: inline-block;
  z-index: 5;
}
.post .main .wpr .content .pshared .profileLink .profileName,
.postView .main .wpr .content .pshared .profileLink .profileName,
#postSolo .main .wpr .content .pshared .profileLink .profileName {
  margin-left: 42px;
}
.post .main .wpr .content .pshared .bd,
.postView .main .wpr .content .pshared .bd,
#postSolo .main .wpr .content .pshared .bd {
  margin-left: 42px;
}
.post .main .wpr .content .pshared .bd .text,
.postView .main .wpr .content .pshared .bd .text,
#postSolo .main .wpr .content .pshared .bd .text {
  font-size: 16px;
  line-height: 22px;
}
.post .main .wpr .content .pshared .bd .postimg,
.postView .main .wpr .content .pshared .bd .postimg,
#postSolo .main .wpr .content .pshared .bd .postimg {
  width: 555px;
  margin: 10px 0;
}
.post .main .wpr .content .pshared .bd.product,
.postView .main .wpr .content .pshared .bd.product,
#postSolo .main .wpr .content .pshared .bd.product {
  margin: 10px 0 0 0;
}
.post .main .wpr .content .pshared.single,
.postView .main .wpr .content .pshared.single,
#postSolo .main .wpr .content .pshared.single {
  margin-top: 10px;
}
.post .main .wpr .content .postShareList,
.postView .main .wpr .content .postShareList,
#postSolo .main .wpr .content .postShareList {
  margin: 0;
  padding: 20px 10px 0px 10px;
}
.post .main .wpr .content .postShareList li,
.postView .main .wpr .content .postShareList li,
#postSolo .main .wpr .content .postShareList li {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 18px;
}
.post .main .wpr .content .postShareList li:last-child,
.postView .main .wpr .content .postShareList li:last-child,
#postSolo .main .wpr .content .postShareList li:last-child {
  margin-bottom: 0;
}
.post .main .wpr .content .postShareList li .bd,
.postView .main .wpr .content .postShareList li .bd,
#postSolo .main .wpr .content .postShareList li .bd {
  margin-left: 44px;
}
.post .main .wpr .content .postShareList li .ftr,
.postView .main .wpr .content .postShareList li .ftr,
#postSolo .main .wpr .content .postShareList li .ftr {
  margin-left: 44px;
  font-size: 11px;
}
.post .main .wpr .content .contentTag,
.postView .main .wpr .content .contentTag,
#postSolo .main .wpr .content .contentTag {
  font-size: 13px;
  line-height: 13px;
  margin-top: 20px;
}
.post .main .wpr .content .postProduct,
.postView .main .wpr .content .postProduct,
#postSolo .main .wpr .content .postProduct {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  overflow: hidden;
}
.post .main .wpr .content .postProduct .checkLink,
.postView .main .wpr .content .postProduct .checkLink,
#postSolo .main .wpr .content .postProduct .checkLink {
  display: inline-block;
  background: lime;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
}
.post .main .wpr .content .postProduct .productImage,
.postView .main .wpr .content .postProduct .productImage,
#postSolo .main .wpr .content .postProduct .productImage {
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
.post .main .wpr .content .postProduct .productPrice,
.postView .main .wpr .content .postProduct .productPrice,
#postSolo .main .wpr .content .postProduct .productPrice {
  background: white;
  padding: 8px 0 10px;
  font-size: 22px;
  font-weight: bold;
}
.post .main .wpr .content .postProduct .productTitle,
.postView .main .wpr .content .postProduct .productTitle,
#postSolo .main .wpr .content .postProduct .productTitle {
  font-size: 16px;
  line-height: 20px;
}
.post .main .wpr .content .postProduct .productBrand,
.postView .main .wpr .content .postProduct .productBrand,
#postSolo .main .wpr .content .postProduct .productBrand {
  color: #CCCCCC;
  margin-top: 5px;
}
.post .main .wpr .content .postProduct .productFeatures,
.postView .main .wpr .content .postProduct .productFeatures,
#postSolo .main .wpr .content .postProduct .productFeatures {
  padding: 15px 20px;
  background: #FAFAFA;
  margin-top: 10px;
}
.post .main .wpr .content .postProduct .productFeatures ul.featureList,
.postView .main .wpr .content .postProduct .productFeatures ul.featureList,
#postSolo .main .wpr .content .postProduct .productFeatures ul.featureList {
  margin: 0px;
  padding: 10px 0 0 20px;
}
.post .main .wpr .content .postProduct .productFeatures ul.featureList li,
.postView .main .wpr .content .postProduct .productFeatures ul.featureList li,
#postSolo .main .wpr .content .postProduct .productFeatures ul.featureList li {
  margin-bottom: 5px;
}
.post .main .wpr .content .postProduct .productFeatures ul.featureList li:last-child,
.postView .main .wpr .content .postProduct .productFeatures ul.featureList li:last-child,
#postSolo .main .wpr .content .postProduct .productFeatures ul.featureList li:last-child {
  margin-bottom: none;
}
.post .meta,
.postView .meta,
#postSolo .meta {
  position: relative;
  padding: 0 10px;
  line-height: 29px;
  border-top: 1px solid #FAFAFA;
  min-height: 14px;
  font-size: 12px;
}
.post .footer,
.postView .footer,
#postSolo .footer {
  background: #fafafa;
  border: 1px solid #E0E0E0;
  border-top: none;
  margin: 0 5px;
}
.post .footer .actions,
.postView .footer .actions,
#postSolo .footer .actions {
  margin: 0;
  padding: 5px 10px;
  font-size: 12px;
  list-style: none;
}
.post .footer .actions .item,
.postView .footer .actions .item,
#postSolo .footer .actions .item {
  display: inline-block;
  border-left: 1px solid #ddd;
  padding-left: 10px;
  margin: 0 5px 0 0;
  font-size: 12px;
}
.post .footer .actions .item:first-child,
.postView .footer .actions .item:first-child,
#postSolo .footer .actions .item:first-child {
  border-left: none;
  padding-left: 0;
}
.post .footer .actions .item .icoLink i,
.postView .footer .actions .item .icoLink i,
#postSolo .footer .actions .item .icoLink i {
  height: 16px;
  width: 16px;
  float: left;
  background: url("../images/qkico16.png") transparent no-repeat -260px -36px;
}
.post .footer .actions .item .icoLink i.on,
.postView .footer .actions .item .icoLink i.on,
#postSolo .footer .actions .item .icoLink i.on {
  opacity: 1;
}
.post .footer .actions .item .icoLink i.off,
.postView .footer .actions .item .icoLink i.off,
#postSolo .footer .actions .item .icoLink i.off {
  opacity: 0.1;
}
.post .footer .actions .item .icoLink .text,
.postView .footer .actions .item .icoLink .text,
#postSolo .footer .actions .item .icoLink .text {
  margin-left: 5px;
}
.post .footer .actions .item .uiPostLike i,
.postView .footer .actions .item .uiPostLike i,
#postSolo .footer .actions .item .uiPostLike i {
  background-position: -5px -36px;
}
.post .footer .actions .item .uiPostLike:hover i.on,
.postView .footer .actions .item .uiPostLike:hover i.on,
#postSolo .footer .actions .item .uiPostLike:hover i.on {
  opacity: 1;
}
.post .footer .actions .item .uiPostComment i,
.postView .footer .actions .item .uiPostComment i,
#postSolo .footer .actions .item .uiPostComment i {
  background-position: -35px -35px;
}
.post .footer .actions .item .uiPostComment:hover i.on,
.postView .footer .actions .item .uiPostComment:hover i.on,
#postSolo .footer .actions .item .uiPostComment:hover i.on {
  opacity: 1;
}
.post .footer .actions .item .uiPostShare i,
.postView .footer .actions .item .uiPostShare i,
#postSolo .footer .actions .item .uiPostShare i {
  background-position: -64px -34px;
}
.post .footer .actions .item .uiPostShare:hover i.on,
.postView .footer .actions .item .uiPostShare:hover i.on,
#postSolo .footer .actions .item .uiPostShare:hover i.on {
  opacity: 1;
}
.post .footer .actions .item .uiPostSave i,
.postView .footer .actions .item .uiPostSave i,
#postSolo .footer .actions .item .uiPostSave i,
.post .footer .actions .item .uiPostSaveLbl i,
.postView .footer .actions .item .uiPostSaveLbl i,
#postSolo .footer .actions .item .uiPostSaveLbl i {
  background-position: -91px -35px;
}
.post .footer .actions .item .uiPostReport i,
.postView .footer .actions .item .uiPostReport i,
#postSolo .footer .actions .item .uiPostReport i {
  background-position: -121px -34px;
}
.post .footer .actions .item .uiPostReport:hover i.on,
.postView .footer .actions .item .uiPostReport:hover i.on,
#postSolo .footer .actions .item .uiPostReport:hover i.on {
  opacity: 1;
}
.post .footer .actions .item .uiPostHide i,
.postView .footer .actions .item .uiPostHide i,
#postSolo .footer .actions .item .uiPostHide i {
  background-position: -148px -35px;
}
.post .footer .actions .item .uiPostHide:hover i.on,
.postView .footer .actions .item .uiPostHide:hover i.on,
#postSolo .footer .actions .item .uiPostHide:hover i.on {
  opacity: 1;
}
.post .footer .actions .item .uiPostDelete i,
.postView .footer .actions .item .uiPostDelete i,
#postSolo .footer .actions .item .uiPostDelete i {
  background-position: -233px -36px;
}
.post .footer .actions .item .uiPostDelete:hover i.on,
.postView .footer .actions .item .uiPostDelete:hover i.on,
#postSolo .footer .actions .item .uiPostDelete:hover i.on {
  opacity: 1;
}
.post .footer .actions .item .uiPostOptions,
.postView .footer .actions .item .uiPostOptions,
#postSolo .footer .actions .item .uiPostOptions {
  letter-spacing: -1px;
  color: #CCCCCC;
}
.post .footer .actions .item .uiPostOptions:hover,
.postView .footer .actions .item .uiPostOptions:hover,
#postSolo .footer .actions .item .uiPostOptions:hover {
  text-decoration: none;
  color: #000000;
}
.post .footer .actions .item .popModal,
.postView .footer .actions .item .popModal,
#postSolo .footer .actions .item .popModal {
  max-width: 160px;
}
.post .footer .actions .item .popModal .popmenu .item,
.postView .footer .actions .item .popModal .popmenu .item,
#postSolo .footer .actions .item .popModal .popmenu .item {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
.post .footer .actions .item .popModal .popmenu .item .icoLink i,
.postView .footer .actions .item .popModal .popmenu .item .icoLink i,
#postSolo .footer .actions .item .popModal .popmenu .item .icoLink i {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.post .footer .actions .item .popModal .popmenu .item .text,
.postView .footer .actions .item .popModal .popmenu .item .text,
#postSolo .footer .actions .item .popModal .popmenu .item .text {
  font-size: 14px;
}
.post .footer .actions .item.save .popModal,
.postView .footer .actions .item.save .popModal,
#postSolo .footer .actions .item.save .popModal {
  max-width: 300px;
  max-height: 200px;
  min-height: 100px;
}
.post .footer .actions .item.save .popModal #collDlg,
.postView .footer .actions .item.save .popModal #collDlg,
#postSolo .footer .actions .item.save .popModal #collDlg {
  width: 298px;
}
.post .footer .actions .item.save .popModal #collDlg #dlgTitle,
.postView .footer .actions .item.save .popModal #collDlg #dlgTitle,
#postSolo .footer .actions .item.save .popModal #collDlg #dlgTitle {
  height: 30px;
  line-height: 32px;
  font-size: 12px;
  padding-left: 10px;
}
.post .footer .actions .item.save .popModal #collDlg a#addNew,
.postView .footer .actions .item.save .popModal #collDlg a#addNew,
#postSolo .footer .actions .item.save .popModal #collDlg a#addNew {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 12px;
}
.post .footer .actions .item.save .popModal #collDlg #newCollForm,
.postView .footer .actions .item.save .popModal #collDlg #newCollForm,
#postSolo .footer .actions .item.save .popModal #collDlg #newCollForm {
  position: absolute;
  top: 31px;
  left: 0;
  width: 100%;
  box-shadow: 0px 1px 3px #DDD;
}
.post .footer .actions .item.save .popModal #collDlg #newCollForm .inp,
.postView .footer .actions .item.save .popModal #collDlg #newCollForm .inp,
#postSolo .footer .actions .item.save .popModal #collDlg #newCollForm .inp {
  width: 96.7%;
  padding: 5px;
  height: 47px;
  background: #f5f5f5;
  border-bottom: 1px solid #DDDDDD;
}
.post .footer .actions .item.save .popModal #collDlg #newCollForm .inp .inpBdr,
.postView .footer .actions .item.save .popModal #collDlg #newCollForm .inp .inpBdr,
#postSolo .footer .actions .item.save .popModal #collDlg #newCollForm .inp .inpBdr {
  width: 74.9%;
  display: inline-block;
  padding: 4px 8px;
}
.post .footer .actions .item.save .popModal #collDlg #newCollForm .rowOpt,
.postView .footer .actions .item.save .popModal #collDlg #newCollForm .rowOpt,
#postSolo .footer .actions .item.save .popModal #collDlg #newCollForm .rowOpt {
  margin-top: 3px;
  font-size: 11px;
}
.post .footer .actions .item.save .popModal #collDlg #newCollForm .errStatus,
.postView .footer .actions .item.save .popModal #collDlg #newCollForm .errStatus,
#postSolo .footer .actions .item.save .popModal #collDlg #newCollForm .errStatus {
  color: red;
  padding: 2px 5px;
  font-size: 11px;
  background: white;
}
.post .footer .actions .item.save .popModal #collDlg .stream,
.postView .footer .actions .item.save .popModal #collDlg .stream,
#postSolo .footer .actions .item.save .popModal #collDlg .stream {
  min-height: 100px;
  max-height: 145px;
}
.post .footer .actions .item.save .popModal #collDlg .stream .collist li.item,
.postView .footer .actions .item.save .popModal #collDlg .stream .collist li.item,
#postSolo .footer .actions .item.save .popModal #collDlg .stream .collist li.item {
  border-bottom: 1px solid #EEEEEE;
  padding: 0;
}
.post .footer .actions .item.save .popModal #collDlg .stream .collist li.item label.collection,
.postView .footer .actions .item.save .popModal #collDlg .stream .collist li.item label.collection,
#postSolo .footer .actions .item.save .popModal #collDlg .stream .collist li.item label.collection {
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding: 6px 10px;
  cursor: pointer;
}
.post .comment-stream .commentForm,
.postView .comment-stream .commentForm,
#postSolo .comment-stream .commentForm {
  padding: 10px;
  background: #F7F7F7;
  border: 1px solid #E4E4E4;
  border-top: none;
  margin: 0 5px;
}
.post .comment-stream .commentForm form,
.postView .comment-stream .commentForm form,
#postSolo .comment-stream .commentForm form {
  margin-left: 42px;
}
.post .comment-stream a.uiMore,
.postView .comment-stream a.uiMore,
#postSolo .comment-stream a.uiMore {
  border-top: none;
}
.post .comment-stream .comments,
.postView .comment-stream .comments,
#postSolo .comment-stream .comments {
  margin: 0 5px;
  padding: 0;
  list-style: none;
  background: #f8f8f8;
  border: 1px solid #E0E0E0;
  border-top: none;
}
.post .comment-stream .comments .comment,
.postView .comment-stream .comments .comment,
#postSolo .comment-stream .comments .comment {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #f3f3f3;
  padding: 8px 30px 8px 10px;
}
.post .comment-stream .comments .comment .hidden,
.postView .comment-stream .comments .comment .hidden,
#postSolo .comment-stream .comments .comment .hidden {
  padding: 0;
}
.post .comment-stream .comments .comment:last-child,
.postView .comment-stream .comments .comment:last-child,
#postSolo .comment-stream .comments .comment:last-child {
  border-bottom: none;
}
.post .comment-stream .comments .comment:hover,
.postView .comment-stream .comments .comment:hover,
#postSolo .comment-stream .comments .comment:hover {
  background: #FDFDFD;
}
.post .comment-stream .comments .comment .header,
.postView .comment-stream .comments .comment .header,
#postSolo .comment-stream .comments .comment .header {
  border: None;
  background: none;
  margin: 0;
}
.post .comment-stream .comments .comment .header .uiVerb,
.postView .comment-stream .comments .comment .header .uiVerb,
#postSolo .comment-stream .comments .comment .header .uiVerb {
  font-size: 11px;
}
.post .comment-stream .comments .comment .main .wpr,
.postView .comment-stream .comments .comment .main .wpr,
#postSolo .comment-stream .comments .comment .main .wpr {
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  margin-left: 42px;
}
.post .comment-stream .comments .comment .main .wpr .commentText,
.postView .comment-stream .comments .comment .main .wpr .commentText,
#postSolo .comment-stream .comments .comment .main .wpr .commentText {
  font-size: 14px;
  line-height: 16px;
  font-family: 'PT Serif Caption', serif;
  white-space: pre-wrap;
}
.post .comment-stream .comments .comment .main .wpr .commentText.editabled:hover,
.postView .comment-stream .comments .comment .main .wpr .commentText.editabled:hover,
#postSolo .comment-stream .comments .comment .main .wpr .commentText.editabled:hover {
  background: yellow;
}
.post .comment-stream .comments .comment .main .wpr .editForm .editArea,
.postView .comment-stream .comments .comment .main .wpr .editForm .editArea,
#postSolo .comment-stream .comments .comment .main .wpr .editForm .editArea {
  background: yellow;
  resize: none;
}
.post .comment-stream .comments .comment .main .wpr .editForm .hint,
.postView .comment-stream .comments .comment .main .wpr .editForm .hint,
#postSolo .comment-stream .comments .comment .main .wpr .editForm .hint {
  color: #CCC;
  font-size: 11px;
}
.post .comment-stream .comments .comment .commentReply,
.postView .comment-stream .comments .comment .commentReply,
#postSolo .comment-stream .comments .comment .commentReply {
  padding-left: 0;
  position: relative;
}
.post .comment-stream .comments .comment .actions,
.postView .comment-stream .comments .comment .actions,
#postSolo .comment-stream .comments .comment .actions {
  list-style: none;
  margin: 0 5px 0 25px;
  font-size: 11px;
  border: none;
  padding: 0 12px;
}
.post .comment-stream .comments .comment .actions .item,
.postView .comment-stream .comments .comment .actions .item,
#postSolo .comment-stream .comments .comment .actions .item {
  display: inline;
  margin: 0;
  padding: 0 5px 0 0;
}
.post .comment-stream .comments .comment .actions .item:first-child,
.postView .comment-stream .comments .comment .actions .item:first-child,
#postSolo .comment-stream .comments .comment .actions .item:first-child {
  padding-left: 0;
  border-left: none;
}
.post .comment-stream .comments .comment .actions .item a.disabled,
.postView .comment-stream .comments .comment .actions .item a.disabled,
#postSolo .comment-stream .comments .comment .actions .item a.disabled {
  color: #999;
}
.post .comment-stream .comments .comment .actions .item .xuiDeleteComment,
.postView .comment-stream .comments .comment .actions .item .xuiDeleteComment,
#postSolo .comment-stream .comments .comment .actions .item .xuiDeleteComment {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 11px;
}
.post .comment-stream .comments .comment .actions .item .icoLink i,
.postView .comment-stream .comments .comment .actions .item .icoLink i,
#postSolo .comment-stream .comments .comment .actions .item .icoLink i {
  display: inline-block;
  vertical-align: sub;
  width: 14px;
  height: 14px;
  background: url("../images/qkico16.png") transparent no-repeat -260px -36px;
}
.post .comment-stream .comments .comment .actions .item .icoLink i.on,
.postView .comment-stream .comments .comment .actions .item .icoLink i.on,
#postSolo .comment-stream .comments .comment .actions .item .icoLink i.on {
  opacity: 1;
}
.post .comment-stream .comments .comment .actions .item .icoLink i.off,
.postView .comment-stream .comments .comment .actions .item .icoLink i.off,
#postSolo .comment-stream .comments .comment .actions .item .icoLink i.off {
  opacity: 0.1;
}
.post .comment-stream .comments .comment .actions .item .commentLike i,
.postView .comment-stream .comments .comment .actions .item .commentLike i,
#postSolo .comment-stream .comments .comment .actions .item .commentLike i,
.post .comment-stream .comments .comment .actions .item .replyLike i,
.postView .comment-stream .comments .comment .actions .item .replyLike i,
#postSolo .comment-stream .comments .comment .actions .item .replyLike i,
.post .comment-stream .comments .comment .actions .item .commentLikeLbl i,
.postView .comment-stream .comments .comment .actions .item .commentLikeLbl i,
#postSolo .comment-stream .comments .comment .actions .item .commentLikeLbl i {
  background-position: -291px -35px;
}
.post .comment-stream .comments .comment .actions .item .uiCommentReply i,
.postView .comment-stream .comments .comment .actions .item .uiCommentReply i,
#postSolo .comment-stream .comments .comment .actions .item .uiCommentReply i,
.post .comment-stream .comments .comment .actions .item .uiCommentReplyLbl i,
.postView .comment-stream .comments .comment .actions .item .uiCommentReplyLbl i,
#postSolo .comment-stream .comments .comment .actions .item .uiCommentReplyLbl i {
  background-position: -34px -64px;
}
.post .comment-stream .comments .comment .actions .item .commentReport i,
.postView .comment-stream .comments .comment .actions .item .commentReport i,
#postSolo .comment-stream .comments .comment .actions .item .commentReport i,
.post .comment-stream .comments .comment .actions .item .replyReport i,
.postView .comment-stream .comments .comment .actions .item .replyReport i,
#postSolo .comment-stream .comments .comment .actions .item .replyReport i {
  background-position: -64px -64px;
}
.post .comment-stream .comments .comment .actions .item .commentHide i,
.postView .comment-stream .comments .comment .actions .item .commentHide i,
#postSolo .comment-stream .comments .comment .actions .item .commentHide i,
.post .comment-stream .comments .comment .actions .item .replyHide i,
.postView .comment-stream .comments .comment .actions .item .replyHide i,
#postSolo .comment-stream .comments .comment .actions .item .replyHide i {
  background-position: -92px -64px;
}
.post .comment-stream .comments .comment .actions .item .commentDelete i,
.postView .comment-stream .comments .comment .actions .item .commentDelete i,
#postSolo .comment-stream .comments .comment .actions .item .commentDelete i,
.post .comment-stream .comments .comment .actions .item .replyDelete i,
.postView .comment-stream .comments .comment .actions .item .replyDelete i,
#postSolo .comment-stream .comments .comment .actions .item .replyDelete i {
  background-position: -177px -64px;
}
.post .comment-stream .comments .comment .actions .item .uiCommentOptions,
.postView .comment-stream .comments .comment .actions .item .uiCommentOptions,
#postSolo .comment-stream .comments .comment .actions .item .uiCommentOptions {
  letter-spacing: -1px;
  color: #dddddd;
}
.post .comment-stream .comments .comment .actions .item .uiCommentOptions:hover,
.postView .comment-stream .comments .comment .actions .item .uiCommentOptions:hover,
#postSolo .comment-stream .comments .comment .actions .item .uiCommentOptions:hover {
  color: #000000;
  text-decoration: none;
}
.post .comment-stream .comments .comment .actions .item .popModal,
.postView .comment-stream .comments .comment .actions .item .popModal,
#postSolo .comment-stream .comments .comment .actions .item .popModal {
  max-width: 150px;
}
.post .comment-stream .comments .comment .actions .item .popModal .popmenu .item,
.postView .comment-stream .comments .comment .actions .item .popModal .popmenu .item,
#postSolo .comment-stream .comments .comment .actions .item .popModal .popmenu .item {
  padding: 0;
  margin: 0;
  display: block;
  border-left: none;
}
.post .comment-stream .comments .comment .replies,
.postView .comment-stream .comments .comment .replies,
#postSolo .comment-stream .comments .comment .replies {
  margin-left: 55px;
  margin-top: 10px;
  border-left: 2px solid #EEEEEE;
  padding-left: 23px;
}
.post .comment-stream .comments .comment .replies .sublist,
.postView .comment-stream .comments .comment .replies .sublist,
#postSolo .comment-stream .comments .comment .replies .sublist {
  list-style: none;
}
.post .comment-stream .comments .comment .replies .sublist .profileImg,
.postView .comment-stream .comments .comment .replies .sublist .profileImg,
#postSolo .comment-stream .comments .comment .replies .sublist .profileImg {
  position: absolute;
  left: -43px;
  top: 7px;
}
.post .comment-stream .comments .comment .replies .sublist .profileName,
.postView .comment-stream .comments .comment .replies .sublist .profileName,
#postSolo .comment-stream .comments .comment .replies .sublist .profileName {
  margin-left: 0;
}
.post .comment-stream .comments .comment .replies .sublist .wpr,
.postView .comment-stream .comments .comment .replies .sublist .wpr,
#postSolo .comment-stream .comments .comment .replies .sublist .wpr {
  margin-left: 0;
}
.post .comment-stream .comments .comment .replies .sublist .actions,
.postView .comment-stream .comments .comment .replies .sublist .actions,
#postSolo .comment-stream .comments .comment .replies .sublist .actions {
  margin-left: 0;
  padding-left: 0;
}
.post .comment-stream .comments .comment .replies .commentForm,
.postView .comment-stream .comments .comment .replies .commentForm,
#postSolo .comment-stream .comments .comment .replies .commentForm {
  border: none;
  background: none;
  padding: 10px 0 0 0;
  margin: 0 0 5px 0;
  position: relative;
}
.post .comment-stream .comments .comment .replies .commentForm form,
.postView .comment-stream .comments .comment .replies .commentForm form,
#postSolo .comment-stream .comments .comment .replies .commentForm form {
  margin-left: 0;
}
.post .comment-stream .comments .comment .replies .commentForm .profileImg,
.postView .comment-stream .comments .comment .replies .commentForm .profileImg,
#postSolo .comment-stream .comments .comment .replies .commentForm .profileImg {
  position: absolute;
  left: -42px;
  top: 7px;
}
.post .comment-stream .comments .comment .replies .subcomments,
.postView .comment-stream .comments .comment .replies .subcomments,
#postSolo .comment-stream .comments .comment .replies .subcomments {
  border: none;
  margin: 0;
  background: none;
}
.post .comment-stream .comments .comment .replies .subcomments .comment,
.postView .comment-stream .comments .comment .replies .subcomments .comment,
#postSolo .comment-stream .comments .comment .replies .subcomments .comment {
  padding: 8px 30px 8px 0px;
}
.post .comment-stream .comments .comment .replies .subcomments .comment:first-child,
.postView .comment-stream .comments .comment .replies .subcomments .comment:first-child,
#postSolo .comment-stream .comments .comment .replies .subcomments .comment:first-child {
  border-top: 1px solid #F3F3F3;
}
.post .comment-stream .comments .comment .replies .subcomments .comment:hover,
.postView .comment-stream .comments .comment .replies .subcomments .comment:hover,
#postSolo .comment-stream .comments .comment .replies .subcomments .comment:hover {
  background: none;
}
.post .comment-stream .comments .comment .replies a.uiMore,
.postView .comment-stream .comments .comment .replies a.uiMore,
#postSolo .comment-stream .comments .comment .replies a.uiMore {
  display: inline-block;
  line-height: 16px;
  margin: 0;
  border: none;
  background: none;
}
.post .comment-stream .comments .comment ul li.commentReply,
.postView .comment-stream .comments .comment ul li.commentReply,
#postSolo .comment-stream .comments .comment ul li.commentReply {
  padding: 10px 10px 0 0;
  border-bottom: none;
}
.post .comment-stream .comments .comment .uiCommentReplyTextarea,
.postView .comment-stream .comments .comment .uiCommentReplyTextarea,
#postSolo .comment-stream .comments .comment .uiCommentReplyTextarea {
  width: 506px;
}
.post .comment-stream .comments a.uiMore,
.postView .comment-stream .comments a.uiMore,
#postSolo .comment-stream .comments a.uiMore {
  border-top: none;
  line-height: 18px;
}
.post .comment-stream .subcomments .comment,
.postView .comment-stream .subcomments .comment,
#postSolo .comment-stream .subcomments .comment {
  padding-left: 0;
}
.post .dateGroup,
.postView .dateGroup,
#postSolo .dateGroup {
  font-size: 11px;
  color: #CCCCCC;
}
.post .hiddenNotice,
.postView .hiddenNotice,
#postSolo .hiddenNotice {
  display: block;
  text-align: center;
  background: #f7f7f7;
  margin: 0 5px;
  line-height: 25px;
  font-size: 12px;
  color: #CCCCCC;
  text-decoration: none;
}
#postSolo {
  margin-bottom: 0;
}
#postSolo .content {
  border: none;
}
li.groupLabel {
  margin-bottom: 30px;
  position: relative;
  border-bottom: 1px solid #DDD;
  color: #CCC;
}
li.groupLabel .glabel {
  text-transform: uppercase;
  position: absolute;
  top: -10px;
  right: 0px;
  background-color: #E6E6E6;
  display: inline-block;
  padding-right: 10px;
  width: 90px;
  text-align: right;
  line-height: 18px;
}
a.uiMore {
  margin: 0 5px;
  background: #f9f9f9;
  display: block;
  text-align: center;
  border: 1px solid #DFDFDF;
  color: #CCC;
  line-height: 22px;
  letter-spacing: -1px;
}
a.uiMore:hover {
  text-decoration: none;
  background: white;
  color: #2f4f4f;
}
.popModal {
  max-width: 200px;
  min-width: 160px;
}
ul.streamFilter {
  margin: 0 0 30px 0;
  padding: 5px 10px;
  list-style: none;
  background: #E8E8E8;
}
ul.streamFilter li {
  display: inline;
  margin-right: 10px;
  font-size: 13px;
}
ul.streamFilter li select {
  border: none;
  background: none;
  outline: none;
}
.dialogModal {
  padding-top: 100px;
}
.dialogModal .dialogModal_top .dialogModal_header {
  background: #fafafa;
}
.dialogModal .dialogModal_body .dialogModal_content .content {
  background: white;
  border: 1px solid #eeeeee;
  padding: 20px;
  overflow: hidden;
  font-size: 16px;
}
.dialogModal .dialogModal_body .dialogModal_content .content .hdr {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}
.dialogModal .dialogModal_body .dialogModal_content .content .dlg .field {
  margin-bottom: 8px;
}
.dialogModal .dialogModal_body .dialogModal_content .content .dlg .field:last-child {
  margin-bottom: 0;
}
.dialogModal .dialogModal_body .dialogModal_content .content .dlg .state {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
  color: red;
}
.dialogModal .dialogModal_body .dialogModal_content .content .dlg .state.hide {
  display: none;
}
.dialogModal .dialogModal_body .dialogModal_content .content #dlgN4 .name {
  float: left;
  width: 182px;
  margin-left: 10px;
}
.dialogModal .dialogModal_body .dialogModal_content .content #dlgN4 .name:first-child {
  margin-left: 0;
}
.dialogModal .dialogModal_body .dialogModal_content .content #dlgN4 .p8field {
  clear: left;
}
.dialogModal .dialogModal_body .dialogModal_content .shareContent {
  padding: 30px;
}
.popModal {
  padding: 0;
}
.popModal .popModal_content {
  margin: 0 auto;
  font-family: 'PT Serif Caption', serif;
}
.popModal .popModal_content h2.title {
  border-bottom: 1px solid #EEE;
  padding-left: 10px;
  font-size: 16px;
  line-height: 30px;
  overflow: hidden;
  font-weight: lighter;
  color: #cccccc;
}
.popModal .popModal_content .popinfoContent {
  text-align: center;
  background-color: #fafafa;
  margin: 5px;
  padding: 10px;
}
.popModal .popModal_content .popinfoContent .imgbox {
  width: 75px;
  height: 75px;
  margin: 0 auto;
}
.popModal .popModal_content .popinfoContent .imgbox .image {
  display: inline-block;
  overflow: hidden;
  width: 75px;
  height: 75px;
  border-radius: 40px;
  background-color: #DDDDDD;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
}
.popModal .popModal_content .popinfoContent h2.uiName {
  font-size: 18px;
  margin: 5px 0;
  line-height: 20px;
}
.popModal .popModal_content .popinfoContent .desc {
  font-size: 13px;
  line-height: 14px;
  color: #999999;
}
.popModal .popModal_content .popinfoContent ul {
  list-style: none;
}
.popModal .popModal_content .popinfoContent button {
  width: 100%;
  margin-top: 10px;
  padding: 4px 20px;
}
.popModal .popmenu {
  margin: 1px;
  padding: 0;
  list-style: none;
}
.popModal .popmenu .item {
  display: block;
}
.popModal .popmenu .item a {
  border-bottom: 1px solid whitesmoke;
  display: block;
  padding: 0 10px;
  color: black;
  line-height: 26px;
}
.popModal .popmenu .item a:hover {
  text-decoration: none;
  background-color: whitesmoke;
}
.popModal .popmenu .item:last-child a {
  border-bottom: none;
}
.popModal .popmenu .item a.icoLink i {
  display: inline-block;
  vertical-align: sub;
  width: 16px;
  height: 16px;
  background: url("../images/qkico16.png") -63px -6px transparent no-repeat;
}
.popModal .popmenu .item a.icoLink i.on {
  opacity: 1;
}
.popModal .popmenu .item a.icoLink i.off {
  opacity: 0.1;
}
.popModal .popmenu .item a.icoLink .text {
  margin-left: 5px;
}
.popModal .popmenu .item a.icoLink.posts i {
  background-position: -232px -6px;
}
.popModal .popmenu .item a.icoLink.favorites i {
  background-position: -91px -34px;
}
.popModal .popmenu .item a.icoLink.saves i {
  background-position: -91px -35px;
}
.popModal .popmenu .item a.icoLink.followers i {
  background-position: -262px -7px;
}
.popModal .popmenu .item a.icoLink.following i {
  background-position: -289px -6px;
}
.popModal .popmenu .item a.icoLink.settings i {
  background-position: -319px -7px;
}
.popModal .popmenu .item a.icoLink.logout i {
  background-position: -151px -7px;
}
.popModal .popmenu .item a.icoLink.add i {
  background-position: -345px -34px;
}
.popModal .popmenu .item .delete:hover {
  background-color: red;
  color: white;
}
.dialogModal .dialogModal_top {
  position: relative;
}
.dialogModal .dialogModal_top .dialogModal_header {
  padding: 10px 20px;
  height: 50px;
}
.dialogModal .dialogModal_top .dialogModal_header:after {
  display: none;
}
.dialogModal .dialogModal_top .dialogModal_header .close {
  font-size: 32px;
  font-weight: normal;
}
.dialogModal .dialogModal_body {
  margin: 0px auto 40px;
}
.dialogModal .dialogModal_body .dialogModal_content {
  padding: 20px;
  background: #fafafa;
  min-height: 80px;
}
.dialogModal .dialogModal_body .dialogModal_content #reportcats {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
.dialogModal .dialogModal_body .dialogModal_content #reportcats li {
  line-height: 26px;
}
.dialogModal .dialogModal_body .dialogModal_content .pwdbox {
  margin-top: 5px;
  font-size: 12px;
}
.dialogModal .dialogModal_body .dialogModal_content .shareContent {
  position: absolute;
  top: 140px;
  left: 16px;
  width: 95%;
  z-index: -1;
}
.dialogModal .dialogModal_body .dialogModal_footer {
  padding: 15px 20px;
  border: 1px solid #f0f0f0;
}
.dialogModal .dialogModal_body .imgContent {
  text-align: center;
}
.notifyModal .notifyModal_content {
  box-sizing: content-box;
}
.notifyModal .notifyModal_content .close {
  background: none;
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 26px;
  font-weight: normal;
  line-height: 16px;
}
#ntDlg,
#collDlg {
  background-color: white;
  position: relative;
  color: black;
  z-index: 0;
}
#ntDlg #dlgTitle,
#collDlg #dlgTitle {
  margin: 0;
  height: 40px;
  line-height: 44px;
  padding-left: 14px;
  font-size: 16px;
  color: #999;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #DDD;
}
#ntDlg a.uiMore,
#collDlg a.uiMore {
  margin: 0;
  border: none;
}
#ntDlg .stream,
#collDlg .stream {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  max-height: 350px;
  min-width: 200px;
  overflow: hidden;
}
#ntDlg .stream .item,
#collDlg .stream .item {
  margin: 0;
}
#ntDlg .stream .item .notifItem,
#collDlg .stream .item .notifItem {
  border-bottom: 1px solid #EEE;
  padding: 10px 30px 10px 10px;
  overflow: hidden;
  display: block;
  color: black;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.3;
}
#ntDlg .stream .item .notifItem .ntwpr,
#collDlg .stream .item .notifItem .ntwpr {
  margin-left: 45px;
}
#ntDlg .stream .item .notifItem .uiUsername,
#collDlg .stream .item .notifItem .uiUsername {
  font-weight: bold;
  color: blue;
}
#ntDlg .stream .item .notifItem .notifDate,
#collDlg .stream .item .notifItem .notifDate {
  font-size: 11px;
  display: block;
}
#ntDlg .stream .item .notifItem:hover,
#collDlg .stream .item .notifItem:hover {
  background: lightcyan;
  text-decoration: none;
  opacity: 1;
}
#ntDlg .stream .item .notifItem.unread,
#collDlg .stream .item .notifItem.unread,
#ntDlg .stream .item .notifItem.unseen,
#collDlg .stream .item .notifItem.unseen {
  opacity: 1;
}
#ntDlg .stream .item .itemActionDiv,
#collDlg .stream .item .itemActionDiv {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 36px;
}
#ntDlg .stream .item .uiItemAction,
#collDlg .stream .item .uiItemAction {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #999;
  z-index: 9;
}
#ntDlg .stream .item .uiItemAction:hover,
#collDlg .stream .item .uiItemAction:hover {
  text-decoration: none;
  color: white;
  background: #333;
}
#page {
  position: relative;
}
#page .pWrap {
  margin: 0 auto;
  width: 1000px;
  padding-top: 120px;
  position: relative;
}
#page .col {
  margin-left: 20px;
  float: left;
}
#page .fit {
  margin-left: 0;
}
#page #leftCol {
  width: 160px;
  max-width: 160px;
  min-height: 600px;
  margin-left: 0;
}
#page #leftCol #content-menu.fixed {
  position: fixed;
  top: 42px;
  z-index: 1;
}
#page #centerCol {
  min-width: 300px;
  max-width: 640px;
  width: 550px;
  padding-bottom: 50px;
}
#page #rightCol {
  width: 250px;
  padding-top: 40px;
}
#page #rightCol .block {
  margin-bottom: 20px;
}
#page #rightCol h2.block-title {
  font-size: 18px;
}
#page #rightCol ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
#page #rightCol ul.menu li.item {
  margin-bottom: 4px;
  line-height: 16px;
}
#page #rightCol ul.menu li.item:last-child {
  margin-bottom: 0;
}
#page #rightCol ul.menu li.item .count {
  color: #cccccc;
  font-weight: normal;
}
#page #rightCol ul.block {
  margin-bottom: 15px;
}
#page #rightCol ul.yearlist .item {
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
}
#page #rightCol ul.yearlist .item.year {
  margin-bottom: 5px;
}
#page #rightCol ul.yearlist .item.year .count {
  font-size: 14px;
  line-height: 22px;
}
#page #rightCol ul.yearlist ul.monthlist {
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 1px solid #cccccc;
}
#page #rightCol ul.yearlist ul.monthlist .item {
  font-size: 14px;
  line-height: 16px;
}
#page #rightCol ul.topiclist {
  margin-top: 10px;
}
#settingsHtml .block {
  margin-bottom: 20px;
}
#settingsHtml .block .hl {
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
#settingsHtml .block .content {
  padding: 20px;
  background: white;
}
#settingsHtml .block .content .row {
  position: relative;
  padding: 5px 0;
}
#settingsHtml .block .content .row .uiFieldLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
#settingsHtml .block .content .row .uiFieldVal {
  display: block;
  border: 1px solid #DDDDDD;
  padding: 5px 10px;
  background-color: #FDFDFD;
  font-size: 18px;
  line-height: 22px;
}
#settingsHtml .block .content .row .uiBtnEdit {
  margin-left: 10px;
  font-size: 12px;
  position: absolute;
  top: 6px;
  right: 0px;
}
#settingsHtml .block .content .row .hint {
  color: #CCCCCC;
  font-size: 12px;
  margin-top: 5px;
}
#settingsHtml .block-picture {
  text-align: center;
  position: relative;
}
#settingsHtml .block-picture .imgcon {
  display: inline-block;
  border: 5px solid #FFF;
  width: 200px;
  height: 200px;
  background-color: #CCCCCC;
  overflow: hidden;
  border-radius: 120px;
}
#settingsHtml .block-picture .btnChangePic {
  display: inline-block;
  width: 120px;
  height: 26px;
  font-size: 12px;
  line-height: 26px;
  position: absolute;
  overflow: hidden;
  background: #E6E6E6;
  top: 0;
  right: 0;
  color: blue;
}
#settingsHtml .block-picture .btnChangePic input#inpProfilePic {
  position: absolute;
  width: 120px;
  line-height: 26px;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
#settingsHtml ul {
  margin: 20px 0;
  list-style: none;
  padding-left: 0;
}
#settingsHtml ul li {
  line-height: 24px;
}
#settingsHtml .noticebox {
  font-size: 12px;
  background: #F3F3F3;
  padding: 5px 10px;
  margin-top: 5px;
}
#profileView .streamHdrLabel {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #CCC;
  margin-bottom: 30px;
}
#profileView .profileCover {
  position: relative;
  margin-bottom: 30px;
}
#profileView .profileCover .profileCoverBg {
  background: white;
  box-shadow: 1px 1px 3px #DDD;
  border-top: 1px solid silver;
}
#profileView .profileCover .profileCoverGroup {
  position: relative;
  margin-left: 180px;
  padding: 10px;
  min-height: 100px;
}
#profileView .profileCover .profileCoverGroup .row {
  border-bottom: 1px solid #EEE;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#profileView .profileCover .profileCoverGroup .row:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#profileView .profileCover .profileName {
  margin-left: 190px;
  line-height: 28px;
  min-height: 40px;
}
#profileView .profileCover .nameGroup {
  bottom: 0px;
}
#profileView .profileCover .nameGroup .uiFullname {
  font-size: 28px;
  font-weight: bolder;
  margin: 0;
}
#profileView .profileCover .nameGroup .uiUsername {
  font-size: 22px;
}
#profileView .profileCover .changePicture {
  position: relative;
  bottom: 0;
  left: 0px;
  width: 124px;
  height: 24px;
  cursor: pointer;
  padding: 0;
}
#profileView .profileCover .changePicture .link {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
#profileView .profileCover .changePicture .inputFile {
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 24px;
  z-index: 5;
  cursor: pointer;
  left: 0;
  opacity: 0;
}
#profileView .profilePicture {
  height: 150px;
  width: 150px;
  background: gainsboro;
  position: absolute;
  overflow: hidden;
  border: 5px solid white;
  margin: 0 auto;
  box-shadow: 1px 1px 3px #DDD;
  left: 10px;
  top: -30px;
  border-radius: 90px;
}
#profileView .profileTitle {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
#profileView .profileCountGroup {
  height: 36px;
}
#profileView .profileCountGroup .countCol {
  float: left;
  width: 80px;
  border-left: 1px solid #DDD;
  padding-left: 10px;
  padding-right: 10px;
}
#profileView .profileCountGroup .countCol .labelText {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: #999999;
}
#profileView .profileCountGroup .countCol:first-child {
  border-left: none;
  padding-left: 0;
}
#profileView .profileCountGroup .countCol .uiCount {
  font-size: 18px;
  font-weight: bold;
}
.pageTopic .cover {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px #DDD;
  position: relative;
}
.pageTopic .cover .name {
  line-height: 50px;
  font-size: 32px;
}
.pageTopic .cover .info {
  border-top: 1px solid #F5F5F5;
  padding: 10px 0 0 0;
  position: relative;
}
.pageTopic .cover .info .boxFollowerCount {
  display: inline-block;
  padding: 2px 0;
  text-transform: uppercase;
}
.pageTopic .cover .info .boxFollowBtn {
  position: absolute;
  top: 10px;
  right: 0;
}
.userStream ul.users {
  position: relative;
  left: -20px;
}
.userStream li.user {
  width: 26.3%;
  min-width: 150px;
  border: 1px solid #DDD;
  height: 250px;
  overflow: hidden;
  float: left;
  margin-left: 11px;
  padding: 10px;
  margin-bottom: 11px;
  text-align: center;
  background: white;
}
.userStream li.user .userBadge {
  background-color: azure;
  padding: 10px;
  height: 230px;
}
.userStream li.user .profileImg {
  width: 75px;
  height: 75px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  float: none;
  display: inline-block;
}
.userStream li.user .profileName {
  font-size: 18px;
  line-height: 18px;
  max-height: 18px;
  display: inline-block;
  overflow: hidden;
}
.userStream li.user .desc {
  display: inline-block;
  max-height: 50px;
  overflow: hidden;
  margin: 10px 0 0 0;
}
.userStream li.user .counts {
  text-transform: uppercase;
  font-size: 11px;
}
.userStream li.user .btnFollow {
  margin-top: 10px;
}
.userStream a.uiMore {
  clear: left;
  margin: 0 22px 0 0;
}
#pf {
  font-size: 12px;
  position: relative;
  height: auto;
  /*.field .sel_item */
}
#pf .row {
  position: relative;
  border-bottom: 1px dashed #EEEEEE;
}
#pf .row:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#pf #pf_wpr01 {
  background: white;
  border: 1px solid #cccccc;
}
#pf #pf_ld {
  position: absolute;
  top: -17px;
  right: -7px;
}
#pf .fieldWrapper {
  position: relative;
  height: 20px;
}
#pf .input_field {
  border: none;
  margin: 0;
  padding: 0 10px;
  z-index: 1;
  line-height: 24px;
  height: 31px;
  overflow: hidden;
  outline: none;
  font-size: 14px;
  font-family: 'PT Serif Caption', serif;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
#pf .uiTagInput {
  background: transparent;
  box-shadow: none;
  padding: 0 5px;
}
#pf .inp-wpr {
  position: relative;
}
#pf #pf_wpr02 {
  border-top: 1px solid #EEEEEE;
}
#pf #pf_f02,
#pf #textInputRow {
  position: relative;
  padding: 10px;
  margin-bottom: 0;
  background: white;
}
#pf #pf_inp04 {
  width: 100%;
  display: block;
  border: none;
  height: 20px;
  font-size: 16px;
  line-height: 22px;
  resize: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  margin-bottom: 0;
  outline: none;
}
#pf #charRemain {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #CCCCCC;
  z-index: 1;
}
#pf div#inp04Error {
  background: #EEE;
  padding: 2px 5px;
  margin-top: 5px;
}
#pf #pf_f03,
#pf #pf_f05 {
  display: inline-block;
}
#pf #pf_f05,
#pf #pf_f03,
#pf #pf_f04 {
  padding: 0px;
  line-height: 24px;
  height: 30px;
}
#pf #pf_f05 {
  display: inline;
}
#pf #pf_05 .tag-group .tag {
  width: 134px;
  background: beige;
  float: left;
  height: 30px;
  margin-left: 1px;
}
#pf input[disabled=disabled] {
  opacity: 0.2;
}
#pf #pf_inp05 {
  width: 180px;
}
#pf #pf_inp06 {
  width: 538px;
}
#pf #pf_inp07 {
  width: 114px;
}
#pf #pf_f03 {
  border-top: none;
  width: 200px;
  margin-left: 0px;
  border-right: 1px solid #EEEEEE;
}
#pf #pf_wpr03,
#pf #tagRow {
  height: 31px;
  margin-top: 1px;
  background: white;
  padding-left: 5px;
}
#pf #pf_wpr04 {
  border-top: 1px dashed #EEEEEE;
}
#pf #pf_wpr04 .input_field {
  font-size: 12px;
  line-height: 14px;
  height: 26px;
}
#pf #pf_wpr04 #pf_inp_src {
  width: 96.4%;
}
#pf #pf_f01,
#pf #pf_f06,
#pf #pf_f07 {
  background-color: transparent;
  border-top: none;
  padding: 0 0 5px;
}
#pf #pf_f07 {
  margin-top: 5px;
}
#pf .pf_fg {
  /*position:relative;*/
}
#pf #pf_f06 {
  float: right;
  z-index: 1;
}
#pf .field .item {
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  position: relative;
}
#pf .field .tag {
  display: inline-block;
  margin-left: 5px;
  border: 1px solid #DDD;
  position: relative;
  padding: 0 26px 0 8px;
  line-height: 22px;
}
#pf .field .tag:first-child {
  margin-left: 0;
}
#pf .field .tag .xbt {
  top: 2px;
  right: 3px;
  position: absolute;
}
#pf .field .topic {
  display: block;
}
#pf .xbt,
#pf #cancelEvt {
  line-height: 14px;
  padding: 0;
  height: 14px;
  width: 15px;
  margin: 1px;
  overflow: hidden;
  color: #CCC;
  position: absolute;
  top: 6px;
  right: 8px;
  text-indent: 1px;
  font-size: 22px;
  font-weight: normal;
  border: 1px solid #EEEEEE;
}
#pf .xbt:hover,
#pf #cancelEvt:hover {
  color: white;
  background: #2f4f4f;
  text-decoration: none;
}
#pf .inst_ul {
  background: #FFF;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 6px;
  position: absolute;
  left: 3px;
  top: 26px;
  width: 98%;
  z-index: 5;
  border: 1px solid #ccc;
}
#pf .inst_ul li {
  border-top: 1px solid #EEE;
  padding: 0 6px;
  line-height: 22px;
}
#pf .inst_ul li.arrselected {
  background-color: #DDD;
  cursor: pointer;
}
#pf .newItemForm {
  padding: 6px;
  margin-bottom: 6px;
  background: #f8f8f8;
}
#pf #pf_ef {
  padding: 16px 10px;
  margin: 0 10px 10px;
  border-top: 1px dashed #EEE;
  background: #f4f4f4;
}
#pf #pf_ef .row {
  margin-bottom: 5px;
  position: relative;
}
#pf #pf_ef .row:last-child {
  margin-bottom: 0;
}
#pf #pf_ef .row .col1 {
  width: 40px;
  text-align: right;
  vertical-align: top;
  line-height: 22px;
}
#pf #pf_ef .row .inst_ul {
  left: 45px;
  width: 87%;
}
#pf #pf_ef .row #pf_ef_inp01,
#pf #pf_ef .row #pf_ef_inp02,
#pf #pf_ef .row #event_place_sel {
  width: 87%;
  max-width: 87%;
  margin: 0;
  padding: 0;
}
#pf #pf_ef .row #pf_ef_inp02 {
  height: 40px;
  min-height: 40px;
  border: 1px solid #CCC;
  line-height: 14px;
}
#pf #pf_f08 {
  height: 22px;
  display: inline-block;
  padding: 0;
  line-height: 22px;
  vertical-align: middle;
  border: none;
  display: inline;
}
#pf .postAtt .pi_item {
  width: 21px;
  height: 20px;
  position: absolute;
  text-align: center;
  color: #CCC;
  top: 0px;
  left: -28px;
  border: 1px solid #DDD;
  line-height: 20px;
  font-size: 16px;
  text-indent: 23px;
  overflow: hidden;
  background: url("../images/qkico16.png") no-repeat -372px -4px;
}
#pf .postAtt .pi_item:hover {
  background-color: white;
  border-color: #2f4f4f;
}
#pf .postAtt #attLink {
  position: absolute;
  top: 27px;
  left: -28px;
  width: 21px;
  height: 20px;
  overflow: hidden;
  text-indent: 30px;
  border: 1px solid #DDD;
  background: url("../images/qkico16.png") no-repeat -343px -4px;
}
#pf .postAtt #attLink:hover {
  text-decoration: none;
  border-color: #2f4f4f;
  background-color: white;
}
#pf #pf_inp13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  z-index: 5;
  text-indent: 122px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
#pf #pf_f09 {
  position: relative;
  overflow: hidden;
  margin: 0px;
  border-bottom: none;
}
#pf #pf_f09 #rmPhoto {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 22px;
  width: 22px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  color: darkslategray;
  line-height: 22px;
  background: white;
}
#pf #pf_f09 #rmPhoto:hover {
  background: #EEE;
}
#pf #pf_f10 {
  height: auto;
  position: relative;
}
#pf #pf_f10 .fl {
  float: left;
}
#pf #pf_f10 .clear {
  clear: both;
  font-size: 1px;
}
#pf #pf_f10 .fl_img {
  width: 110px;
}
#pf #pf_f10 .fl_desc {
  width: 300px;
}
#pf #pf_f10 .img {
  float: left;
  height: 100px;
  width: 100px;
  border: 1px solid #ddd;
  margin-top: 5px;
  margin-bottom: 5px;
}
#pf #pf_f10 img {
  width: 100px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
#pf #pf_f10 .title {
  line-height: 14px;
  font-size: 12px;
  overflow: hidden;
  font-weight: bold;
}
#pf #pf_f10 .url {
  font-size: 10px;
  color: gray;
  height: 14px;
  overflow: hidden;
}
#pf #pf_f10 .description {
  font-size: 10px;
  line-height: 14px;
  margin-top: 5px;
}
#pf #pf_f10 .is_thumbnail {
  margin-top: 5px;
}
#pf #pf_f10 #fl_rm {
  position: absolute;
  top: 5px;
  right: 5px;
}
#pf #pf_f10 a.inline_edit {
  text-decoration: none;
  color: black;
}
#pf #pf_f10 a.inline_edit:hover {
  background: #ff3;
}
#pf #pf_f10 .inline_input {
  width: 295px;
  max-width: 295px;
}
#pf label.uiPostPrivacy {
  margin-right: 10px;
}
#pf .addbt {
  color: #CCC;
  height: 22px;
  float: left;
  margin-left: 5px;
}
#pf .addbt:hover {
  text-decoration: none;
  color: darkslategray;
}
#pf .addbt_active {
  color: yellow;
}
#pf #pf_opt {
  margin-top: 5px;
  height: 33px;
  line-height: 22px;
  padding: 0;
}
#pf #pf_opt .fieldPostSubmit {
  text-align: right;
}
#pf .inputSuggest .suggestion {
  line-height: 24px;
  font-size: 14px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}
#pf .inputSuggest .suggestion strong {
  color: blue;
}
#pf .inputSuggest .suggestion:last-child {
  border-bottom: none;
}
#pf .inputSuggest .selected {
  background-color: #F0F0F0;
  cursor: pointer;
}
#pf #pfTb {
  margin: 0 0 5px 0;
  padding: 0;
}
#pf #pfTb li {
  display: inline;
}
#pf #pfTb li .pftlnk {
  margin-right: 8px;
  font-size: 14px;
}
#pf #pfTb li .pftlnk i.ico {
  font-size: 16px;
  font-weight: bold;
  color: gray;
}
#pf #pfTb li .pftlnk.on {
  opacity: 0.1;
}
#pf .removable {
  border: 1px dashed #DDDDDD;
}
#pf #pfTitle {
  position: relative;
  padding: 0 10px;
}
#pf #pfTitle #inpTitle {
  width: 100%;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}
#pf #pfTitle .xbt {
  position: absolute;
  top: -2px;
  right: -18px;
  background: white;
  border: 1px dashed #cccccc;
  border-left-color: white;
}
#pf #pfTitle .xbt:hover {
  color: #2f4f4f;
}
#pf #attPhotoUI {
  position: relative;
  padding: 10px;
  background-color: #fbfbfb;
}
#pf #attPhotoUI .xbt {
  position: absolute;
  top: -2px;
  right: -18px;
  background: #fbfbfb;
  border: 1px solid #cccccc;
  border-left-color: #fbfbfb;
}
#pf #attPhotoUI .xbt:hover {
  color: #2f4f4f;
}
#pf #attPhotoUI #addPhotoOptions {
  margin: 0;
  padding: 0;
}
#pf #attPhotoUI #addPhotoOptions:first-child {
  margin-top: 0;
}
#pf #attPhotoUI #addPhotoOptions li {
  position: relative;
  padding: 5px 0;
  width: 49%;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  background: #F0F0F0;
}
#pf #attPhotoUI #addPhotoOptions li:first-child {
  margin-left: 0;
}
#pf #attPhotoUI #addPhotoOptions li #inpPhoto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  outline: none;
  cursor: pointer;
  opacity: 0;
  text-indent: -100px;
}
#pf #attPhotoUI #photoCont .photoThumb {
  position: relative;
  display: inline-block;
  width: 136px;
  height: auto;
  min-height: 50px;
  max-height: 136px;
  background: #f5f5f5;
  margin-left: 10px;
  overflow: hidden;
}
#pf #attPhotoUI #photoCont .photoThumb:first-child {
  margin-left: 0;
}
#pf #attPhotoUI #photoCont .photoThumb .xbt {
  position: absolute;
  top: -1px;
  right: -1px;
  border: 1px solid #DDDDDD;
}
#pf #attPhotoUI #photoCont .photoThumb .xbt:hover {
  color: #2f4f4f;
}
#pf #attPhotoUI #photoCont .photoThumb.single {
  width: 100%;
  display: block;
  min-height: 200px;
  height: auto;
  max-height: none;
}
#pf #attPhotoUI #pfPhotoToolPane.hasTop {
  margin-top: 7px;
}
#pf #pfLink {
  position: relative;
  padding: 0 10px;
  background-color: #fbfbfb;
}
#pf #pfLink .xbt {
  position: absolute;
  top: -2px;
  right: -18px;
  background: #fbfbfb;
  border: 1px dashed #cccccc;
  border-left-color: #fbfbfb;
}
#pf #pfLink .xbt:hover {
  color: #2f4f4f;
}
#pf #pfLink #inpLink {
  width: 100%;
  padding: 0;
}
#pf #pfLink #attLinkUi {
  margin: 20px 10px;
}
#pf #pfLink #attLinkUi .row {
  margin-bottom: 10px;
}
#pf #pfLink #attLinkUi .row:last-child {
  margin-bottom: 0;
}
#pf #pfLink #attLinkUi .image {
  overflow: hidden;
  position: relative;
}
#pf #pfLink #attLinkUi .image #ximg {
  right: -1px;
  top: -1px;
  border: 1px solid #FBFBFB;
}
#pf #pfLink #attLinkUi .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
#pf #pfLink #attLinkUi .desc {
  font-size: 14px;
}
#pf #pfLink #attLinkUi .source {
  color: #999;
}
#pf #pfLink #attLinkUi .source .domain {
  font-weight: bold;
}
#pf #addPhotoFromWebUI {
  position: relative;
  padding: 0 30px 0 10px;
  background: white;
}
#pf #addPhotoFromWebUI #inpPhotoUrl {
  width: 100%;
  padding: 0;
}
#pf #addPhotoFromWebUI .xbt {
  position: absolute;
  top: 7px;
  right: 8px;
  border: none;
}
.infoMsgBox {
  color: #999;
  padding: 30px;
  text-align: center;
}
.mfp-with-fade .mfp-content,
.mfp-with-fade .mfp-arrow,
.mfp-with-fade.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content,
.mfp-with-fade.mfp-ready .mfp-arrow {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing .mfp-content,
.mfp-with-fade.mfp-removing .mfp-arrow,
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}
/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container {
  opacity: 0;
}
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
