// out: app.css, sourcemap: false, compress: false

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */

// ------------------------------------
//    #LESS VARS
// ------------------------------------

// ------------------------------------
//    #EXTERNAL STYLES
// ------------------------------------

@import "../base.less"; // standard component styles
//@import "../libs/common"; // common mixins

// ------------------------------------
//    #BASE
// ------------------------------------


// ------------------------------------
//    #OBJECTS
// ------------------------------------

// --- TOPBAR ---
#topbar {
  background: #F5F5F5;
  border-bottom: 1px solid #DEDEDE;
  height: 42px;
  line-height: 42px;
  width: 100%;
  position: fixed;
  z-index: 10;

  .wpr {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 42px;
  }

//  #uiQLogo {
//    position: relative;
//    float: left;
//    font-size: 22px;
//    text-decoration: none;
//    height: 42px;
//    line-height: 42px;
//    color: #CCC;
//    width: auto;
//    margin-left: 12px;
//
//    &:hover {
//      color: black;
//      text-decoration: none;
//    }
//  }
//  #uiQLogo.act{
//    color:#000000;
//  }

  #uiIptSearch {
    font-family: 'PT serif caption', serif;
    width: 478px;
    padding: 6px 10px;
    height: 18px;
    line-height: 20px;
    font-size: 16px;
    float: left;
    margin-top: 8px;
    outline: none;
    margin-left: 70px;
    border: 1px solid #DDD;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #um{
    list-style: none;
    margin: 0; padding:0;
    height: 42px;

    .umitem{
      display: inline;
      float:left;
      overflow: hidden;
      height: 42px;
      width: 40px;
      position: relative;
      text-align: center;

      .logo{
        font-size: 22px;
        color:#cccccc;
        text-decoration: none;
        &:hover{
          color: black;
        }
      }

      .umlnk{
        width: 32px;
        height: 42px;
        display: inline-block;
        overflow: hidden;
        text-align: center;
        text-indent: 136px;
        opacity: 0.3;

        &:hover{
          opacity: 1;
          text-decoration: none;
        }
      }
      .umlnk.on{
        opacity: 1;
      }

    }

    #uimg{
      overflow: visible;
      .umlnk{
        cursor: pointer;
        opacity: 1;
        border-radius: 20px;
        overflow: hidden;
        display: inline-block;
        top: 5px; left: 0;
        width: 32px;
        height: 32px;
        background: #CCCCCC;
        vertical-align: middle;
        text-indent: 0;
      }
      .popModal{
        max-width:200px;
      }
    }
    #unotif{
      width: 32px;
      overflow: visible;
      .umlnk{
        background: url("../images/qkico16.png") 1px 9px transparent no-repeat;
      }
      .count {
        position: absolute;
        top: 3px;
        left: 15px;
        background: red;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        color: white;
        padding: 0 2px;
        border-radius: 4px;
        box-shadow: 1px 1px 0 #AAA;
      }
      .popModal{
        max-width:452px;
      }
    }

    #uplus{
      width: 32px;
      overflow: visible;
      .umlnk{
        text-indent: 110px;
        line-height: 42px;
        font-size: 28px;
        background: url("../images/qkico16.png") -27px 8px transparent no-repeat;
      }
    }

    .umitem.search{
      width: 552px;
      margin-left: 67px;
      text-align: left;
      .inpBdr{
        top: 5px;
      }
    }
  }

  #topmenu{
    position: relative;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
    height: 42px;
    background: #F0F0F0;
    .leaf.logo{
      a{
        text-transform: none;
        font-size: 22px;
        line-height: 36px;
      }
    }
    .leaf{
      display: inline;
      .ma{
        float: left;
        font-size: 13px;
        margin-right: 30px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        color: lightgray;
        &:hover{
          color: blue;
        }
      }
      .active{
        border-bottom: 2px solid red;
        color: black;
        font-weight: bold;
      }
    }
  }
}
#topbar.hasflash {
  top: 41px;
}
// end of topbar

// Stream
.stream, .postSoloView{
  position: relative;
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
  .post, .postView, #postSolo{
    margin-bottom: 30px;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-family: 'PT Serif Caption', serif;

    .sublist{
      margin: 0;
      padding: 0;
    }
    .postdate{
      position: absolute;
      top: 28px;
      left: -60px;
      text-align: right;
      color: #DDDDDD;
      text-transform: uppercase;
      font-weight: bold;
      span{
        display: block;
      }
      .daynum{
        font-size: 40px;
        line-height: 38px;
        font-weight: bold;
        font-family: sans-serif;
      }
      .monthname{
        font-size: 9px;
        line-height: 11px;
      }
      .dayname{

      }
    }
    .header {
      margin: 0 5px;
      background: #FAFAFA;
      border: 1px solid #DDD;
      border-bottom: none;
      color: #CCC;
      .wpr {
        padding: 5px 10px 5px 60px;
      }
      .pimgbox {
        position: absolute;
        left: 18px;
        top: -8px;
        border-radius: 40px;
        -moz-border-radius: 40px;
        -webkit-border-radius: 40px;
        overflow: hidden;
        width: 40px;
        height: 40px;
        border: 2px solid #FFFFFF;
        background: #E6E6E6;
//        -moz-box-shadow: 0px 0px 3px #DDD;
//        -webkit-box-shadow: 0px 0px 3px #DDD;
//        box-shadow: 0px 0px 3px #DDD;
        z-index: 1;
      }
    }
    .main {
      position: relative;
      .wpr {
        border: 1px solid #DADADA;
        background: #fff;
        // box-shadow: 1px 1px 3px #DDD;

        .pictures{
          font-size: 0; // remove white space from inline block ele
          line-height: 0;
          margin: 0;
          overflow: hidden;
          .thumb{
            display: inline-block;
            vertical-align: top; // remove white space underneath
            margin-right: 2px;
            font-size: 0;
            line-height: 0;
            &:last-child{ margin-right: 0; }
            a.uiPostPhoto{
              outline: none;
            }
          }
          .thumb.c1{
            width: 100%;
          }
          .thumb.c2{ width: 49.8%; }
          .thumb.c3{ width: 33.1%; }
          .thumb.c4{ width: 24.7%; }
          .small{
            margin-left: 20px;
            margin-top: 20px;
          }
        }
        .layoutH{
          .thumb{
            &:first-child{ margin-bottom: 2px; }
          }
          .thumb.c2{
            width: 100%;
          }
          .thumb.c3{
            width: 49.8%;
            &:first-child{
              width: 99.9%;
              margin-right: 0;
            }
          }
          .thumb.c4{
            width: 33%;
            &:first-child{
              width: 99.8%;
              margin-right: 0;
            }
          }
        }
        .layoutV{
          .thumb{
            float:left;
            margin-right:0;
            margin-bottom: 2px;
          }
          .thumb.c3{
            &:first-child{
              width: 66.5%;
              margin-right: 2px;
            }
          }
          .thumb.c4{
            width: 32.6%;
            &:first-child{
              width: 67%;
              margin-right: 2px;
            }
          }
        }
        .layoutS{

        }

        .attLink{
          margin-top: 10px;
          border: 1px solid #DDDDDD;
          display: block;
          &:hover{
            text-decoration: none;
          }
          .row{
            margin: 0 10px 10px 10px;
            &:first-child{
              margin: 0 0 10px 0;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
          .image{
            overflow: hidden;
            position: relative;
            #ximg{
              right: -1px;
              top: -1px;
              border: 1px solid #FBFBFB;
            }
          }
          .title{
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
          }
          .description{
            font-size: 14px;
            line-height: 16px;
            color:#000000;
          }
          .source{
            color: #999;
            font-size: 12px;
            .domain{
              font-weight: bold;
            }
          }
        }

        .content {
          padding: 20px;
          line-height: 26px;
          font-size: 18px;
          font-family: 'PT Serif Caption', serif;
          clear: left;

          h2.title{
            margin-bottom: 10px;
            font-size: 22px;
          }
          .text{
            overflow: hidden;
            white-space: normal;
          }
          .source{
            font-size: 12px;
            color: #cccccc;
            margin-top: 5px;
          }

          p {
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          .contentText{
            margin-bottom: 20px;
          }
          .pshared {
            padding: 20px;
            border:1px solid #EEEEEE;
            .profileLink {
              position: relative;
              font-size: 14px;
              .profileImg{
                position: absolute;
                top: -10px;
                display: inline-block;
                z-index: 5;
              }
              .profileName{
                margin-left: 42px;
              }
            }
            .bd {
              margin-left: 42px;
              .text {
                font-size: 16px;
                line-height: 22px;
              }
              .postimg {
                width: 555px;
                margin: 10px 0;
              }
            }
            .bd.product{
              margin: 10px 0 0 0;
            }
          }
          .pshared.single{
            margin-top: 10px;
          }
          .postShareList {
            margin: 0;
            padding: 20px 10px 0px 10px;
            li {
              font-size: 14px;
              margin-bottom: 10px;
              line-height: 18px;
              &:last-child {
                margin-bottom: 0;
              }
              .bd {
                margin-left: 44px;
              }
              .ftr {
                margin-left: 44px;
                font-size: 11px;
              }
            }
          }

          .contentTag{
            font-size: 13px;
            line-height: 13px;
            margin-top: 20px;
          }

          .postProduct{
            position: relative;
            font-size: 16px;
            line-height: 18px;
            overflow: hidden;

            .checkLink{
              display: inline-block;
              background: lime;
              padding: 5px 10px;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              margin: 10px 0 0;
            }
            .productImage{
              margin-bottom: 20px;
              position: relative;
              text-align: center;
            }
            .productPrice {
              // position: absolute;
              // left: 0;
              // top: 0;
              background: white;
              padding: 8px 0 10px;
              font-size: 22px;
              font-weight: bold;
            }
            .productTitle{
              font-size: 16px;
              line-height: 20px;
            }
            .productBrand{
              color: #CCCCCC;
              margin-top: 5px;
            }
            .productFeatures {
              padding: 15px 20px;
              background: #FAFAFA;
              margin-top: 10px;

              ul.featureList{
                margin: 0px;
                padding: 10px 0 0 20px;
                li{
                  margin-bottom: 5px;
                  &:last-child{
                    margin-bottom: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .meta {
      position: relative;
      padding: 0 10px;
      line-height: 29px;
      border-top: 1px solid #FAFAFA;
      min-height: 14px;
      font-size: 12px;
    }
    .footer {
      background: #fafafa;
      border: 1px solid #E0E0E0;
      border-top: none;
      margin: 0 5px;
      .actions {
        margin: 0;
        padding: 5px 10px;
        font-size: 12px;
        list-style: none;
        .item {
          display: inline-block;
          border-left: 1px solid #ddd;
          padding-left: 10px;
          margin: 0 5px 0 0;
          font-size: 12px;
          &:first-child {
            border-left: none;
            padding-left: 0;
          }

          .icoLink{
            i {
              height: 16px;
              width: 16px;
              float: left;
              background: url("../images/qkico16.png") transparent no-repeat -260px -36px;
            }
            i.on{ opacity: 1; }
            i.off{ opacity: 0.1; }
            .text{
              margin-left: 5px;
            }
          }

          .uiPostLike {
            i { background-position: -5px -36px }
            &:hover{
              i.on{ opacity: 1; }
            }
          }
          .uiPostComment{
            i{ background-position: -35px -35px; }
            &:hover{
              i.on{ opacity: 1; }
            }
          }
          .uiPostShare{
            i{ background-position: -64px -34px; }
            &:hover{
              i.on{ opacity: 1; }
            }
          }
          .uiPostSave, .uiPostSaveLbl{
            i{ background-position: -91px -35px; }
          }
          .uiPostReport{
            i{ background-position: -121px -34px; }
            &:hover{
              i.on{ opacity: 1; }
            }
          }
          .uiPostHide{
            i{ background-position: -148px -35px; }
            &:hover{
              i.on{ opacity: 1; }
            }
          }
          .uiPostDelete{
            i{ background-position: -233px -36px; }
            &:hover{
              i.on{ opacity: 1; }
            }
          }
          .uiPostOptions{
            letter-spacing: -1px;
            color: #CCCCCC;
            &:hover{
              text-decoration: none;
              color: #000000;
            }
          }
          .popModal {
            max-width: 160px;
            .popmenu {
              .item {
                display: block;
                margin: 0;
                padding: 0;
                border: none;
                .icoLink {
                  i {
                    float: none;
                    display: inline-block;
                    vertical-align: middle;
                  }
                }
                .text{
                  font-size: 14px;
                }
              }
            }
          }
        }
        .item.save {
          .popModal{
            max-width: 300px;
            max-height: 200px;
            min-height: 100px;
            #collDlg{
              width: 298px;
              #dlgTitle {
                height: 30px;
                line-height: 32px;
                font-size: 12px;
                padding-left: 10px;
              }
              a#addNew {
                position: absolute;
                top: 8px;
                right: 10px;
                font-size: 12px;
              }
              #newCollForm {
                position: absolute;
                top: 31px;
                left: 0;
                width:100%;
                box-shadow: 0px 1px 3px #DDD;
                .inp{
                  width: 96.7%;
                  padding: 5px;
                  height: 47px;
                  background: #f5f5f5;
                  border-bottom: 1px solid #DDDDDD;
                  .inpBdr{
                    width: 74.9%;
                    display: inline-block;
                    padding: 4px 8px;
                  }
                }
                .rowOpt{
                  margin-top: 3px;
                  font-size: 11px;
                }
                .errStatus{
                  color: red;
                  padding: 2px 5px;
                  font-size: 11px;
                  background: white;
                }

              }
              .stream{
                min-height: 100px;
                max-height: 145px;
                .collist{
                  li.item{
                    border-bottom: 1px solid #EEEEEE;
                    padding: 0;
                    label.collection{
                      display: block;
                      font-size: 14px;
                      line-height: 16px;
                      padding: 6px 10px;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .comment-stream{
      .commentForm{
        padding: 10px;
        background: #F7F7F7;
        border: 1px solid #E4E4E4;
        border-top: none;
        margin: 0 5px;
        form{ margin-left: 42px; }

      }
      a.uiMore {
        border-top: none;
      }
      .comments{
        margin: 0 5px;
        padding: 0;
        list-style: none;
        background: rgb(248, 248, 248);
        border: 1px solid #E0E0E0;
        border-top: none;

        .comment {
          position: relative;
          margin: 0;
          border-bottom: 1px solid #f3f3f3;
          padding: 8px 30px 8px 10px;
          .hidden {
            padding: 0;
          }
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background: #FDFDFD;
          }
          .header{
            border: None;
            background: none;
            margin: 0;
            .uiVerb{
              font-size: 11px;
            }
          }
          .main{
            .wpr {
              padding: 0;
              border: none;
              box-shadow: none;
              background: none;
              margin-left: 42px;
              .commentText {
                font-size: 14px;
                line-height: 16px;
                font-family: 'PT Serif Caption', serif;
                white-space: pre-wrap;
              }
              .commentText.editabled{
                &:hover{
                  background: yellow;
                }
              }
              .editForm{
                .editArea{ background: yellow; resize:none; }
                .hint {
                  color: #CCC;
                  font-size: 11px;
                }
              }
            }
          }
          .commentReply {
            padding-left: 0;
            position: relative;
          }
          .actions {
            list-style: none;
            margin: 0 5px 0 25px;
            font-size: 11px;
            border: none;
            padding: 0 12px;
            .item {
              display: inline;
              margin: 0;
              padding: 0 5px 0 0;
              &:first-child{
                padding-left: 0;
                border-left: none;
              }
              a.disabled {
                color: #999;
              }
              .xuiDeleteComment {
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                font-size: 11px;
              }
              .icoLink{
                i{
                  display: inline-block;
                  vertical-align: sub;
                  width: 14px;
                  height: 14px;
                  background: url("../images/qkico16.png") transparent no-repeat -260px -36px;
                }
                i.on{ opacity: 1; }
                i.off{ opacity: 0.1; }
              }
              .commentLike, .replyLike, .commentLikeLbl{
                i{
                  background-position: -291px -35px;
                }
              }
              .uiCommentReply, .uiCommentReplyLbl{
                i{
                  background-position: -34px -64px;
                }
              }
              .commentReport, .replyReport{
                i{
                  background-position: -64px -64px;
                }
              }
              .commentHide, .replyHide{
                i{
                  background-position: -92px -64px;
                }
              }
              .commentDelete, .replyDelete{
                i{
                  background-position: -177px -64px;
                }
              }
              .uiCommentOptions{
                letter-spacing: -1px;
                color: #dddddd;
                &:hover{
                  color: #000000;
                  text-decoration: none;
                }
              }
              .popModal{
                max-width: 150px;
                .popmenu{
                  .item{
                    padding: 0;
                    margin: 0;
                    display: block;
                    border-left: none;
                  }
                }
              }
            }
          }
          .replies{
            margin-left: 55px;
            margin-top: 10px;
            border-left: 2px solid #EEEEEE;
            padding-left: 23px;
            .sublist{
              list-style: none;
              .profileImg{
                position: absolute;
                left: -43px;
                top: 7px;
              }
              .profileName{
                margin-left: 0;
              }
              .wpr{
                margin-left: 0;
              }
              .actions{
                margin-left: 0;
                padding-left: 0;
              }
            }
            .commentForm{
              border: none;
              background: none;
              padding: 10px 0 0 0;
              margin: 0 0 5px 0;
              position: relative;
              form{ margin-left: 0; }
              .profileImg{
                position: absolute;
                left: -42px;
                top: 7px;
              }
            }
            .subcomments{
              border: none;
              margin: 0;
              background: none;
              .comment{
                padding: 8px 30px 8px 0px;
                &:first-child{ border-top: 1px solid #F3F3F3; }
                &:hover{ background: none; }
              }
            }
            a.uiMore {
              display: inline-block;
              line-height: 16px;
              margin:0;
              border:none;
              background: none;
            }
          }
          ul li.commentReply {
            padding: 10px 10px 0 0;
            border-bottom: none;
          }
          .uiCommentReplyTextarea{
            width:506px;
          }
        }
        a.uiMore{
          border-top: none;
          line-height: 18px;
        }
      }
      .subcomments{
        .comment{
          padding-left: 0;
        }
      }
    }
    .dateGroup{
      font-size: 11px;
      color: #CCCCCC;
    }

    .hiddenNotice{
      display: block;
      text-align: center;
      background: rgb(247, 247, 247);
      margin: 0 5px;
      line-height: 25px;
      font-size: 12px;
      color:#CCCCCC;
      text-decoration: none;
    }
  }

  #postSolo{
    margin-bottom: 0;
    .content{
      border:none;
    }
  }

  li.groupLabel{
    margin-bottom: 30px;
    position: relative;
    border-bottom: 1px solid #DDD;
    color: #CCC;
    .glabel{
      //text-transform: uppercase;
      //position: absolute;
      //top: -18px;
      //left: -60px;
      //background-color: rgb(240, 240, 240);
      //display: inline-block;
      //padding-right: 10px;
      //width: 45px;
      //text-align: right;
      //line-height: 18px;
      text-transform: uppercase;
      position: absolute;
      top: -10px;
      right: 0px;
      background-color: #E6E6E6;
      display: inline-block;
      padding-right: 10px;
      width: 90px;
      text-align: right;
      line-height: 18px;
    }
  }

  a.uiMore {
    margin: 0 5px;
    background: rgb(249, 249, 249);
    display: block;
    text-align: center;
    border: 1px solid #DFDFDF;
    color: #CCC;
    line-height: 22px;
    letter-spacing: -1px;
    &:hover {
      text-decoration: none;
      background: white;
      color: #2f4f4f;
    }
  }
  .popModal{
    max-width: 200px;
    min-width: 160px;
  }

  ul.streamFilter {
    margin: 0 0 30px 0;
    padding: 5px 10px;
    list-style: none;
    background: #E8E8E8;
    li{
      display: inline;
      margin-right: 10px;
      font-size: 13px;
      select {
        border: none;
        background: none;
        outline: none;
      }
    }
  }
// }

// -- DIALOG --
.dialogModal{
  padding-top: 100px;
  .dialogModal_top{
    .dialogModal_header{
      background: #fafafa;
    }
  }
  .dialogModal_body{
    .dialogModal_content{
      .content{
        background: white;
        border: 1px solid #eeeeee;
        padding: 20px;
        overflow: hidden;
        font-size: 16px;
        .hdr{
          padding-bottom: 5px;
          margin-bottom: 10px;
          font-size: 14px;
        }
        .dlg{
          .field{
            margin-bottom: 8px;
            &:last-child{ margin-bottom: 0}
          }
          .inpBdr{}
          .state{
            display: inline-block;
            font-size: 12px;
            line-height: 12px;
            margin-top: 5px;
            color: red;
          }
          .state.hide{
            display: none;
          }
        }
        #dlgP8{

        }
        #dlgN4{
          .name{
            float: left;
            width: 182px;
            margin-left: 10px;

            &:first-child{
              margin-left: 0;
            }
          }
          .p8field{
            clear: left;
          }
        }
      }
      .shareContent{
        padding: 30px;
      }
    }
  }
  .dlgShare{
    .inpBdr{

    }
  }
}

// PopModal
.popModal{
  padding: 0;
  .popModal_content{
    margin: 0 auto;
    font-family: 'PT Serif Caption', serif;

    h2.title {
      border-bottom: 1px solid #EEE;
      padding-left: 10px;
      font-size: 16px;
      line-height: 30px;
      overflow: hidden;
      font-weight: lighter;
      color: rgb(204, 204, 204);
    }
    .popinfoContent{
      text-align: center;
      background-color: #fafafa;
      margin: 5px;
      padding: 10px;
      .imgbox {
        width: 75px;
        height: 75px;
        margin: 0 auto;
        .image{
          display: inline-block;
          overflow: hidden;
          width: 75px;
          height: 75px;
          border-radius: 40px;
          background-color: #DDDDDD;
          -moz-border-radius: 40px;
          -webkit-border-radius: 40px;
        }
      }
      h2.uiName{
        font-size: 18px;
        margin: 5px 0;
        line-height: 20px;
      }
      .desc{
        font-size: 13px;
        line-height: 14px;
        color:#999999;
      }
      ul{
        list-style: none;
      }
      button{
        width: 100%;
        margin-top: 10px;
        padding: 4px 20px;
      }
    }
  }

  .popmenu {
    margin: 1px;
    padding: 0;
    list-style: none;
    .item{
      display: block;
      a{
        border-bottom: 1px solid whitesmoke;
        display: block;
        padding: 0 10px;
        color: black;
        line-height: 26px;
        &:hover {
          text-decoration: none;
          background-color: whitesmoke;
        }
      }
      &:last-child a {
        border-bottom: none;
      }
      a.icoLink{
        i{
          display: inline-block;
          vertical-align: sub;
          width: 16px;
          height: 16px;
          background: url("../images/qkico16.png") -63px -6px transparent no-repeat;
        }
        i.on{ opacity: 1; }
        i.off{ opacity: 0.1; }
        .text{
          margin-left: 5px;
        }
      }
      a.icoLink.posts{
        i{ background-position: -232px -6px; }
      }
      a.icoLink.favorites{
        i{ background-position: -91px -34px; }
      }
      a.icoLink.saves{
        i{ background-position: -91px -35px; }
      }
      a.icoLink.followers{
        i{ background-position: -262px -7px; }
      }
      a.icoLink.following{
        i{ background-position: -289px -6px; }
      }
      a.icoLink.settings{
        i{ background-position: -319px -7px; }
      }
      a.icoLink.logout{
        i{ background-position: -151px -7px; }
      }
      a.icoLink.add{
        i{ background-position: -345px -34px; }
      }
      .delete{
        &:hover {
          background-color: red;
          color: white;
        }
      }

    }
  }
}
// dialogModal
.dialogModal{
  .dialogModal_top{
    position: relative;
    .dialogModal_header{
      &:after{ display: none; }
      padding: 10px 20px;
      height: 50px;
      .close{
        font-size: 32px;
        font-weight: normal;
      }
    }
  }
  .dialogModal_body{
    margin: 0px auto 40px;
    .dialogModal_content{
      padding: 20px;
      background: rgb(250, 250, 250);
      min-height: 80px;
      #reportcats{
        list-style: none;
        margin: 0 10px;
        padding: 0;
        li{
          line-height: 26px;
        }
      }
      .pwdbox{
        margin-top: 5px;
        font-size: 12px;
      }
      .shareContent{
        position: absolute;
        top: 140px;
        left: 16px;
        width: 95%;
        z-index: -1;
      }
    }
    .dialogModal_footer{
      padding: 15px 20px;
      border: 1px solid #f0f0f0;
      // box-shadow: 0px 2px 3px #E8E8E8;
    }
    .imgContent{
      text-align: center;
    }
  }
}

// NofityModal
.notifyModal{
  .notifyModal_content{
    box-sizing: content-box;
    .close{
      background: none;
      border: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-size: 26px;
      font-weight: normal;
      line-height: 16px;
    }
  }
}

// ---- NOTIFICATION DIALOG -------
#ntDlg, #collDlg {
  background-color: white;
  position: relative;
  color: black;
  z-index: 0;
  #dlgTitle {
    margin: 0;
    height: 40px;
    line-height: 44px;
    padding-left: 14px;
    font-size: 16px;
    color: #999;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #DDD;
  }
  a.uiMore{ margin:0; border:none; }
  .stream{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    max-height: 350px;
    min-width: 200px;
    overflow: hidden;
    .item {
      margin: 0;
      .notifItem {
        border-bottom: 1px solid #EEE;
        padding:10px 30px 10px 10px;
        overflow: hidden;
        display: block;
        color: black;
        font-size: 14px;
        line-height: 16px;
        opacity: 0.3;
        .ntwpr{ margin-left: 45px; }
        .uiUsername{ font-weight: bold; color:blue; }
        .notifDate { font-size: 11px; display: block; }
        &:hover { background: lightcyan; text-decoration: none; opacity: 1; }
      }
      .notifItem.unread,
      .notifItem.unseen { opacity: 1; }
      .itemActionDiv { position: absolute; top: 10px; right: 10px; width: 16px; height: 36px; }
      .uiItemAction {
        position: relative;
        float: left;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        color: #999;
        z-index: 9;
        &:hover { text-decoration: none; color: white; background: #333; }
      }
    }
  }
}
// end of notification dialog -------

// -------------------------------
// #COMPONENTS
// -------------------------------

// --- LAYOUT ---
#page {
  position: relative;
  .pWrap {
    margin: 0 auto;
    width: 1000px;
    padding-top: 120px;
    position: relative;
  }
  .col { margin-left: 20px; float: left; }
  .fit { margin-left: 0; }
  #leftCol {
    width: 160px;
    max-width: 160px;
    min-height: 600px;
    margin-left: 0;

    #content-menu{

    }
    #content-menu.fixed {
        position: fixed;
        top: 42px;
        z-index: 1;
      }
  }
  #centerCol {
    min-width: 300px;
    max-width: 640px;
    width: 550px;
    padding-bottom: 50px;
  }
  #rightCol {
    width: 250px;
    padding-top: 40px;
    .block{
      margin-bottom: 20px;
    }
    h2.block-title{
      font-size: 18px;
    }
    ul.menu{
      margin: 0; padding: 0;
      list-style: none;
      li.item{
        margin-bottom: 4px;
        line-height: 16px;
        &:last-child{
          margin-bottom: 0;
        }
        .count{
          color: #cccccc;
          font-weight: normal;
        }
      }
    }
    ul.block{
      margin-bottom: 15px;
    }
    ul.yearlist{
      .item{
        font-size: 20px;
        font-weight: bold;
        line-height: 22px;
      }
      .item.year{
        margin-bottom: 5px;
        .count{
          font-size: 14px;
          line-height: 22px;
        }
      }
      ul.monthlist{
        margin-bottom: 10px;
        padding-left: 10px;
        border-left: 1px solid #cccccc;
        .item{
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    ul.topiclist{
      margin-top: 10px;
      .item{

      }
    }
  }
}

// ------------
// SETTINGS HTML
#settingsHtml{
  .block{
    margin-bottom: 20px;
    .hl{
      border-bottom: 1px solid #DDD;
      padding-bottom: 10px;
      margin-bottom: 0px;
    }
    .content{
      padding: 20px;
      background: white;
      .row{
        position: relative;
        padding: 5px 0;
        .uiFieldLabel{
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }
        .uiFieldVal{
          display: block;
          border: 1px solid #DDDDDD;
          padding: 5px 10px;
          background-color: #FDFDFD;
          font-size: 18px;
          line-height: 22px;
        }
        .uiBtnEdit{
          margin-left: 10px;
          font-size: 12px;
          position: absolute;
          top: 6px;
          right: 0px;
        }
        .hint{
          color: #CCCCCC;
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }
  }

  .block-picture{
    text-align: center;
    position: relative;

    .imgcon{
      display: inline-block;
      border: 5px solid #FFF;
      width: 200px;
      height: 200px;
      background-color: #CCCCCC;
      overflow: hidden;
      border-radius: 120px;
    }

    .btnChangePic {
      display: inline-block;
      width: 120px;
      height: 26px;
      font-size: 12px;
      line-height: 26px;
      position: absolute;
      overflow: hidden;
      background: #E6E6E6;
      top: 0;
      right: 0;
      color: blue;

      input#inpProfilePic {
        position: absolute;
        width: 120px;
        line-height: 26px;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
      }
    }

  }

  ul{
    margin: 20px 0;
    list-style: none;
    padding-left: 0;
    li{ line-height: 24px; }
  }

  .noticebox {
    font-size: 12px;
    background: #F3F3F3;
    padding: 5px 10px;
    margin-top: 5px;
  }
}

// PAGE PROFILE
#profileView {
  .streamHdrLabel{
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #CCC;
    margin-bottom: 30px;
  }
  .profileCover {
    position: relative;
    margin-bottom: 30px;
    .profileCoverBg {
      background: white;
      box-shadow: 1px 1px 3px #DDD;
      border-top: 1px solid silver;
    }
    .profileCoverGroup {
      position: relative;
      margin-left: 180px;
      padding: 10px;
      min-height: 100px;
      .row {
        border-bottom: 1px solid #EEE;
        padding-bottom: 10px;
        margin-bottom: 10px;
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }
    .profileName {
      margin-left: 190px;
      line-height: 28px;
      min-height: 40px;
    }
    .nameGroup {
      bottom: 0px;
      .uiFullname {
        font-size: 28px;
        font-weight: bolder;
        margin: 0;
      }
      .uiUsername {
        font-size: 22px;
      }
    }
    .changePicture {
      position: relative;
      bottom: 0;
      left: 0px;
      width: 124px;
      height: 24px;
      cursor: pointer;
      padding: 0;

      .link {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 24px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
      }

      .inputFile {
        position: absolute;
        top: 0;
        width: 100%;
        line-height: 24px;
        z-index: 5;
        cursor: pointer;
        left: 0;
        opacity: 0;
      }
    }
  }
  .profilePicture {
    height: 150px;
    width: 150px;
    background: gainsboro;
    position: absolute;
    overflow: hidden;
    border: 5px solid white;
    margin: 0 auto;
    box-shadow: 1px 1px 3px #DDD;
    left: 10px;
    top: -30px;
    border-radius: 90px;
  }
  .profileTitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .profileCountGroup {
    height: 36px;
    .countCol {
      float: left;
      width: 80px;
      border-left: 1px solid #DDD;
      padding-left: 10px;
      padding-right: 10px;
      .labelText {
        display: block;
        text-transform: uppercase;
        font-size: 11px;
        color: #999999;
      }
      &:first-child {
        border-left: none;
        padding-left: 0;
      }
      .uiCount {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

// PAGE TOPIC
.pageTopic{
  .cover{
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px #DDD;
    position: relative;
    .name{
      line-height: 50px;
      font-size: 32px;
    }
    .info{
      border-top: 1px solid #F5F5F5;
      padding: 10px 0 0 0;
      position: relative;
      .boxFollowerCount{
        display: inline-block;
        padding: 2px 0;
        text-transform: uppercase;
      }
      .boxFollowBtn{
        position: absolute;
        top:10px; right: 0;
      }
    }

  }
}

// User Stream
.userStream{
  ul.users{
    position: relative;
    left: -20px;
  }
  li.user{
    width: 26.3%;
    min-width: 150px;
    border: 1px solid #DDD;
    height: 250px;
    overflow: hidden;
    float: left;
    margin-left: 11px;
    padding: 10px;
    margin-bottom: 11px;
    text-align: center;
    background: white;

    .userBadge{
      background-color: azure;
      padding: 10px;
      height: 230px;
    }

    .profileImg{
      width: 75px;
      height: 75px;
      border-radius: 40px;
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      float: none;
      display: inline-block;
    }
    .profileName{
      font-size: 18px;
      line-height: 18px;
      max-height: 18px;
      display: inline-block;
      overflow: hidden;
    }
    .desc{
      display: inline-block;
      max-height: 50px;
      overflow: hidden;
      margin: 10px 0 0 0;
    }
    .counts{
      text-transform: uppercase;
      font-size: 11px;
    }
    .btnFollow{
      margin-top: 10px;
    }
  }
  a.uiMore{
    clear: left;
    margin: 0 22px 0 0;
  }
}

// POST FORM
#pf{
  font-size:12px;
  position: relative;
  height: auto;

  .row{
    position: relative;
    border-bottom: 1px dashed #EEEEEE;
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  #pf_wpr01{
    background: white;
    border: 1px solid #cccccc;
  }
  #pf_ld{
    position: absolute;
    top: -17px;
    right: -7px;
  }
  #pf_wpr01{
//    border:1px solid #CCC;
//    -moz-box-shadow: 1px 1px 3px #DDD;
//    -webkit-box-shadow: 1px 1px 3px #DDD;
//    box-shadow: 1px 1px 3px #DDD;
//    background: white;
  }
  .fieldWrapper{
    position:relative;
    height:20px;
  }
  .input_field{
    border:none;
    margin:0;
    padding:0 10px;
    z-index:1;
    line-height:24px;
    height: 31px;
    overflow: hidden;
    outline:none;
    font-size: 14px;
    font-family:'PT Serif Caption', serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
  .uiTagInput{
    background: transparent;
    box-shadow: none;
    padding: 0 5px;
    &:first-child{  }
  }
  .inp-wpr{
    position: relative;
  }
  #pf_wpr02{
    border-top: 1px solid #EEEEEE;
  }
  #pf_f02, #textInputRow{
    position: relative;
    padding: 10px;
    margin-bottom: 0;
    background: white;
  }
  #pf_inp04{
    width: 100%;
    display: block;
    border: none;
    height: 20px;
    font-size: 16px;
    line-height: 22px;
    resize: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    outline: none;
  }
  #charRemain{
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #CCCCCC;
    z-index: 1;
  }
  div#inp04Error {
    background: #EEE;
    padding: 2px 5px;
    margin-top: 5px;
  }
  #pf_f03, #pf_f05{
    display: inline-block;
  }

  #pf_f05, #pf_f03, #pf_f04{
    padding:0px;
    line-height:24px;
    height: 30px;
  }
  #pf_f05{
    display: inline;
  }
  #pf_05 .tag-group .tag{
    width: 134px;
    background: beige;
    float: left;
    height: 30px;
    margin-left: 1px;
  }
  input[disabled=disabled]{
    opacity: 0.2;
  }

  #pf_inp05{
    width: 180px;
  }
  #pf_inp06{
    width: 538px;
  }
  #pf_inp07{ width: 114px;}

  #pf_f03{
    border-top: none;
    width: 200px;
    margin-left: 0px;
    border-right: 1px solid #EEEEEE;
  }
  #pf_wpr03, #tagRow{
    height: 31px;
    margin-top: 1px;
    background: white;
    padding-left: 5px;
  }
  #pf_wpr04{
    border-top: 1px dashed #EEEEEE;
    .input_field{
      font-size: 12px;
      line-height: 14px;
      height: 26px;
    }
    #pf_inp_src{
      width: 96.4%;
    }
  }

  #pf_f01, #pf_f06, #pf_f07{
    background-color:transparent;
    border-top:none; padding:0 0 5px;
  }
  #pf_f07{
    margin-top: 5px;
  }
  .pf_fg{
    /*position:relative;*/
  }
  #pf_f06{
    float: right;
    z-index: 1;
  }

  .field{
    .item{
      font-size:14px;
      line-height:30px;
      padding: 0 10px;
      position: relative;
    }
    .tag{
      display: inline-block;
      margin-left: 5px;
      border: 1px solid #DDD;
      position: relative;
      padding: 0 26px 0 8px;
      line-height: 22px;
      &:first-child{ margin-left: 0; }
      .xbt{
        top: 2px;
        right: 3px;
        position: absolute;
      }
    }
    .topic{
      display: block;
    }
    .new{

    }
  }

  /*.field .sel_item */
  .xbt, #cancelEvt{
    line-height: 14px;
    padding: 0;
    height: 14px;
    width: 15px;
    margin: 1px;
    overflow: hidden;
    color: #CCC;
    position: absolute;
    top: 6px;
    right: 8px;
    text-indent: 1px;
    font-size: 22px;
    font-weight: normal;
    border:1px solid #EEEEEE;
  }

  .xbt:hover, #cancelEvt:hover{
    color:white;
      background: #2f4f4f;
    text-decoration: none;
  }
  .inst_ul{
    background: #FFF;
    margin:0; padding:0;
    list-style:none;
    margin-bottom:6px;
    position: absolute;
    left: 3px; top:26px;
    width: 98%;
    z-index: 5;
    border:1px solid #ccc;
    li {
      border-top: 1px solid #EEE;
      padding: 0 6px;
      line-height: 22px;
    }
    li.arrselected{
      background-color:#DDD;
      cursor:pointer;
    }
  }

  .newItemForm{
    padding:6px; margin-bottom:6px;
    background:#f8f8f8;
  }

  #pf_ef{
    padding: 16px 10px;
    margin: 0 10px 10px;
    border-top: 1px dashed #EEE;
    background: #f4f4f4;
    .row{
      margin-bottom: 5px; position: relative;
      &:last-child{margin-bottom: 0}
      .col1{
        width: 40px;
        text-align: right;
        vertical-align: top;
        line-height: 22px;
      }
      .inst_ul{
        left: 45px;
        width: 87%;
      }
      #pf_ef_inp01, #pf_ef_inp02, #event_place_sel{
        width: 87%; max-width: 87%;
        margin:0; padding:0;
      }
      #pf_ef_inp02{
        height: 40px;
        min-height: 40px;
        border: 1px solid #CCC;
        line-height: 14px;
      }
    }

  }

  #pf_f08{
    height: 22px;
    display: inline-block;
    padding: 0;
    line-height: 22px;
    vertical-align: middle;
    border: none;
    display: inline;
  }

  .postAtt{
    .pi_item{
      width: 21px;
      height: 20px;
      position: absolute;
      text-align: center;
      color: #CCC;
      top: 0px;
      left: -28px;
      border: 1px solid #DDD;
      line-height: 20px;
      font-size: 16px;
      text-indent: 23px;
      overflow: hidden;
      background: url("../images/qkico16.png") no-repeat -372px -4px;

      &:hover{
        background-color: white;
        border-color: #2f4f4f;
      }
    }
    #attLink{
      position: absolute;
      top: 27px;
      left: -28px;
      width: 21px;
      height: 20px;
      overflow: hidden;
      text-indent: 30px;
      border: 1px solid #DDD;
      background: url("../images/qkico16.png") no-repeat -343px -4px;
      &:hover{
        text-decoration: none;
        border-color: #2f4f4f;
        background-color: white;
      }
    }
  }

  #pf_inp13{
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    z-index: 5;
    text-indent: 122px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
  }
  #pf_f09{
    position: relative;
    overflow: hidden;
    margin: 0px;
    border-bottom: none;

    #rmPhoto{
      position: absolute;
      top: 0px;
      right: 0px;
      height: 22px;
      width: 22px;
      text-align: center;
      text-decoration: none;
      font-size: 22px;
      color: darkslategray;
      line-height: 22px;
      background: white;
      &:hover{
        background: #EEE;
      }
    }
  }

  #pf_f10{
    height: auto;
    position: relative;
    .fl{
      float: left;
    }
    .clear{clear: both; font-size: 1px;}
    .fl_img{ width: 110px; }
    .fl_desc{
      width: 300px;
    }
    .img{
      float: left;
      height: 100px;
      width: 100px;
      border:1px solid #ddd;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    img{
      width: 100px;
      height: auto;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .title{
      line-height: 14px;
      font-size: 12px;
      overflow: hidden;
      font-weight: bold;
    }
    .url{
      font-size: 10px;
      color: gray; height: 14px;
      overflow: hidden;
    }
    .description{
      font-size:10px;
      line-height: 14px;
      margin-top: 5px;
    }
    .is_thumbnail{
      margin-top: 5px;
    }
    #fl_rm{
      position: absolute;
      top: 5px; right: 5px;
    }
    a.inline_edit{
      text-decoration: none;
      color: black;
      &:hover{
        background: #ff3;
      }
    }
    .inline_input{
      width: 295px;
      max-width: 295px;
    }
  }

  label.uiPostPrivacy{
    margin-right:10px;
  }
  .addbt{
    color: #CCC;
    height: 22px;
    float: left;
    margin-left: 5px;
    &:hover{
      text-decoration: none;
      color: darkslategray;
    }
  }
  .addbt_active{
    color: yellow;
  }
  #pf_opt{
    margin-top: 5px;
    height: 33px;
    line-height: 22px;
    padding:0;
    .fieldPostSubmit{
      text-align: right;
    }
  }

  .inputSuggest{
    .suggestion{
      line-height: 24px;
      font-size: 14px;
      padding: 0 10px;
      border-bottom: 1px solid #ddd;
      strong{
        color: blue;
      }
      &:last-child{
        border-bottom: none;
      }
    }
    .selected{ background-color: #F0F0F0; cursor:pointer; }
  }

  #pfTb{
    margin: 0 0 5px 0;
    padding:0;
    li{
      display: inline;

      .pftlnk{
        margin-right: 8px;
        font-size: 14px;
        i.ico{
          font-size: 16px;
          font-weight: bold;
          color: gray;
        }
      }
      .pftlnk.on{
        opacity: 0.1;
      }
    }
  }
  .removable{
    border:1px dashed #DDDDDD;
  }
  #pfTitle{
    position: relative;
    padding: 0 10px;
    #inpTitle{
      width: 100%;
      padding: 0;
      font-size: 16px;
      font-weight: bold;
    }
    .xbt{
      position: absolute;
      top: -2px; right: -18px;
      background: white;
      border: 1px dashed #cccccc;
      border-left-color: white;
      &:hover{
        color: #2f4f4f;
      }
    }
  }

  #attPhotoUI{
    position: relative;
    padding: 10px;
    background-color: #fbfbfb;
    .xbt{
      position: absolute;
      top: -2px; right: -18px;
      background: #fbfbfb;
      border: 1px solid #cccccc;
      border-left-color: #fbfbfb;
      &:hover{
        color: #2f4f4f;
      }
    }
    #addPhotoOptions{
      margin: 0;
      padding: 0;
      &:first-child{
        margin-top: 0;
      }
      li{
        position: relative;
        padding: 5px 0;
        width: 49%;
        display: inline-block;
        text-align: center;
        margin-left: 10px;
        background: #F0F0F0;
        &:first-child{
          margin-left: 0;
        }
        #inpPhoto{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 25px;
          outline: none;
          cursor: pointer;
          opacity: 0;
          text-indent: -100px;
        }
      }
    }
    #photoCont{
      .photoThumb{
        position: relative;
        display: inline-block;
        width: 136px;
        height: auto;
        min-height: 50px;
        max-height: 136px;
        background: #f5f5f5;
        margin-left: 10px;
        overflow: hidden;
        &:first-child{
          margin-left: 0;
        }
        .xbt{
          position: absolute;
          top: -1px; right: -1px;
          border:1px solid #DDDDDD;
          &:hover{
            color: #2f4f4f;
          }
        }
      }
      .photoThumb.single{
        width: 100%;
        display: block;
        min-height: 200px;
        height: auto;
        max-height: none;
      }
    }
    #pfPhotoToolPane.hasTop{
      margin-top: 7px;
    }
  }

  #pfLink{
    position: relative;
    padding: 0 10px;
    background-color: #fbfbfb;
    .xbt{
      position: absolute;
      top: -2px; right: -18px;
      background: #fbfbfb;
      border: 1px dashed #cccccc;
      border-left-color: #fbfbfb;
      &:hover{
        color: #2f4f4f;
      }
    }
    #inpLink{
      width: 100%;
      padding: 0;
    }
    #attLinkUi{
      margin: 20px 10px;
      .row{
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      .image{
        overflow: hidden;
        position: relative;
        #ximg{
          right: -1px;
          top: -1px;
          border: 1px solid #FBFBFB;
        }
      }
      .title{
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
      }
      .desc{
        font-size: 14px;
      }
      .source{
        color: #999;
        .domain{
          font-weight: bold;
        }
      }
    }
  }

  #addPhotoFromWebUI{
    position: relative;
    padding: 0 30px 0 10px;
    background: white;
    #inpPhotoUrl{
      width: 100%;
      padding: 0;
    }
    .xbt{
      position: absolute;
      top: 7px; right: 8px;
      border: none;
    }
  }

}

.infoMsgBox{
  color: #999;
  padding: 30px;
  text-align: center;

  .title{

  }
  .msg{

  }
}

.mfp-with-fade {

  // before-open state
  .mfp-content,
  .mfp-arrow,
  &.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }


  // open state
  &.mfp-ready {
    .mfp-content,
    .mfp-arrow {
      opacity: 1;
    }
    &.mfp-bg {
      opacity: 0.8; // background opacity
    }
  }

  // closed state
  &.mfp-removing {
    .mfp-content,
    .mfp-arrow,
    &.mfp-bg {
      opacity: 0;
    }
  }

}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.mfp-with-zoom.mfp-ready {
  .mfp-container{
    opacity: 1;
  }
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing{
  .mfp-container{
    opacity: 0;
  }
}
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
