<ul id="authmenu" class="menu">
    <li class="item qkr"><a class="lnk{% if current == 'index'%} active{% end %}" href="/" title="login">Qakara</a></li>
    {% if not current_user %}
    <li class="item"><a class="lnk{% if current == 'login'%} active{% end %}" href="/login" title="login">Login</a></li>
    <li class="item"><a class="lnk{% if current == 'join'%} active{% end %}" href="/join" title="login">Join</a></li>
    <li class="item"><a class="lnk{% if current == 'about'%} active{% end %}" href="/about" title="login">About</a></li>
    {% else %}
    <li class="item"><a class="lnk{% if current == 'invite'%} active{% end %}" href="/invite" title="Invite">Invite</a></li>
    <li class="item"><a class="lnk{% if current == 'setting'%} active{% end %}" href="/setting" title="Setting">Setting</a></li>
    {% end %}
</ul>