{% extends base.html %}
{% block html_title %}About{% end %}
{% block page_classes %}about{% end %}
{% block auth_menu%}{% module AuthMenu(current='about') %}{% end %}
{% block main_content %}
<div class="authFormBox box">
    <h2 class="title">Qakara</h2>
    <p>Tornado is a framework for writing responses to HTTP requests. Your job as a programmer is to write “handlers” that respond to HTTP requests that match particular criteria.</p>
    <p><span class="version">Version 0.0.1</span><br><span>&copy; 2015 viirak</span></p>
</div>
{% end %}