{% extends "../base.html" %}
{% block extra_css_00 %}
<link rel="stylesheet" href="{{ static_url("css/auth.css") }}">
{% block extra_css_01 %}{%end%}
{% end %}
{% block extra_js_00 %}
<script src="{{ static_url("js/auth/base.js") }}"></script>
{% block extra_js_01 %}{%end%}
{% end %}

{% block body %}
{%if flash %}
  <div id="flashbar" class="flash">
    <a class="close xbt" href="#">&times;</a>
    {%if flash and flash.message %}
    <div class="message">{{ flash.message }} </div>
    {% end %}
  </div>
{% end %}

<div id="page-header">
    {% block auth_menu %}{% end %}
</div>
<div id="centerCol" class="col fit">
    {% block main_content %}{% end %}
</div>
{% end %}
