{% extends base.html %}
{% block html_title %}Front{% end %}
{% block page_classes %}index{% end %}
{% block auth_menu%}{% module AuthMenu(current='index') %}{% end %}
{% block extra_js_01 %}

{% end %}
{% block main_content %}
<div id="front">
    <div class="welcome-text">
        <h2>Welcome to Qakara.</h2>
        <p>Organize and Share <strong>Knowledges</strong>.</p>
    </div>
</div>
{% end %}