{% extends base.html %}
{% block html_title %}Invite Friends{% end %}
{% block page_classes %}invite{% end %}
{% block auth_menu%}{% module AuthMenu(current='invite') %}{% end %}
{% block extra_css_01 %}
<link rel="stylesheet" href="{{ static_url("css/lib/popModal.css") }}" />
{%end%}
{% block extra_js_01 %}
<script src="{{ static_url("js/lib/popModal.min.js") }}"></script>
<script src="{{ static_url("js/auth/invite.js") }}"></script>
{% end %}
{% block main_content %}
<div class="authFormBox">

</div>
{% end %}