{% extends base.html %}
{% block html_title %}Join{% end %}
{% block page_classes %}join{% end %}
{% block auth_menu%}{% module AuthMenu(current='join') %}{% end %}
{% block extra_css_01 %}
<link rel="stylesheet" href="{{ static_url("css/lib/popModal.css") }}" />
{%end%}
{% block extra_js_01 %}
<script src="{{ static_url("js/lib/popModal.min.js") }}"></script>
<script src="{{ static_url("js/auth/join.js") }}"></script>
{% end %}
{% block main_content %}
<div class="authFormBox">
    {% if allow_join == 'close' %}
        <h3>Join is temporarily closed.</h3>
    {% elif allow_join == 'open' or invite_session %}
        <h2 class="boxTitle">Join</h2>
        <form id="openJoinForm" class="authForm" action="{{ request.uri }}" method="POST">
            <p class="formError"></p>
            <div class="emailField field">
                <div class="inpBdr"><input class="uiTextInp uiTextField" type="text" name="email" placeholder="Email" autocomplete="off" maxlength="50"/></div>
                <div class="error fieldError hide"></div>
            </div>
            <div class="usernameField field">
                <div class="inpBdr"><input class="uiTextInp uiTextField" type="text" name="username" placeholder="Username" autocomplete="off" maxlength="30"/></div>
                <div class="error fieldError hide"></div>
            </div>
            <div class="passwordField field">
                <div class="inpBdr"><input class="uiTextInp uiTextField" type="password" name="password" placeholder="Password" autocomplete="off" maxlength="30"/></div>
                <div class="error fieldError hide"></div>
            </div>

            <!-- <div class="firstNameField field">
                <div class="inpBdr"><input class="uiTextInp uiTextField" type="text" name="firstName" placeholder="First name" maxlength="30" /></div>
                <div class="error fieldError hide"></div>
            </div>
            <div class="lastNameField field">
                <div class="inpBdr"><input class="uiTextInp uiTextField" type="text" name="lastName" placeholder="Last name" maxlength="30"/></div>
                <div class="error fieldError hide"></div>
            </div> -->
            <div><input type="submit" value="Join" class="uiBtn uiBtnSubmit" id="uiBtnSubmitJoin"/></div>
        </form>
    {% end %}
</div>
{% end %}
