{% extends base.html %}
{% block html_title %}Login{% end %}
{% block page_classes %}login{% end %}
{% block auth_menu%}{% module AuthMenu(current='login') %}{% end %}
{% block extra_js_01 %}
<script src="{{ static_url("js/auth/login.js") }}"></script>
{% end %}
{% block main_content %}
<div id="pageLogin" class="pWrap">
    <div class="authFormBox box">
        <h2 class="boxTitle">Login</h2>
        <div class="pContent">
            <form id="loginForm" class="authForm" action="" method="POST">
                <div class="submitError error hide"></div>
                {% raw xsrf_form_html() %}
                <div class="inpBdr"><input class="uiTextInp uiTextField" type="text" name="username" id="uiLoginUsername" placeholder="Username" autocomplete="off" /></div>
                <div class="inpBdr"><input class="uiTextInp uiTextField" type="password" name="password" id="uiLoginPassword" placeholder="Password" autocomplete="off" /></div>
                <label class="row"><input type="checkbox" name="rememberMe" id="uiLoginRememberMe" /> Remember me</label>
                <input type="submit" value="Login" class="uiBtn uiBtnSubmit" id="uiLoginSubmit" />
            </form>
        </div>
    </div>
</div>
{% end %}