{% extends base.html %}
{% block html_title %}Login{% end %}
{% block page_classes %}Forgot Password{% end %}
{% block auth_menu%}{% module AuthMenu(current='p8') %}{% end %}
{% block extra_css_01 %}
<link rel="stylesheet" href="{{ static_url("css/lib/popModal.css") }}" />
{%end%}
{% block extra_js_01 %}
<script src="{{ static_url("js/lib/popModal.min.js") }}"></script>
<script src="{{ static_url("js/auth/p8.js") }}"></script>
{% end %}
{% block main_content %}
<div class="authFormBox box">
    <h2 class="title">Forgot Password</h2>
    <p>Please enter your email address</p>
    <form id="fp8f" class="authForm" action="/p8" method="POST">
        {% raw xsrf_form_html() %}
        <div class="submitError error hide"></div>
        <div class="inpBdr"><input class="uiTextInp uiTextField" type="text" name="email" id="inpEmail" placeholder="Email" autocomplete="off" /></div>
        <span class="error fieldError hide"></span>
        <div class="submitField field"><input type="submit" value="Submit" class="uiBtn uiBtnSubmit" id="uiBtnSubmit" /></div>
    </form>
</div>
{% end %}