{% extends base.html %}
{% block html_title %}Reset Password{% end %}
{% block page_classes %}reset-password{% end %}
{% block auth_menu%}{% module AuthMenu(current='p8_reset') %}{% end %}
{% block extra_css_01 %}
<link rel="stylesheet" href="{{ static_url("css/lib/popModal.css") }}" />
{%end%}
{% block extra_js_01 %}
<script src="{{ static_url("js/lib/popModal.min.js") }}"></script>
<script src="{{ static_url("js/lib/jquery.dotimeout.min.js") }}"></script>
<script src="{{ static_url("js/auth/p8_reset.js") }}"></script>
{% end %}
{% block main_content %}
<div class="authFormBox">
    <h2 class="boxTitle">New Password</h2>
    <form id="rp8Form" class="authForm" action="{{ request.uri }}" method="POST">
        {% raw xsrf_form_html() %}
        <p id="fErr" class="error"></p>
        <div class="passwordField field">
            <div class="inpBdr"><input class="uiTextInp uiTextField" type="password" name="password" placeholder="New password"/></div>
            <span class="error-text fieldError"></span>
        </div>
        <div class="passwordConfirmField field">
            <div class="inpBdr"><input class="uiTextInp uiTextField" type="password" name="password_confirm" placeholder="New password again"/></div>
            <span class="error-text fieldError"></span>
        </div>
        <div class="submitField field"><input type="submit" value="Save" class="uiBtn uiBtnSubmit" id="uiBtnSubmitP8"/></div>
    </form>
</div>
{% end %}