{% extends base.html %}
{% block html_title %}Account Settings{% end %}
{% block page_classes %}setting{% end %}
{% block auth_menu%}{% module AuthMenu(current='setting') %}{% end %}
{% block extra_css_01 %}
<link rel="stylesheet" href="{{ static_url("css/lib/popModal.css") }}" />
{%end%}
{% block extra_js_01 %}
<script src="{{ static_url("js/lib/popModal.min.js") }}"></script>
<script src="{{ static_url("js/auth/setting.js") }}"></script>
{% end %}
{% block main_content %}
<div class="authFormBox">
    <h1>Account Settings</h1>
    <p>&nbsp;</p>
    <table class="" width="100%" cellspacing="0">
        <tr>
            <td class="col-label" valign="top" width="120">Email</td>
            <td class="col-value">
                <span id="uiEmail" class="uiValue"><strong>{{ user.email }}</strong></span>
            </td>
        </tr>
        <tr>
            <td class="col-label">Username</td>
            <td class="col-value">
                <span id="uiUsername" class="uiValue">{% if user.username %}<strong>{{ user.username }}</strong>{% else %}&mdash;{% end %}</span>
            </td>
        </tr>
        <tr>
            <td class="col-label"></td>
            <td class="col-value">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="col-label" valign='top'>Name</td>
            <td class="col-value">
                <strong><span id="uiFullName" class="uiValue"> &mdash; </span></strong>
            </td>
        </tr>
        <tr>
            <td class="col-label" valign='top'>Gender</td>
            <td class="col-value">
                <input type="radio" name="sex" value="1" > Male
                <input type="radio" name="sex" value="0" > Female
                <input type="radio" name="sex" value="-1"> Other
            </td>
        </tr>
        <tr>
            <td class="col-label">About</td>
            <td class="col-value">
            <span id="uiBio" class="uiValue">&mdash;</span>
            </td>
        </tr>
        <tr>
            <td class="col-label">Security</td>
            <td class="col-value">
                <a href="#">Change Password</a>
            </td>
        </tr>
    </table>
</div>
{% end %}