<label class="collection">
    <input class="rdColl" type="radio" name="collection" value="<%-collection.id%>" <%if(collection.has_current_post){%>checked="checked"<%}%> />
    <span class="name"><%-collection.name%></span>
</label>
