<div class="newComment">
    <div class="cmtProps">
        <span class="profileImg">
        <% if(_user.detail && _user.detail.picture_url_s) { %>
            <img src="<%=_user.detail.picture_url_s%>" class="authImg" alt="" width="32" height="32" />
        <% } %>
        </span>
    </div>
    <form action="#" class="newCommentForm" method="post">
        <div class="inpBdr">
            <textarea class="uiTextInp uiTextarea uiCommentTextarea uiTextareaNoResize uiTextareaAutogrow" id="text" name="text" placeholder="Write comment" value="Write comment"></textarea>
        </div>
    </form>
</div>
