<%
        var str = "";
        if(comment.parent === null){ str = 'comment' }else{ str = 'reply';}
%>
<div class="header">
  <span class="profileImg">
      <% if(comment.owner.detail && comment.owner.detail.picture_url_s) { %>
          <img class="<%if(_user.id === comment.owner.id){%>authImg<%}%>" src="<%=comment.owner.detail.picture_url_s%>" alt="" width="32" height="32" />
      <% } %>
  </span>
</div>

<div class="main">
    <div class="wpr">
      <span class="commentText"><%=comment.text%></span>
    </div>
</div>

<ul class="actions <%-str%>Actions">
    <li class="item">
        <a class="profileLink <%-str%>AuthorLnk" href="<%=comment.owner.permalink%>">
            <span class="profileName nameGroup">
                <span class="uiUsername">@<%=comment.owner.username%></span>
            </span>
        </a>
    </li>

    <% if(comment.like_count > 0 || (_user!= null && _user.id !== comment.owner.id)){ %>
        <li class="item">
            <% if(_user != null && _user.id !== comment.owner.id){ %>
                <a class="<%-str%>Like icoLink <% if(_user.id == comment.owner.id) { %> uiDisabled <% } %>" href="#" title="Like this comment">
                    <i class="ico <% if(comment.is_like) { %> on <% }else{ %> off<%}%>"></i>
                    <span class="text"><% if(comment.is_like) { %> Liked <% }else{ %> Like<%}%></span>
                </a>
            <% }else{ %>
                <% if(comment.like_count > 0) { %>
                    <span class="icoLink commentLikeLbl">
                        <i class="ico <% if(comment.is_like) { %> on <% }else{ %> off<%}%>"></i>
                        <span class="text">Like</span>
                    </span>
                <% } %>
            <% } %>
            <span class="uiCommentLikeCount"></span>
        </li>
    <% } %>

    <% if (comment.parent === null) {%>
        <% if(comment.child_count > 0 || (_user!= null && _user.id !== comment.owner.id)){ %>
        <li class="item">
            <% if(_user && _user.id !== comment.owner.id) {%>
                <a class="uiCommentReply uiReply icoLink" href="#" title="Reply this comment">
                    <i class="ico <% if(comment.child_count >= 1) { %> on <% }else{ %> off<%}%>"></i>
                    <span class="text">Repl<%=comment.child_count > 1 ?'ies':'y' %></span>
                </a>
            <% }else{%>
                <% if(comment.child_count > 0) { %>
                    <span class="uiCommentReplyLbl icoLink">
                        <i class="ico <% if(comment.child_count >= 1) { %> on <% }else{ %> off<%}%>"></i>
                        <span>Repl<%=comment.child_count > 1 ?'ies':'y' %></span>
                    </span>
                <% } %>
            <% } %>
            <span class="uiCommentReplyCount"></span>
        </li>
        <% } %>
    <% } %>

    <% if(_user != null){ %>
    <li class="item">
        <a class="uiCommentOptions" href="#" title="More">
            <span class="text">&#8226; &#8226; &#8226;</span>
        </a>
        <div class="commentOptions hide">
            <ul class="menu popmenu">
        <% if(_user.id === comment.owner.id || _user.id === post.owner.id){ %>
            <li class="item">
                <a href="#" class="<%-str%>Delete icoLink">
                    <i class="ico off"></i>
                    <span class="text">Delete</span>
                </a>
            </li>
        <% }else{ %>
            <li class="item">
                <a class="<%-str%>Report icoLink <% if(comment.is_report) { %> disabled <% } %>" href="#" title="Report this comment">
                    <i class="ico <% if(comment.is_report) { %> on <% }else{ %> off<%}%>"></i>
                    <span class="text">Report</span>
                </a>
            </li>
            <li class="item">
                <a class="<%-str%>Hide icoLink" href="#" title="Report this comment">
                    <i class="ico off"></i>
                    <span class="text">Hide</span>
                </a>
            </li>
        <% } %>
            </ul>
        </div>
    </li>
    <% } %>

    <li class="item">
        <% if(comment.modified_at) { %> <span class="uiVerb gray">edited</span> <% } %>
        <span class="dateGroup">
            <% var dt = comment.created_at %>
            <% if(comment.modified_at) dt = comment.modified_at %>
            <% dt = mm(dt,'X').format('YYYY-MM-DDTHH:mm:ss')%>
            <abbr class="timeago uiDate" title="<%=dt%>"><%=mm.utc(dt).fromNow()%></abbr>
        </span>
    </li>

</ul>
