<!-- <ul id="content-menu" class="menu stickyNav">
    <li class="leaf"><a class="ma posted" href="/#/posts">Posts</a>
        <ul class="submenu">
            <li>Text</li>
            <li>Image</li>
            <li>Article</li>
            <li>Video</li>
        </ul>
    </li>
</ul> -->
