<div id="pf_wpr03">
  <div id="pf_f03" class="field">
    <span class="inp-wpr"><input type="text" name="post_topic" id="pf_inp05" class="uiTextField input_field inst_search_field" autocomplete="off" maxlength="21" tabindex="2" placeholder="Topic" /></span>
  </div>
  <div id="pf_f05" class="field tag-group">
    <span class="inp-wpr"><input type="text" name="post_subtopic" id="pf_inp07" class="uiTextField uiTagInput input_field inst_search_field" autocomplete="off" maxlength="11" tabindex="3" placeholder="Tag" disabled="disabled" /></span>
  </div>
</div>