<div id="dialog_content" class="dialog_content dlgShare">
    <div class="dialogModal_header">Share</div>
    <div class="dialogModal_content dlgShare">
        <div class="inpBdr"><textarea class="uiTextInp uiTextarea uiTextareaNoResize uiTextInputNoOutline uiTextareaAutogrow" id="uiShareComment" name="text" placeholder="Say something ..." value=""></textarea></div>
        <div class="content shareContent">
            <div class="hdr">
                <a href="<%=post.owner.profile_url_s%>" class="profileLink">@<%=post.owner.username%></a>'s <a href="<%=post.permalink%>">post</a>
            </div>
            <% if (post.photos !== null) { %>
                <div class="picture">
                    <img src="<%=post.photos[0].path%>" alt="" width="100%" />
                </div>
            <% } %>
            <% if (post.text !== null) { %>
            <div class="text">
                <%=post.text.text%>
            </div>
            <% } %>
            <% if (post.product !== null) { %>
            <div class="product">
                <div class="productImg"><img src="<%=post.product.image_url%>" alt="<%=post.product.title%>" /></div>
                <div class="ProductPrice"><span class="text">$<%=post.product.prices[0].price%></span></div>
            </div>
            <% } %>
            <% if (post.parent) { %>
                <div class="pshared">
                    <div class="hdr">
                        <a class="profileLink" href="<%=post.parent.owner.profile_url_s%>">
                            <span class="profileImg">
                                <img src="<%=post.parent.owner.picture_url_s%>" alt="" width="32" height="32" />
                            </span>
                            <span class="profileName nameGroup">
                                <span class="uiUsername">@<%=post.parent.owner.username%></span>
                            </span>
                        </a>
                        <span class="dateGroup">
                            <span class="uiMdash">&mdash;</span> <abbr class="timeago post_date" title="<%=post.parent.created_at%>"><%=moment.utc(post.parent.created_at).fromNow()%></abbr>
                        </span>
                    </div>
                    <div class="bd">
                        <% if (post.parent.photos !== null) { %>
                            <div class="postimg">
                                <img src="<%=post.parent.photos[0].path%>" alt="" width="500" />
                            </div>
                        <% } %>
                        <% if(post.parent.text) { %>
                            <div class="text"><%=post.parent.text.text %></div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div class="dialogModal_footer">
        <button type="button" class="uiBtn uiBtnDark" data-dialogmodal-but="ok">Share</button>
        <button type="button" class="uiBtn" data-dialogmodal-but="cancel">Cancel</button>
    </div>
</div>
