<div class="dlgForm">
    <div class="field name">
        <div class="inpBdr">
            <input type="text" name="first_name" value="<%-first_name%>" placeholder="first name" autocomplete="off" id="uiFirstName" class="uiTextInp uiTextField" />
        </div>
        <div class="state hide"></div>
    </div>
    <div class="field name">
        <div class="inpBdr">
            <input type="text" name="first_name" value="<%-middle_name%>" placeholder="middle name (optional)" autocomplete="off" id="uiMiddleName" class="uiTextInp uiTextField" />
        </div>
        <div class="state hide"></div>
    </div>
    <div class="field name">
        <div class="inpBdr">
            <input type="text" name="last_name" value="<%-last_name%>" placeholder="last name" autocomplete="off" id="uiLastName" class="uiTextInp uiTextField" />
        </div>
        <div class="state hide"></div>
    </div>
    <div class="field p8field uiDisabled">
        <div class="inpBdr">
            <input type="password" name="password" value="" placeholder="Password" autocomplete="off" id="uiP8" class="uiTextInp uiTextField" />
        </div> <div class="state hide"></div></div>
</div>