<div id="dialog_content" class="dialog_content">
    <div class="dialogModal_header"><%=title%></div>
    <%if(typeof(imgUrl) !== 'undefined'){%>
    <div class="dialogModal_content imgContent">
        <img src="<%-imgUrl%>" alt="" />
    </div>
    <%}else{%>
    <div class="dialogModal_content">
        <div class="content"></div>
    </div>
    <div class="dialogModal_footer">
        <button id="butOk" type="button" class="uiBtn uiBtnDark <%if(typeof(okButText) !== 'undefined' && okButText === 'Delete') {%> uiBtnDelete<% } %>" data-dialogmodal-but="ok"><%= typeof(okButText) !== 'undefined' ? okButText: 'Submit' %></button>
        <% if(isCancelBut == true) {%>
        <button id="butCancel" type="button" class="uiBtn" data-dialogmodal-but="cancel">Cancel</button>
        <% } %>
    </div>
    <%}%>
</div>
