<div class="dlgForm">
    <div class="field"><div class="inpBdr"><input type="text" name="email" value="<%-email%>" placeholder="Email" autocomplete="off" id="uiEmailField" class="uiTextInp uiTextField" /></div> <div class="state hide"></div></div>
    <div class="pwdbox uiDisabled">
        <label>Password is required</label>
        <div class="field">
            <div class="inpBdr">
                <input id="rqPwd" type="password" name="password" class="uiTextInp uiTextField" />
            </div>
            <div id="p8Er" class="state hide"></div>
        </div>
    </div>
</div>