<div id="dialog_content" class="dialog_content dialog_report">
    <div class="dialogModal_header">Report</div>
    <div class="dialogModal_content share_dialog">
        <div class="content">
            <ul class="cats">
                <% for (var i = 0; i < categories.length; i++) { %>
                <li><label><input class="uiContentReportRadio" <% if(i === 0) { %> checked="checked" <% } %> type="radio" name="category" value="<%=categories[i].id%>"> <span class="uiLabelText"><%=categories[i].title%></span></label></li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="dialogModal_footer">
        <button type="button" class="uiBtn uiBtnDark" data-dialogmodal-but="ok">Submit</button>
        <button type="button" class="uiBtn" data-dialogmodal-but="cancel">Cancel</button>
    </div>
</div>