<div class="dlgForm">
    <div class="field"><div class="inpBdr"><input type="password" name="oldp8" value="" placeholder="Old Password" autocomplete="off" id="uiOldP8" class="uiTextInp uiTextField" /></div> <div class="state hide"></div></div>
    <div class="newP8Fields uiDisabled">
        <div class="field"><div class="inpBdr"><input type="password" name="newp8" value="" placeholder="New Password" autocomplete="off" id="uiNewP8" class="uiTextInp uiTextField" /></div> <div class="state hide"></div></div>
        <div class="field"><div class="inpBdr"><input type="password" name="newp8c" value="" placeholder="New Password Again" autocomplete="off" id="uiNewP8C" class="uiTextInp uiTextField" /></div> <div class="state hide"></div></div>
    </div>
</div>