<div id="pf">
<form id="pf_form" action="/bb/text/posts" method="POST">
    <div id="pf_wpr01" class="pf_wpr"></div>
    <div id="pf_opt" class="pf_fg">
      <div class="fieldPostSubmit aRight">
          <label class="uiPostPrivacy"><input type="checkbox" name="post_privacy" value="0" id="pf_inp09" tabindex="4" /> Private</label>
          <input type="submit" name="submit" value="Post" id="pf_inp11" class="submit uiBtn uiBtnOrange postSubmit" tabindex="6" />
      </div>
    </div>
</form>
</div>
