<div id="pf" class="newPost">
  <p>Hey Kara, remember this
      <select id="selPostType">
          <option value="text">Text</option>
          <option value="photo">Photos</option>
          <option value="link">Link</option>
          <option value="code">Code</option>
      </select>
  </p>
  <!-- <ul id="pfTb" class="menu"> -->
      <!--?<li class="item"><a id="addTitle" class="pftlnk icoLink" href="#" title="Add Title"><i class="ico">+</i><span class="text">Title</span></a></li>-->
  <!--    <li class="item"><a id="addPhotos" class="pftlnk icoLink" href="#" title="Add Photos"><i class="ico">+</i><span class="text">Photo</span></a></li> -->
      <!--?<li class="item"><a id="addLink" class="pftlnk icoLink" href="#" title="Add Link"><i class="ico">+</i><span class="text">Link</span></a></li>-->
  <!--    <li class="item"><label class="uiPostQ"><input type="checkbox" name="postQ" value="0" id="isPostQ" tabindex="4" /> Question</label></li>
  </ul> -->
  <form id="pf_form" action="/bb/posts/create" method="POST">
    <div id="pf_wpr01" class="pf_wpr">
      <div id="pf_f02" class="row field">
        <textarea id="pf_inp04" class="uiTextarea" placeholder="What have you learnt?" tabindex="1"></textarea>
      </div>
      <div id="pf_wpr04" class="field">
          <input type="text" name="post_src" id="pf_inp_src" class="uiTextField input_field" autocomplete="off" tabindex="" placeholder="Source" />
      </div>
      <div id="pf_wpr02" class="pf_fg">
        <div id="pf_wpr03">
          <div id="pf_f03" class="field">
            <span class="inp-wpr"><input type="text" name="post_topic" id="pf_inp05" class="uiTextField input_field inst_search_field" autocomplete="off" maxlength="21" tabindex="2" placeholder="Topic" /></span>
          </div>
          <div id="pf_f05" class="field tag-group">
            <span class="inp-wpr"><input type="text" name="post_subtopic" id="pf_inp07" class="uiTextField uiTagInput input_field inst_search_field" autocomplete="off" maxlength="11" tabindex="3" placeholder="Tag" disabled="disabled" /></span>
          </div>
        </div>
      </div>
    </div>

    <div id="pf_opt" class="pf_fg">
      <div class="fieldPostSubmit aRight">
          <label class="uiPostPrivacy"><input type="checkbox" name="post_privacy" value="0" id="pf_inp09" tabindex="4" /> Private</label>
          <input type="submit" name="submit" value="Post" id="pf_inp11" class="submit uiBtn uiBtnOrange postSubmit" tabindex="6" />
      </div>
    </div>
  </form>
  <!-- <div class="postAtt">
    <div id="attPhoto">
    <form id="pf_img" action="/bb/photos/create" enctype="multipart/form-data" method="POST" target="pf_upload_target">
        <input type="hidden" name="csrf_token" value="${request.session.get_csrf_token()}" />
        <div class="pi_item">
          <input id="pf_inp13" class="inputFile" name="picture" type="file" title="Add Picture" accept="image/*" />
          <span class="lbl">+</span>
        </div>
    </form>
    </div>
    <a id="attLink" class="attBtn" href="#" title="Attach Link">+Link</a>
    %if not event:
    <a id="addbt_event" href="#" class="addbt" title="At event" data-titlemodal="init" data-placement="top"> + Event</a>
    %endif
    -->
  </div>
</div>