<%
    var cls = "";
    if(!notification.is_read) cls += 'unread';
    if(!notification.is_seen) cls += ' unseen';

    var url = "";
    if (typeof(notification.posts) !== 'undefined') {
       url = notification.posts[0].permalink;
       if (typeof(notification.comment_id) !== 'undefined') url += '?cmt='+ notification.comment_id;
    }

    var names = '', otherActorCount = 0;
    for (var j = 0; j <= notification.actors.length - 1; j++) {
        if (j <= 2) {
            if (j > 0) names += ', ';
            names += '<span class="uiUsername">@'+notification.actors[j].username+'</span>';
        }else{
            otherActorCount++;
        }
    }
%>
<%if (notification.verb == 'followed') {%>
<div class="notifItem <%=cls%>">
<%}else{%>
<a class="notifItem <%=cls%>" href="<%=url%>">
<%}%>
<span class="profileImg firstActor">
    <% if(notification.actors[0].picture_url_s) {%>
        <img class="uiActorImg" src="<%=notification.actors[0].picture_url_s%>" width="32" height="32" />
    <%}%>
</span>
<div class="ntwpr">
    <span class="actorNames"><%=names%></span>
    <%if (otherActorCount > 0) {%> and <%=otherActorCount%> others<%}%>

    <span class="verb"><%=notification.verb%></span>
    <%if (notification.verb == 'commented') {%> on
        <%if (user.id == notification.posts[0].author.id) {%>
            <span>your post</span>
        <%} else {%>
            <%=notification.posts[0].author.first_name%>'s post
        <%}%>
    <%}%>
    <%if (notification.verb == 'liked' || notification.verb == 'favorited') {%>  your post <%}%>
    <%if (notification.verb == 'followed') {%>
        you.<br />
    <%}%>
    <%if (notification.verb == 'posted' || notification.verb == 'liked' || notification.verb == 'commented' || notification.verb == 'shared' || notification.verb == 'favorited') {%>
        <%if (notification.posts.length == 1) {%>
            <%var text = ""%>
            <span class="descText">
                <%if(notification.posts[0].text){
                    text = $(notification.posts[0].text.text).text();%>
                    <%=$.truncate(text, { length: 100, words: true })%>
                <%}%>
            </span>
        <%} else {%>
            <%for (var k = 0; k <= notification.posts.length - 1; k++) {%>

            <%}%>
        <%}%>
    <%}%>
    <span class="notifDate"><abbr class="uiDate gray"><%=moment.utc(notification.created_at).fromNow()%></abbr></span>
</div>
<%if (notification.verb == 'followed') {%>
</div>
<%}else{%>
</a>
<%}%>
<div class="itemActionDiv">
    <%if (!notification.is_read){%>
        <a class="uiItemAction check" href="#" data-titlemodal="init" data-placement="top" title="Mark as Read">&checkmark;</a>
    <%}%>
</div>