<%
var name = "";
if(user.detail && user.detail.full_name != '-') {
    name = user.detail.full_name;
}else{
    name = '<span class="atSign">@</span>'+ user.username;
}
%>
<div class="popinfo">
    <div class="popinfoContent">
        <div class="imgbox">
            <span class="image">
                <%if (user.detail && user.detail.picture_url_m) {%>
                <img src="<%-user.detail.picture_url_m%>" alt="<%-user.username%>" width="75" height="75" />
                <%}%>
            </span>
        </div>
        <h2 class="uiName"><%=name%></h2>
        <%if (user.detail && user.detail.bio != '-') {%>
        <div class="desc"><%-user.detail.bio%></div>
        <%}%>
    </div>
</div>
