<%
if (!aa) {
    var publishedDate = post.published_at;
    if (!post.published_at) publishedDate = post.created_at;
    var pd = Moment(publishedDate, 'X').format('YYYY-MM-DD HH:mm:ss');
%>
<!-- <div class="postdate">
    <span class="dayname"></span>
    <span class="daynum"></span>
    <span class="monthname"></span>
</div> -->
<%}%>
<div class="header">
    <div class="wpr">
        <%if (aa) {%>
        <%
        //var post = post;
        // if(verb == 'shared' && typeof(share_in_posts) !== 'undefined' && share_in_posts.length > 1) {
           // post = share_in_posts[0].in_post;
        //}
        %>
        <% if (aa.actors) { %>
            <div class="pimgbox">
                <span class="image">
                    <%if (aa.actors[0].picture_url_s) {%>
                    <img src="<%-aa.actors[0].picture_url_s%>" alt="<%=aa.actors[0].username%>" width="40" height="40" />
                    <%}%>
                </span>
            </div>
            <span class="actors">
            <% for (var i = 0; i < aa.actors.length; i++) { %>
                <% var actor = aa.actors[i]; %>
                <a class="profileLink actProfileLink" href="<%=actor.profile_url%>" data-ref="actor" data-username="<%-actor.username%>">
                    <span class="uiUsername"><span class="atsign">@</span><span class="username"><%=actor.username%></span></span>
                </a>
            <% } %>
            </span>
        <% } %>

        <% if (aa.verb === 'posted') { %>
            <span>
            <% if(post.type === 'question') {%>
                asked
            <%}else{%>
                posted
            <%}%>
            </span>
        <% }else if (aa.verb === 'commented') {%>
        <span> commented on</span>
        <% }else {%>
        <span> <%=aa.verb%></span>
        <% } %>

        <%if (aa.verb !== 'posted'){%>
            <%
            var p = post, pref="post-owner";
            if(aa.verb === 'shared' && aa.actors.length > 1 && post.parent){ p = post.parent; pref="parent-post-owner"; }
            %>
            <a href="<%=p.owner.profile_url%>" class="profileLink actProfileLink" data-ref="<%-pref%>"><span class="atsign">@</span><%=p.owner.username%></a>'s <a href="<%=p.permalink%>">post</a>
        <% } %>

        <% if (aa.verb !== 'shared') { %>
            <% if (typeof(aa.share_in_posts) !== 'undefined') {%>
                <% if(aa.share_in_posts.length == 1 && aa.share_in_posts[0].via_user && post.owner.id != aa.share_in_posts[0].via_user.id) { %>
                    <span> via <a href="<%=aa.share_in_posts[0].via_user.profile_url%>" class="profileLink actProfileLink" data-ref="parent-post-owner">
                        <span class="atsign">@</span><%=aa.share_in_posts[0].via_user.username%>
                    </a></span>
                <% } %>
            <% } %>
        <% } %>

        <%}else{%>
            <%if(post.id){%>
                <div class="pimgbox">
                    <span class="image">
                        <%if (post.owner.detail && post.owner.detail.picture_url_s) {%>
                        <img src="<%-post.owner.detail.picture_url_s%>" alt="<%=post.owner.detail.username%>" width="40" height="40" />
                        <%}%>
                    </span>
                </div>
                <%if(post.owner.id !== _user.id){%>
                    <a class="profileLink actProfileLink" href="<%-post.owner.permalink%>" data-ref="post-owner">
                        <span class="uiUsername"><span class="atsign">@</span><span class="username"><%=post.owner.username%></span></span>
                    </a>
                <%}else{%>
                    <span class="uiUsername"><span class="atsign">@</span><span class="username"><%=post.owner.username%></span></span>
                <%}%>
                <%if(post.parent){%>shared <a class="profileLink actProfileLink" href="<%-post.parent.owner.permalink%>" data-ref="parent-post-owner">
                    <span class="uiUsername"><span class="atsign">@</span><span class="username"><%=post.parent.owner.username%></span></span>
                </a>'s <a href="<%-post.parent.permalink%>" class="permalink" title="">post</a><%}else{%> <%if(post.type === 'question'){%>asked<%}else{%><a href="<%-post.permalink%>" class="permalink" title="">posted</a><%}%><%}%>
                <span class="dateGroup">
                    <span class="uiMdash">&mdash;</span> <abbr class="timeago post_date" title=""><%=Moment.utc(pd).fromNow()%></abbr>
                </span>
            <%}%>
        <%}%>

    </div>
</div>


<%if(post.id){%>
<div class="main">
    <div class="wpr">

        <% if (post.photos) { %>
            <div class="pictures layout<%-post.photo_layout%> pic<%-post.id%>">
                <%if (post.photos.length === 1) {%>
                <%
                    var width = '100%', cls="";
                    if(parseInt(post.photos[0].width) <= 400) width = post.photos[0].width;
                    if(width != '100%') cls='small';
                %>
                <img src="" class="<%-cls%>" data-src="<%=post.photos[0].url%>" alt="" width="<%-width%>" />
                <% } else {%>
                    <%_.each(post.photos, function(photo){%>
                        <div class="thumb c<%=post.photos.length%>"><a href="<%-photo.url%>" class="uiPostPhoto pimg<%-post.id%>"><img src="" data-src="<%=photo.url_thumb%>" alt="" width="100%" /></a></div>
                    <% }) %>
                <% }%>
            </div>
        <% } %>

        <div class="content">
            <% if (post.text) {%>
                <div class="contentText <%if (post.parent) {%>hasParent<% } %>">
                    <%if(post.text.title){%>
                    <h2 class="title"><%-post.text.title%></h2>
                    <%}%>
                    <%if(post.text.text){%>
                    <div class="text"><%=post.text.text%></div>
                    <%}%>
                    <%if(post.text.source && post.text.source != '-'){%>
                    <div class="source">&mdash; <%=post.text.source%></div>
                    <%}%>
                </div>
            <% } %>
            <% if(post.product) {%>
              <div class="postProduct">
                <div class="productImage">
                  <a class="offerLink" target="_blank" title="" href="<%=post.product.offer_url%>">
                    <img class="productImg" src="<%=post.product.image_url%>" alt="<%=post.product.title%>" width="" />
                  </a>
                </div>
                <div class="productPrice">
                  <span class="currency"><%if(post.product.prices[0].currency == 'USD'){%>$<%}%></span><span class="price"><%=post.product.prices[0].price%></span>
                </div>
                <div class="productTitle">
                  <span class="text"><%=post.product.title%></span>
                </div>
                <div class="productBrand">
                  By <span class="text"><%=post.product.brand.name%></span>
                </div>
                <a class="offerLink checkLink" target="_blank" title="" href="<%=post.product.offer_url%>">Check it out</a>
                <% if(isSolo){%>
                  <%if(post.product.features != null){%>
                <div class="productFeatures">
                  <h3 class="title">Features</h3>
                  <ul class="featureList">
                  <%_.each(post.product.features, function(feature){%>
                    <li class="feature-item"><%=feature%></li>
                  <%})%>
                  </ul>
                </div>
                <%}%>
                <%}%>
              </div>
            <% } %>
            <%if (post.link) {%>
                <a class="attLink" href="<%-post.link.href%>" title="<%-post.link.title%>" target="_blank">
                    <%if(post.link.picture){%>
                    <div class="image row"><img src="" data-src="<%-post.link.picture%>" alt="Link Image" width="100%" /></div>
                    <%}%>
                    <h3 class="title row"><%-post.link.title%></h3>
                    <div class="description row"><%-post.link.description%></div>
                    <div class="source row"><span class="domain"><%-post.link.domain%></span></div>
                </a>
            <% } %>
            <% if (post.parent) { %>
                <div class="pshared">
                    <div class="hdr">
                        <a class="profileLink actProfileLink" href="<%=post.parent.owner.permalink%>" data-ref="parent-post-owner">
                            <span class="profileImg">
                                <%if (post.parent.owner.detail.picture_url_s) {%>
                                <img src="<%=post.parent.owner.detail.picture_url_s%>" alt="" width="32" height="32" />
                                <% } %>
                            </span>
                            <span class="profileName nameGroup">
                                <span class="uiUsername"><span class="atsign">@</span><%=post.parent.owner.username%></span>
                            </span>
                        </a>
                        <span class="dateGroup">
                            <span class="uiMdash">&mdash;</span> <abbr class="timeago post_date" title="<%=post.parent.created_at%>"><%=Moment.utc(post.parent.created_at, 'X').fromNow()%></abbr>
                        </span>
                    </div>
                    <%
                    var postType = "text";
                    if(post.parent.product){
                      postType = 'product';
                    }
                    %>
                    <div class="bd <%=postType%>">
                        <% if (post.parent.photos !== null) { %>
                            <div class="postimg">
                                <img src="<%=post.parent.photos[0].path%>" alt="" width="500" />
                            </div>
                        <% } %>
                        <% if(post.parent.text) { %>
                            <div class="text"><%= post.parent.text.text %></div>
                        <% } %>
                        <% if(post.parent.product) {%>
                          <div class="postProduct">
                            <div class="productImage">
                              <a class="offerLink" target="_blank" title="" href="<%=post.parent.product.offer_url%>">
                                <img class="productImg" src="<%=post.parent.product.image_url%>" alt="<%=post.parent.product.title%>" width="" />
                              </a>
                            </div>
                            <div class="productPrice">
                              <span class="currency"><%if(post.parent.product.prices[0].currency == 'USD'){%>$<%}%></span><span class="price"><%=post.parent.product.prices[0].price%></span>
                            </div>
                            <div class="productTitle">
                              <span class="text"><%=post.parent.product.title%></span>
                            </div>
                            <div class="productBrand">
                              By <span class="text"><%=post.parent.product.brand.name%></span>
                            </div>
                            <a class="offerLink checkLink" target="_blank" title="" href="<%=post.parent.product.offer_url%>">Check it out</a>
                            <% if(isSolo){%>
                              <%if(post.product.features != null){%>
                            <div class="productFeatures">
                              <h3 class="title">Features</h3>
                              <ul class="featureList">
                              <%_.each(post.product.features, function(feature){%>
                                <li class="feature-item"><%=feature%></li>
                              <%})%>
                              </ul>
                            </div>
                            <%}%>
                            <%}%>
                          </div>
                        <% } %>
                    </div>
                </div>
            <% } %>

            <% if(typeof(share_in_posts) !== 'undefined' && share_in_posts.length > 1) { %>
                <ul class="postShareList">
                    <% for (var j = 0; j < share_in_posts.length; j++) { %>
                        <% var in_post = share_in_posts[j].in_post %>
                        <li class="item postShare">
                            <div class="hdr">
                                <a class="profileLink actProfileLink" href="<%= in_post.owner.profile_url %>" data-ref="inpost-actor" data-username="<%-in_post.owner.username%>">
                                    <span class="profileImg">
                                        <% if(in_post.owner.picture_url_s){ %>
                                            <img src="<%= in_post.owner.picture_url_s %>" alt="" width="32" height="32" />
                                        <% } %>
                                    </span>
                                    <span class="profileName">
                                        <span class="uiUsername"><span class="atsign">@</span><%= in_post.owner.username %></span>
                                    </span>
                                </a>
                                <span> share </span>
                                <% if(in_post.type == 'text'){ %>
                                    <span><a class="profileLink actProfileLink" href="<%= in_post.parent.owner.profile_url %>" data-ref="post-owner">
                                        <span class="atsign">@</span><%= in_post.parent.owner.username %>
                                    </a>'s post</span>
                                <% } %>
                                <span class="dateGroup">
                                    <span class="uiMdash">&mdash;</span>
                                    <span class="uiDate">
                                        <abbr class="timeago uiDate" title="<%= in_post.created_at %>"><%= Moment.utc(in_post.created_at, 'X').fromNow() %></abbr>
                                    </span>
                                </span>
                            </div>
                            <div class="bd">
                                <% if (in_post.text) { %>
                                    <span><%=in_post.text.text%></span>
                                <% } %>
                            </div>
                            <% if(in_post.like_count > 0 || in_post.comment_count > 0 || in_post.share_count > 0) { %>
                                <div class="ftr">
                                    <a class="sharedPostCount" href="<%= in_post.permalink %>" title="View post" data-titlemodal="init" data-placement="top">
                                        <% if (in_post.like_count > 0) { %>
                                            <span class="uiLikeCount item">Like <span class="uiSprt sprt">&#8226;</span> <span class="uiCount"><%= in_post.like_count %></span></span>
                                        <% } %>
                                        <% if (in_post.comment_count > 0) { %>
                                            <span class="uiCommentCount item">Comment <span class="uiSprt sprt">&#8226;</span> <span class="uiCount"><%= in_post.comment_count %></span></span>
                                        <% } %>
                                        <% if (in_post.share_count > 0) { %>
                                            <span class="uiShareCount item">Share <span class="uiSprt sprt">&#8226;</span> <span class="uiCount"><%= in_post.share_count %></span></span>
                                        <% } %>
                                    </a>
                                </div>
                            <% } %>
                        </li>
                    <% } %>
                </ul>
            <% } %>

            <% if (post.tags.length > 0) { %>
            <div class="contentTag">
                <span class="tagGroup">
                    <% for (var t=0; t < post.tags.length; t++){ %>
                        <a class="tag" href="/#/tags/<%= post.tags[t].slug %>"><%= post.tags[t].name %></a>
                    <% } %>
                </span>
            </div>
            <% } %>

        </div>
    </div>
</div>
<div class="footer">

    <ul class="list actions">
        <% if(_user != null && _user.id !== post.owner.id || post.like_count > 0){ %>
            <li class="item action">
                <% if(_user != null && _user.id !== post.owner.id){ %>
                    <a class="uiPostLike icoLink" href="#">
                        <i class="ico <% if(post.is_liked) { %> on <% }else{ %> off<%}%>"></i>
                        <span class="text"><% if(post.type === 'question') { %> Like <% }else{ %> Like<%}%></span>
                    </a>
                <% } else { %>
                    <% if(post.like_count > 0) { %>
                    <span class="uiPostLike icoLink">
                        <i class="ico off"></i>
                        <span class="text"><% if(post.type === 'question') { %> Like <% }else{ %> Like<%}%></span>
                    </span>
                    <% } %>
                <% } %>
                <span class="uiPostLikeCount"></span>
            </li>
        <% } %>

        <% if(_user != null && _user.id !== post.owner.id || post.comment_count > 0) { %>
            <li class="item action">
                <% if(_user != null && _user.id !== post.owner.id){ %>
                    <a class="uiPostComment icoLink" href="#" title="Comment">
                        <i class="ico <% if(post.comment_count) { %> on <% }else{ %> off<%}%>"></i>
                        <span class="text"><% if(post.type === 'question') { %>Answer<%}else{%>Comment<%}%></span>
                    </a>
                <% }else{ %>
                    <span class="uiPostComment icoLink">
                        <i class="ico off"></i>
                        <span class="text"><% if(post.type === 'question') { %>Answer<%}else{%>Comment<%}%></span>
                    </span>
                <% } %>
                <span class="uiPostCommentCount"></span>
            </li>
        <% } %>

        <% if(_user != null && _user.id !== post.owner.id || post.save_count > 0){ %>
            <li class="item save action">
                <% if(_user != null && _user.id !== post.owner.id) { %>
                    <a href="#" title="<% if(post.is_saved) { %> Remove Save <% }else{ %> Save Post<%}%>" class="uiPostSave icoLink">
                        <i class="ico <% if(post.is_saved) { %> on <% }else{ %> off<%}%>"></i>
                        <span class="text"><% if(post.is_saved) { %> Saved <% }else{ %> Save<%}%></span>
                    </a>
                <% }else{ %>
                    <% if(post.save_count > 0){ %>
                        <span class="uiPostSave icoLink">
                            <i class="ico <% if(post.is_saved) { %> on <% }else{ %> off<%}%>"></i>
                            <span class="text"><% if(post.is_saved) { %> Saved <% }else{ %> Save<%}%></span>
                        </span>
                    <% } %>
                <% } %>
                <span class="uiPostSaveCount"></span>

            </li>
        <% } %>

        <% if(_user != null && _user.id !== post.owner.id || post.share_count > 0){ %>
            <li class="item action">
                <% if(_user != null && _user.id !== post.owner.id) { %>
                    <a href="#" title="Share" class="uiPostShare icoLink">
                        <i class="ico <% if(post.is_shared) { %> on <% }else{ %> off<%}%>"></i>
                        <span class="text"><% if(post.is_shared) { %> Shared <% }else{ %> Share<%}%></span>
                    </a>
                    <div class="shareOptions hide">
                        <ul class="menu popmenu">
                            <li class="item">
                                <a class="uiShareToFollowers icoLink" href="#" title="Share to followers">
                                    <i class="ico on"></i>
                                    <span class="text">Followers</span>
                                </a>
                            </li>
                            <!-- <li class="item">
                                <a class="uiShareToFacebook icoLink" href="#" title="Share to Facebook">
                                    <i class="ico on"></i>
                                    <span class="text">Facebook</span>
                                </a>
                            </li> -->
                            <!-- <li class="item">
                                <a class="uiShareToTwitter icoLink" href="#" title="Share to Twitter">
                                    <i class="ico on"></i>
                                    <span class="text">Twitter</span>
                                </a>
                            </li>
                            <li class="item">
                                <a class="uiShareToPinterest icoLink" href="#" title="Share to Pinterest">
                                    <i class="ico on"></i>
                                    <span class="text">Pinterest</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>

                <% }else{ %>
                    <% if(post.share_count > 0){ %>
                        <span class="uiPostShare icoLink">
                            <i class="ico <% if(post.is_shared) { %> on <% }else{ %> off<%}%>"></i>
                            <span class="text"><% if(post.is_shared) { %> Shared <% }else{ %> Share<%}%></span>
                        </span>
                    <% } %>
                <% } %>
                <span class="uiPostShareCount"></span>

            </li>
        <% } %>



            <li class="item action">
                <a class="uiPostOptions" href="#" title="More">
                    <span class="text">&#8226; &#8226; &#8226;</span>
                </a>
                <div class="postOptions hide">
                    <ul class="menu popmenu">
                        <% if(_user && _user.id !== post.owner.id) { %>
                        <li class="item">
                            <a class="uiPostReport icoLink <% if(post.is_report) { %> disabled <% } %>" href="#" title="Report">
                                <i class="ico <% if(post.is_report) { %> on <% }else{ %> off<%}%>"></i>
                                <span class="text"><% if(post.is_report) { %> Reported <% }else{ %> Report<%}%></span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="uiPostHide icoLink" href="#" title="Hide">
                                <i class="ico off"></i>
                                <span class="text">Hide</span>
                            </a>
                        </li>

                        <li class="item">
                            <a class="uiPostSubscribe icoLink" href="#" title="Subscribe">
                                <i class="ico <% if(post.is_subscribed) {%>on<% }else{ %>off<% } %>"></i>
                                <span class="text"><% if(post.is_subscribed) {%>Unsubscribe<% }else{ %>Subscribe<% } %></span>
                            </a>
                        </li>

                        <% } %>
                        <% if(_user && _user.id === post.owner.id) { %>
                        <li class="item">
                            <a class="uiPostDelete icoLink" href="#" title="Delete">
                                <i class="ico off"></i>
                                <span class="text">Delete</span>
                            </a>
                        </li>
                        <%}%>
                    </ul>
                </div>
            </li>
    </ul>
</div>
<%}%>
