<div class="profileCover">
  <div class="profilePicture">
      <div class="shadow"></div>
      <%if(user.detail && user.detail.picture_url_m){%>
      <img id="profileImg" class="" src="<%-user.detail.picture_url_m%>" alt="" width="150" height="150" />
      <%}%>
  </div>
  <div class="profileName nameGroup">
  <h1 class="uiFullname">
      <%if(user.detail && user.detail.full_name != '-'){%>
        <%-user.detail.full_name%>
      <%}else{%>
        <%-user.username%>
      <%}%>
  </h1>
  </div>
  <div class="profileCoverBg">
  <div class="profileCoverGroup">
  <%if(user.detail && user.detail.bio){%>
  <div class="profileTitle row"> <%-user.detail.bio%></div>
  <%}%>

  <div class="profileCountGroup row">
    <span class="profilePostCount countCol"><span class="labelText">Post</span> <span class="uiCount uiPostCount"><%-user.post_count%></span></span>
    <span class="profileFollowerCount countCol"><span class="labelText">Follower</span> <span class="uiCount uiFollowerCount"><%-user.follower_count%></span></span>
    <span class="profileFollowingCount countCol"><span class="labelText">Following</span> <span class="uiCount uiFollowingCount"><%-user.following_count%></span></span>
  </div>

  <%if (_user && _user.id !== user.id){%>
      <div class="profileActionGroup">
      <%if(user.is_followed){%>
      <div id="followRow" class="row">
        <a id="btnFollow" class="uiBtn" href="#">Following</a>
      <!-- <span class="uiIsFollowing gray">You are following.</span> -->
      </div>
      <div id="getNotifRow" class="row"><label><input type="checkbox" id="uiGetNotif" name="getNotif" value="0" <%if(user.is_notified){%>checked="checked" <%}%> /> Get Notification</label></div>
      <%}else{%>
      <div class="row"><a id="btnFollow" class="uiBtn uiBtnDark" href="#">Follow</a></div>
      <%}%>
      </div>
  <%}%>
  </div>
  </div>
</div>

<% if (user.post_count > 0 || user.share_count > 0){ %>
<!-- <div class="streamHdrLabel">Showing posts by @<%-user.username%></div> -->
<% } else{ %>
<div class="infoMsgBox box">
  <h1 class="title">Empty</h1>
  <p class="desc">@<%-user.username%> does not have any post.</p>
</div>
<% } %>
