<div class="box account">
    <div class="block block-picture">
      <div class="imgcon">
        <%if(user.detail && user.detail.picture_url_m){%>
          <img id="profileImg" src="<%=user.detail.picture_url_m%>" width="200" height="200" />
        <%}else{%>
          <img id="profileImg" src="#" width="200" height="200" />
        <%}%>
      </div>
      <div class="opt btnChangePic">
          <label for="picture" class="">Change Picture</label>
          <input id="inpProfilePic" class="inputFile" name="picture" type="file" title="Change Picture" accept="image/*" />
      </div>
    </div>

    <div class="block account-block">
      <h2 class="title hl">Account</h2>
      <div class="content">
        <div class="row">
          <label class="uiFieldLabel">Email</label>
          <%if (!user.confirm_email){%>
          <a id="uiBtnEditEmail" class="uiBtnEdit" href="#">Change</a>
          <%}%>
          <span id="uiEmail" class="uiFieldVal"><strong><%-user.email%></strong></span>
          <div class="hint">Email will not be publicly displayed.</div>
          <%if (user.status != 'inactive' && user.confirm_email && Moment.utc(user.confirm_email.expired_at, 'X').isAfter(Moment.utc())){ %>
          <div class="gray-text noticebox">
              <div class="msg">
                  <span class="msg">Check your email (<strong><%-user.confirm_email.email%></strong>) to confirm your new address.</span>
                  <br />This change will be expired <%=Moment.utc(user.confirm_email.expired_at, 'X').fromNow()%>. Until you confirm, notifications will continue to be sent to your current email address.
              </div>
              <div class="act"><a id="btnResendECC" href="#">Resend</a> &#8226; <a id="btnCancelEC" href="#">Cancel</a></div>
          </div>
          <%}%>
          <% if(user.status === 'inactive' || typeof(user.comfirm_email) !== 'undefined'){ %>
            <% var expired_at = Moment(user.confirm_email.expired_at, 'X').format('YYYY-MM-DD HH:mm:ss') %>
            <div class="gray-text noticebox">
                <div class="msg">
                    <span class="msg">Check your email (<strong><%-user.email%></strong>) to confirm your account.</span>
                    <br />This change will be expired <%=Moment.utc(expired_at).fromNow()%>.
                </div>
                <div class="act"><a id="btnResendECC" href="#">Resend</a></div>
            </div>
          <% } %>
        </div>
        <div class="row">
          <label class="uiFieldLabel">Username</label>
          <div class="uiFieldVal">
            <span id="uiUsername" class="uiValue"><%if(user.username){%><strong><%=user.username%></strong><%}else{%>&mdash;<%}%></span>
          </div>
          <%if(user.username){%><div class="hint">https://<%=user.domain%>/<%=user.username%></div><%}%>
        </div>

        <div class="row">
          <label class="uiFieldLabel">Password</label>
          <div class="uiFieldVal">
            <% if(!user.password_changed_at){ %>
              <a id="uiBtnEditPassword" class="uiBtnEdit" href="#">Change Password</a>
            <% }else{ %>
              <% var changed_at = Moment(user.password_changed_at, 'X').format('YYYY-MM-DDTHH:mm:ss') %>
              <%if (Moment.utc().diff(Moment.utc(changed_at), 'seconds') > (24*3600)){%>
                <a id="uiBtnEditPassword" class="uiBtnEdit" href="#">Change Password</a>
              <% } %>
            <% } %>
            <span class="hint">Changed <%=Moment.utc(changed_at).fromNow()%></span>
          </div>
        </div>
      </div>
    </div>

      <div class="block block-profile">
        <h2 class="title hl">Profile</h2>
        <div class="content">
          <div class="row">
            <label class="uiFieldLabel">Full Name</label>
            <div class="inpBdr"><input class="uiTextInp uiTextField" type="text" name="full_name" placeholder="Full name" autocomplete="off" value="<%if(user.detail && user.detail.full_name){%><%=user.detail.full_name%><%}%>" /></div>
            <div class="hint">Your real name, so your friends can find you.</div>
          </div>
          <div class="row">
            <label class="uiFieldLabel">Gender</label>
            <input id="gender1" type="radio" name="gender" value="male" <%if(user.detail && user.detail.gender === 'male'){%>checked<%}%>>
            <label for="gender1" class="label">Male</label> &nbsp;
            <input id="gender2" type="radio" name="gender" value="female" <%if(user.detail && user.detail.gender === 'female'){%>checked<%}%>>
            <label for="gender2" class="label">Female</label> &nbsp;
            <input id="gender3" type="radio" name="gender" value="other" <%if(user.detail && user.detail.gender === 'other'){%>checked<%}%>>
            <label for="gender3" class="label">Other</label>
          </div>
          <div class="row">
            <label class="uiFieldLabel">Birthday</label>
            <select id="birthday_year" name="setting-birthday-year" class="select-boxes2">
              <option value="0">Year</option>
              <%
              if (user.detail && user.detail.birthday){
                var birthday = new Date(user.detail.birthday);
              }
              var d = new Date(), i=d.getFullYear();
              while(i >= 1900){
              %>
                <%if(user.detail && user.detail.birthday){%>
                  <option value="<%=i%>" <%if(i == birthday.getFullYear()){%>selected=selected<%}%>><%=i%></option>
                <%}else{%>
                  <option value="<%=i%>"><%=i%></option>
                <%}%>
              <% i--; } %>
            </select>
            <% var months = ['Month','January','February','March','April','May','June','July','August','September','October','November','December'];%>
            <select id="birthday_month" name="setting-birthday-month" class="select-boxes2">
              <%for(i=0; i <= months.length-1; i++){%>
                <%if(user.detail && user.detail.birthday){%>
                  <option value="<%=i%>" <%if(i == birthday.getMonth()+1){%>selected=selected<%}%>><%=months[i]%></option>
                <%}else{%>
                  <option value="<%=i%>"><%=months[i]%></option>
                <%}%>
              <%}%>
            </select>
            <select id="birthday_day" name="setting-birthday-day" class="select-boxes2">
              <option value="0">Day</option>
              <% var i=1; while(i <= 31){%>
                <%if(user.detail && user.detail.birthday){%>
                  <option value="<%=i%>" <%if(i == birthday.getDate()){%>selected=selected<%}%>><%=i%></option>
                <%}else{%>
                  <option value="<%=i%>"><%=i%></option>
                <%}%>
              <% i++; } %>
            </select>
            <div class="hint">We'll send you a surprise on your birthday!</div>
          </div>
          <div class="row">
            <label class="uiFieldLabel">Bio</label>
            <div class="inpBdr">
              <textarea class="uiTextInp uiTextArea uiTextareaNoResize uiTextareaAutogrow" name="bio" rows="4" cols="50" placeholder="Something about yourself"><%if(user.detail && user.detail.bio){%><%=user.detail.bio%><%}%></textarea>
            </div>
          </div>
          <div id="errmsg" class="error error-text hide"></div>
          <div class="row">
            <input type="submit" value="Save Profile" class="uiBtn uiBtnSubmit" id="uiBtnSaveProfile" />
          </div>
        </div>
    </div>
</div>
