<div class="cover">
    <h1 class="name"><%-topic.name%><%if(typeof(tag) !== 'undefined'){%>/<%-tag.name%><%}%></h1>
    <%if(typeof(tag) == 'undefined'){%>
    <div class="info">
        <div class="row">
            <div class="boxFollowerCount">Followers <strong> <span class="uiFollowerCount">&#8226; <%-topic.follower_count%></span></strong></div>
            <div class="boxFollowBtn">
            <%if(!topic.is_follow === true){%>
                <a class="follow uiBtn uiBtnDark btnFollow" href="#"><span class="text">Follow</span></a>
            <%}else{%>
                <span class="stText text gray">You are following. </span>
                <a class="uiBtn uiBtnDark btnFollow" href="#"><span class="text">Unfollow</span></a>
            <%}%>
            </div>
        </div>
    </div>
    <%}%>
</div>