<%
var name = "";
if(user.first_name && user.last_name) {
    name = user.first_name + " " + user.last_name;
}else{
    name = '<span class="atSign">@</span>'+ user.username;
}
%>
<div class="userBadge badge">
    <a class="profileLink actProfileLink" href="<%=user.profile_url%>">
        <span class="profileImg">
            <img src="<%=user.picture_url_s%>" alt="" width="75" height="75" />
        </span>
        <div class="profileName nameGroup">
            <%=name%>
        </div>
    </a>
    <div class="counts">
        <span class="text">Follower: </span><span class="uiFollowerCount"><%-user.follower_count%></span>
    </div>
    <div class="desc"><%=$.truncate(user.title, { length: 50, words: true })%></div>
    <%if(quser.id !== user.id){%>
    <button class="uiBtn btnFollow <%if(user.is_follow){%>uiDisabled<%}else{%>follow<%}%>"><%if(user.is_follow) {%>Following<%}else{%>Follow<%}%></button>
    <%}%>
</div>