<div>
<div class="block">
<ul class="typelist menu">
    <li class="item"><a href="#posts">All</a></li>
    <%if(types.knowledge > 0){%><li class="item"><a id="mnKl" href="#posts/type/knowledge"><span class="text name">Knowledge</span></a> <span class="count"><%-types.knowledge%></span></li><%}%>
    <%if(types.question > 0){%><li class="item"><a href="#posts/type/question"><span class="text name">Question</span></a> <span class="count"><%-types.question%></span></li><%}%>
    <%if(privacy.public > 0){%><li class="item"><a href="#posts/pr/public"><span class="text name">Public</span></a> <span class="count"><%-privacy.public%></span></li><%}%>
    <%if(privacy.private > 0){%><li class="item"><a href="#posts/pr/private"><span class="text name">Private</span></a> <span class="count"><%-privacy.private%></span></li><%}%>
</ul>
</div>
<div class="block">
<ul class="yearlist menu block">
<% for (var i = 0; i < dates.length; i++) { %>
    <li class="item year"><a href="#posts/y/<%-dates[i].year%>"><span class="text name"><%-dates[i].year%></span></a> <span class="count"><%-dates[i].post_count%></span></li>
    <ul class="monthlist menu">
        <% for (var j = 0; j < dates[i].months.length; j++) { %>
        <li class="item"><a href="#posts/m/<%-dates[i].year%>/<%-dates[i].months[j].name%>"><span class="text name"><%-dates[i].months[j].name%></span></a> <span class="count"><%-dates[i].months[j].post_count%></span></li>
        <%}%>
    </ul>
<%}%>
</ul>
</div>
<% if(topics.length > 0) {%>
<div class="block">
<h2 class="block-title">Topics</h2>
<ul class="topiclist menu block">
<% for (var i = 0; i < topics.length; i++) { %>
    <li class="item"><a href="#posts/t/<%-topics[i].topic.slug%>"><span class="text name">#<%-topics[i].topic.name%></span></a> <span class="count"><%-topics[i].post_count%></span></li>
<%}%>
</ul>
</div>
<% } %>
</div>
