{% extends ../base.html %}
{% block extra_css_00 %}

{% block extra_css_01 %}{%end%}
{% end %}
{% block extra_js_00 %}

{% block extra_js_01 %}{%end%}
{% end %}

{% block body %}
<div id="page-header">
    {% block auth_menu %}{% end %}
</div>
<div id="centerCol" class="col fit">
    {% block main_content %}{% end %}
</div>
{% end %}