{% autoescape None %}
{% extends ../base.html %}
{% block html_title %}Home{% end %}
{% block page_classes %}home{% end %}
{% block extra_css_00 %}
<link rel="stylesheet" href="{{ static_url("css/lib/normalize.min.css") }}">
<link rel="stylesheet" href="{{ static_url("css/lib/nprogress.min.css") }}">
<link rel="stylesheet" href="{{ static_url("css/lib/perfect-scrollbar.min.css") }}">
<link rel="stylesheet" href="{{ static_url("css/lib/popModal.min.css") }}">
<link rel="stylesheet" href="{{ static_url("css//lib/magnific-popup.css") }}">
<link rel="stylesheet" href="{{ static_url("css/bb/app.css") }}">
{% end %}
{% block extra_js_00 %}
<script data-main="{{ static_url("js/main.js") }}" src="{{ static_url("js/lib/require.min.js") }}"></script>
{% end %}
{% block body %}
{%if flash %}
  <div id="flashbar" class="flash">
    <a class="close xbt" href="#">&times;</a>
    {%if flash and flash.message %}
    <div class="message">{{ flash.message }} </div>
    {% end %}
  </div>
{% end %}
<div id="home">
        <div id="topbar" class="on {%if flash %}hasflash{%end%}">
            <div class="wpr">

                <!-- <ul id="topmenu" class="menu on">
                    <li class="leaf logo"><a class="ma home" href="/" title="Qakara">Qakara</a></li>
                    <li class="leaf"><a class="ma search" href="/#search">Search</a></li>
                </ul> -->

                <ul id="um">
                    <li class="umitem"><a class="ma logo" href="/" title="Qakara">Qk</a></li>
                    <li id="uimg" class="umitem">
                      <a id="uimglnk" class="umlnk" href="#">
                        <img class="authImg" src="{%if user_detail and user_detail['picture_url_s'] %}{{ user_detail['picture_url_s'] }} {% end %}" alt="" title="" width="32" height="32" />
                      </a>
                      <div id="proIcoMenu" class="hide">
                          <h2 class="title"></h2>
                          <ul class="menu popmenu">
                              <li class="item"><a class="icoLink profile" href="/#/{{ user.username }}"><i class="ico"></i><span class="text">Profile</span></a></li>
                              <li class="item"><a class="icoLink posts" href="/#/posts"><i class="ico"></i><span class="text">Posts</span></a></li>
                          <!--    <li class="item"><a class="icoLink posts" href="/#posts"><i class="ico"></i><span class="text">Posts</span></a></li>
                              <li class="item"><a class="icoLink saves" href="/#saves"><i class="ico"></i><span class="text">Saves</span></a></li>
                              <li class="item"><a class="icoLink followers" href="/#followers"><i class="ico"></i><span class="text">Followers</span></a></li>
                              <li class="item"><a class="icoLink following" href="/#following"><i class="ico"></i><span class="text">Following</span></a></li> -->
                              <li class="item"><a class="icoLink settings" href="/#/settings"><i class="ico"></i><span class="text">Settings</span></a></li>
                              <li class="item"><a class="icoLink logout" href="/logout"><i class="ico"></i><span class="text">Logout</span></a></li>
                          </ul>
                      </div>
                    </li>
                    <!-- <li id="unotif" class="umitem">
                        <a id="unotiflnk" class="umlnk" href="#">Notification</a>
                        <span class="count hide"></span>
                    </li> -->
                    <li id="uplus" class="umitem">
                      <a id="upluslnk" class="umlnk" href="#" class="uiQAdd"><b class="icon">+</b></a>
                      <div id="plusMenu" class="hide">
                        <h2 class="title"></h2>
                        <ul class="menu popmenu">
                            <li class="item"><a class="icoLink add addProduct" href="/#/posts/product/new"><i class="ico"></i><span class="text">Product</span></a></li>
                            <li class="item"><a class="icoLink add addImage" href="/#/posts/image/new"><i class="ico"></i><span class="text">Image</span></a></li>
                            <li class="item"><a class="icoLink add addText" href="/#/posts/text/new"><i class="ico"></i><span class="text">Text</span></a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="umitem search">
                        <div class="inpBdr"><input class="uiTextInp uiTextField" type="text" name="q" placeholder="Search" autocomplete="off" /></div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="page-section" class="pWrap"></div>
    </div>

    <script type="text/template" id="section-layout">
    <aside id="leftCol" class="left col">
    </aside>
    <section id="centerCol" class="center col"></section>
    <aside id="rightCol" class="right col"></aside>
    </script>
{% end %}
